/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 180px;
}

.heroImg {
  height: 200px;
  margin: 10px 0;
}

.configSnippets {
  margin: 10px 0;
}

.pitch {
  margin: 40px 0;
}

.loveSection {
  padding: 40px 0;
  background-color: #602541;

  --ifm-heading-color: #ffffff;
}

.loveSectionPlea {
  text-align: center;
}

.loveImg {
  height: 200px;
}

.sponsorsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.sponsorsBox > a {
  flex-basis: calc(50% - 10px);
  flex-grow: 0;
}

.sponsorsBox > a > img {
  width: 100%;
  max-height: 150px;
}

.synadiaImg {
  height: 90px;
  margin: 10px 0 50px 0;
}

.furtherButton {
  position: absolute;
  right: calc(var(--ifm-pre-padding) / 2);
  bottom: calc(var(--ifm-pre-padding) / 2);
}
