/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 180px;
}

.heroImg {
  height: 200px;
  margin: 10px 0;
}

.configSnippet {
  font-size: 10pt !important;
}

.configSnippets {
  margin: 10px 0;
}

.pitch {
  margin: 40px 0;
}

.loveSection {
  padding: 40px 0;
  background-color: #602541;

  --ifm-heading-color: #ffffff;
}

.loveSectionPlea {
  text-align: center;
}

.loveImg {
  height: 200px;
}

.meltwaterImg {
  height: 60px;
  padding: 10px;
}

.humanImg {
  height: 60px;
  padding: 5px 10px;
}

.infosumImg {
  height: 70px;
  padding: 10px;
}

.communityImg {
  height: 70px;
  padding: 10px;
}

.optumImg {
  height: 80px;
  padding: 10px;
}

.auroraImg {
  height: 75px;
}

.rudderstackImg {
  height: 30px;
  padding: 0 10px;
  margin: 10px 0;
}

.wildbitImg {
  height: 45px;
  margin: 10px 0;
}

.opalaImg {
  height: 45px;
  margin: 10px;
}

.numaryImg {
  height: 60px;
  margin: 0;
  background-color: white;
}

.synadiaImg {
  height: 30px;
  margin: 10px;
}
