.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroImg {
  height: 200px;
  margin: 10px 0;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}
