.cookbookPostItem {
  background-color: var(--ifm-background-surface-color);
  border: 1px solid var(--ifm-background-surface-color);
  border-radius: var(--ifm-global-radius);
  box-shadow: var(--ifm-global-shadow-lw);
  color: var(--ifm-font-color-base);
  display: block;
  margin-bottom: var(--ifm-spacing-vertical);
  padding: calc( var(--ifm-spacing-vertical) * 1.5 ) calc( var(--ifm-spacing-horizontal) * 2 );

  transition: box-shadow var(--ifm-transition-fast), background-color var(--ifm-transition-fast);
}

.cookbookPostItem:hover {
  text-decoration: none;
  background-color: var(--ifm-background-color);
  box-shadow: var(--ifm-global-shadow-md);
}

.cookbookPostItem > * {
  color: var(--ifm-font-color-base);
}
