[submodule "vendor/github.com/jeffail/util"]
	path = vendor/github.com/jeffail/util
	url = https://github.com/jeffail/util
[submodule "vendor/gopkg.in/yaml.v2"]
	path = vendor/gopkg.in/yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor/github.com/amir/raidman"]
	path = vendor/github.com/amir/raidman
	url = https://github.com/amir/raidman
[submodule "vendor/github.com/edsrzf/mmap-go"]
	path = vendor/github.com/edsrzf/mmap-go
	url = https://github.com/edsrzf/mmap-go
[submodule "vendor/github.com/golang/protobuf"]
	path = vendor/github.com/golang/protobuf
	url = https://github.com/golang/protobuf
[submodule "vendor/github.com/jeffail/gabs"]
	path = vendor/github.com/jeffail/gabs
	url = https://github.com/jeffail/gabs
[submodule "vendor/github.com/pebbe/zmq4"]
	path = vendor/github.com/pebbe/zmq4
	url = https://github.com/pebbe/zmq4
[submodule "vendor/github.com/gdamore/mangos"]
	path = vendor/github.com/gdamore/mangos
	url = https://github.com/gdamore/mangos
[submodule "vendor/github.com/go-mangos/mangos"]
	path = vendor/github.com/go-mangos/mangos
	url = https://github.com/go-mangos/mangos
[submodule "vendor/github.com/Shopify/sarama"]
	path = vendor/github.com/Shopify/sarama
	url = https://github.com/Shopify/sarama
[submodule "vendor/github.com/davecgh/go-spew"]
	path = vendor/github.com/davecgh/go-spew
	url = https://github.com/davecgh/go-spew
[submodule "vendor/github.com/eapache/go-resiliency"]
	path = vendor/github.com/eapache/go-resiliency
	url = https://github.com/eapache/go-resiliency
[submodule "vendor/github.com/eapache/queue"]
	path = vendor/github.com/eapache/queue
	url = https://github.com/eapache/queue
[submodule "vendor/github.com/golang/snappy"]
	path = vendor/github.com/golang/snappy
	url = https://github.com/golang/snappy
[submodule "vendor/github.com/klauspost/crc32"]
	path = vendor/github.com/klauspost/crc32
	url = https://github.com/klauspost/crc32
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://github.com/golang/net
[submodule "vendor/github.com/streadway/amqp"]
	path = vendor/github.com/streadway/amqp
	url = https://github.com/streadway/amqp
[submodule "vendor/gopkg.in/alexcesaro/statsd.v2"]
	path = vendor/gopkg.in/alexcesaro/statsd.v2
	url = https://gopkg.in/alexcesaro/statsd.v2
