/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

:root {
  --ifm-color-primary: #3578e5;
  --ifm-color-primary-dark: #1d68e1;
  --ifm-color-primary-darker: #1b62d4;
  --ifm-color-primary-darkest: #1751af;
  --ifm-color-primary-light: #4e89e8;
  --ifm-color-primary-lighter: #5a91ea;
  --ifm-color-primary-lightest: #80aaef;

  --ifm-color-danger: #ff6188;
  --ifm-color-danger-dark: #ff3e6d;
  --ifm-color-danger-darker: #ff2c60;
  --ifm-color-danger-darkest: #f6003d;
  --ifm-color-danger-light: #ff84a3;
  --ifm-color-danger-lighter: #ff96b0;
  --ifm-color-danger-lightest: #ffcbd8;

  --ifm-color-success: #a9dc76;
  --ifm-color-success-dark: #98d55b;
  --ifm-color-success-darker: #90d24e;
  --ifm-color-success-darkest: #76bc30;
  --ifm-color-success-light: #bae391;
  --ifm-color-success-lighter: #c2e69e;
  --ifm-color-success-lightest: #dcf1c7;

  --ifm-color-info: #78dce8;
  --ifm-color-info-dark: #5ad4e3;
  --ifm-color-info-darker: #4bd0e0;
  --ifm-color-info-darkest: #24c0d3;
  --ifm-color-info-light: #96e4ed;
  --ifm-color-info-lighter: #a5e8f0;
  --ifm-color-info-lightest: #d2f3f7;

  --ifm-color-warning: #ffd866;
  --ifm-color-warning-dark: #ffcf42;
  --ifm-color-warning-darker: #ffca30;
  --ifm-color-warning-darkest: #faba00;
  --ifm-color-warning-light: #ffe18a;
  --ifm-color-warning-lighter: #ffe69c;
  --ifm-color-warning-lightest: #fff3d1;

  --ifm-navbar-background-color: #f9f9f9;
  --ifm-background-surface-color: #f9f9f9;
  --ifm-background-surface-color-secondary: #f3f3f3;
  --ifm-background-color: #ffffff;

  --ifm-heading-color: #000000;
  --ifm-hero-text-color: #000000;
  --ifm-blockquote-color: #3c3c3c;
  --ifm-alert-color: #000000;

  --ifm-code-font-size: 95%;
}

.footer.footer--dark {
  --ifm-footer-background-color: #272822;
}

html[data-theme="dark"] {
  --ifm-color-primary: #3bd1ff;
  --ifm-color-primary-dark: #1ccaff;
  --ifm-color-primary-darker: #0cc6ff;
  --ifm-color-primary-darkest: #00a8dc;
  --ifm-color-primary-light: #5ad8ff;
  --ifm-color-primary-lighter: #6adcff;
  --ifm-color-primary-lightest: #99e7ff;

  --ifm-background-color: #1f201c;
  --ifm-background-surface-color: #272822;
  --ifm-background-surface-color-secondary: #2a2b25;
  --ifm-navbar-background-color: #272822;

  --ifm-code-background: #2e2f28;
  --ifm-code-color: #ffffff;

  background-color: #1f201c;

  --ifm-heading-color: #ffffff;
  --ifm-hero-text-color: #ffffff;
  --ifm-color-secondary: #f0f0f0;
  --ifm-blockquote-color: #c0c0c0;
}

code {
  background-color: var(--ifm-code-background) !important;
  color: var(--ifm-code-color) !important;
}

a > code {
  color: var(--ifm-link-color) !important;
}

a.contents__link > code {
  color: var(--ifm-code-color);
}

.menu--responsive > button {
  background-color: var(--ifm-color-primary);
  border-color: var(--ifm-color-primary);
}

.header-icon-link {
  padding: var(--ifm-navbar-item-padding-vertical) calc(var(--ifm-navbar-item-padding-horizontal) * 0.8);
}

.header-icon-link:hover {
  opacity: 0.6;
}

.header-download-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;

  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM17 13l-5 5-5-5h3V9h4v4h3z'/%3E%3C/svg%3E") no-repeat;
}

html[data-theme='dark'] .header-download-link:before {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='24' viewBox='0 0 24 24' width='24'%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM17 13l-5 5-5-5h3V9h4v4h3z' style='fill:%23ffffff'/%3E%3C/svg%3E") no-repeat;
}

.header-github-link:before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='dark'] .header-github-link:before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

html[data-theme='dark'] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: #2e2f28;
  --docsearch-modal-background: var(--ifm-background-color);
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-emphasis-100);
  --docsearch-footer-background: var(--ifm-background-surface-color);
  --docsearch-key-gradient: linear-gradient(
    -26.5deg,
    var(--ifm-color-emphasis-200) 0%,
    var(--ifm-color-emphasis-100) 100%
  );
}

.markdown > table {
  border: none;
  min-width: 160px;
}

.markdown > table td {
  min-width: 160px;
}
