version: '2'
services:
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"
  kafka:
    image: wurstmeister/kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      HOSTNAME_COMMAND: "route -n | awk '/UG[ \t]/{print $$2}'"
      KAFKA_CREATE_TOPICS: "benthos_topic:1:1"
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_MESSAGE_MAX_BYTES: 100000000
    volumes:
        - /var/run/docker.sock:/var/run/docker.sock
  rabbitmq:
    image: rabbitmq
    ports:
      - "4369:4369"
      - "5671:5671"
      - "5672:5672"
      - "25672:25672"
  nats:
    image: nats
    ports:
      - "4222:4222"
      - "8222:8222"
      - "6222:6222"
  nats-streaming:
    image: nats-streaming
    command: -p 4223 -m 8223
    ports:
      - "4223:4223"
      - "8223:8223"
  nsqlookupd:
    image: nsqio/nsq
    command: /nsqlookupd
    ports:
      - "4160:4160"
      - "4161:4161"
  nsqd:
    image: nsqio/nsq
    command: /nsqd --lookupd-tcp-address=nsqlookupd:4160
    depends_on:
      - nsqlookupd
    ports:
      - "4150:4150"
      - "4151:4151"
  nsqadmin:
    image: nsqio/nsq
    command: /nsqadmin --lookupd-http-address=nsqlookupd:4161
    depends_on:
      - nsqlookupd
    ports:
      - "4171:4171"
  redis:
    image: redis
    ports:
      - "6379:6379"
  mqtt:
    image: ncarlier/mqtt
    ports:
      - "1883:1883"
  elasticsearch:
    image: elasticsearch
    ports:
      - "9200:9200"
      - "9300:9300"
  localstack:
    image: localstack/localstack
    environment:
      SERVICES: s3,sqs
    ports:
      - "4572:4572"
      - "4576:4576"
  hadoop:
    image: cybermaggedon/hadoop
    hostname: localhost
    ports: ["9000:9000", "50075:50075", "50070:50070", "50010:50010"]
  benthos-in:
    image: jeffail/benthos
    volumes:
      - $GOPATH/src/github.com/Jeffail/benthos/config/test/smoke_in.yaml:/benthos.yaml
    command: -c /benthos.yaml
    ports:
      - "4195:4195"
  benthos-out:
    image: jeffail/benthos
    volumes:
      - $GOPATH/src/github.com/Jeffail/benthos/config/test/smoke_out.yaml:/benthos.yaml
    command: -c /benthos.yaml
    ports:
      - "4196:4196"
