{
  "openapi": "3.1.0",
  "info": {
    "title": "Notion API",
    "version": "1.0.0",
    "termsOfService": "https://notion.notion.site/Terms-and-Privacy-28ffdd083dc3473e9c2da6ec011b58ac"
  },
  "servers": [
    {
      "url": "https://api.notion.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Databases",
      "description": "Database endpoints"
    },
    {
      "name": "Data sources",
      "description": "Data source endpoints"
    },
    {
      "name": "Pages",
      "description": "Page endpoints"
    },
    {
      "name": "Blocks",
      "description": "Block endpoints"
    },
    {
      "name": "Comments",
      "description": "Comment endpoints"
    },
    {
      "name": "File uploads",
      "description": "File upload endpoints"
    },
    {
      "name": "OAuth",
      "description": "OAuth endpoints (basic authentication)"
    },
    {
      "name": "Users",
      "description": "User endpoints"
    },
    {
      "name": "Search",
      "description": "Search endpoints"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "annotationRequest": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean",
            "description": "Whether the text is formatted as bold."
          },
          "italic": {
            "type": "boolean",
            "description": "Whether the text is formatted as italic."
          },
          "strikethrough": {
            "type": "boolean",
            "description": "Whether the text is formatted with a strikethrough."
          },
          "underline": {
            "type": "boolean",
            "description": "Whether the text is formatted with an underline."
          },
          "code": {
            "type": "boolean",
            "description": "Whether the text is formatted as code."
          },
          "color": {
            "$ref": "#/components/schemas/apiColor",
            "description": "The color of the text."
          }
        }
      },
      "annotationResponse": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean"
          },
          "italic": {
            "type": "boolean"
          },
          "strikethrough": {
            "type": "boolean"
          },
          "underline": {
            "type": "boolean"
          },
          "code": {
            "type": "boolean"
          },
          "color": {
            "$ref": "#/components/schemas/apiColor"
          }
        },
        "additionalProperties": false,
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ]
      },
      "apiColor": {
        "type": "string",
        "enum": [
          "default",
          "gray",
          "brown",
          "orange",
          "yellow",
          "green",
          "blue",
          "purple",
          "pink",
          "red",
          "default_background",
          "gray_background",
          "brown_background",
          "orange_background",
          "yellow_background",
          "green_background",
          "blue_background",
          "purple_background",
          "pink_background",
          "red_background"
        ],
        "description": "One of: `default`, `gray`, `brown`, `orange`, `yellow`, `green`, `blue`, `purple`, `pink`, `red`, `default_background`, `gray_background`, `brown_background`, `orange_background`, `yellow_background`, `green_background`, `blue_background`, `purple_background`, `pink_background`, `red_background`"
      },
      "apiTranscriptionStatus": {
        "type": "string",
        "enum": [
          "transcription_not_started",
          "transcription_paused",
          "transcription_in_progress",
          "summary_in_progress",
          "notes_ready"
        ]
      },
      "arrayBasedPropertyValueResponse": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/titleArrayBasedPropertyValueResponse"
          },
          {
            "$ref": "#/components/schemas/richTextArrayBasedPropertyValueResponse"
          },
          {
            "$ref": "#/components/schemas/peopleArrayBasedPropertyValueResponse"
          },
          {
            "$ref": "#/components/schemas/relationArrayBasedPropertyValueResponse"
          }
        ]
      },
      "arrayPartialRollupValueResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "array",
            "description": "Always `array`"
          },
          "array": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/simpleOrArrayPropertyValueResponse"
            },
            "maxItems": 100
          }
        },
        "required": [
          "type",
          "array"
        ],
        "title": "Array"
      },
      "audioBlockObjectResponse": {
        "title": "Audio",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "audio"
          },
          "audio": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionResponse"
          },
          "parent": {
            "$ref": "#/components/schemas/parentForBlockBasedObjectResponse"
          },
          "object": {
            "type": "string",
            "const": "block"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "audio",
          "parent",
          "object",
          "id",
          "created_time",
          "created_by",
          "last_edited_time",
          "last_edited_by",
          "has_children",
          "in_trash"
        ]
      },
      "baseWebhookPayload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "workspace_id": {
            "$ref": "#/components/schemas/idResponse"
          },
          "workspace_name": {
            "type": "string"
          },
          "subscription_id": {
            "$ref": "#/components/schemas/idResponse"
          },
          "integration_id": {
            "$ref": "#/components/schemas/idResponse"
          },
          "authors": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/idResponse"
                    },
                    "type": {
                      "type": "string",
                      "const": "person",
                      "description": "Always `person`"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "id",
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/idResponse"
                    },
                    "type": {
                      "type": "string",
                      "const": "bot",
                      "description": "Always `bot`"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "id",
                    "type"
                  ]
                }
              ]
            },
            "maxItems": 100
          },
          "attempt_number": {
            "type": "integer"
          },
          "api_version": {
            "type": "string",
            "enum": [
              "2022-06-28",
              "2025-09-03"
            ],
            "description": "The Notion API version that was used to render this webhook event's shape."
          },
          "accessible_by": {
            "type": "array",
            "items": {
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/idResponse"
                    },
                    "type": {
                      "type": "string",
                      "const": "person",
                      "description": "Always `person`"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "id",
                    "type"
                  ]
                },
                {
                  "type": "object",
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/idResponse"
                    },
                    "type": {
                      "type": "string",
                      "const": "bot",
                      "description": "Always `bot`"
                    }
                  },
                  "additionalProperties": false,
                  "required": [
                    "id",
                    "type"
                  ]
                }
              ]
            },
            "maxItems": 100
          }
        },
        "required": [
          "id",
          "timestamp",
          "workspace_id",
          "workspace_name",
          "subscription_id",
          "integration_id",
          "authors",
          "attempt_number",
          "api_version"
        ]
      },
      "blockIdCommentParentResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "block_id",
            "description": "Always `block_id`"
          },
          "block_id": {
            "$ref": "#/components/schemas/idResponse"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "block_id"
        ],
        "title": "Block Id"
      },
      "blockIdParentForBlockBasedObjectResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "block_id",
            "description": "The parent type."
          },
          "block_id": {
            "$ref": "#/components/schemas/idResponse",
            "description": "The ID of the parent block."
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "block_id"
        ]
      },
      "blockObjectRequest": {
        "anyOf": [
          {
            "title": "Embed",
            "type": "object",
            "properties": {
              "embed": {
                "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "embed"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "embed"
            ]
          },
          {
            "title": "Bookmark",
            "type": "object",
            "properties": {
              "bookmark": {
                "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "bookmark"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "bookmark"
            ]
          },
          {
            "title": "Image",
            "type": "object",
            "properties": {
              "image": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "image"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "image"
            ]
          },
          {
            "title": "Video",
            "type": "object",
            "properties": {
              "video": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "video"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "video"
            ]
          },
          {
            "title": "Pdf",
            "type": "object",
            "properties": {
              "pdf": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "pdf"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "pdf"
            ]
          },
          {
            "title": "File",
            "type": "object",
            "properties": {
              "file": {
                "$ref": "#/components/schemas/mediaContentWithFileNameAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "file"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "file"
            ]
          },
          {
            "title": "Audio",
            "type": "object",
            "properties": {
              "audio": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "audio"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "audio"
            ]
          },
          {
            "title": "Code",
            "type": "object",
            "properties": {
              "code": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "language": {
                    "$ref": "#/components/schemas/languageRequest"
                  },
                  "caption": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text",
                  "language"
                ]
              },
              "type": {
                "type": "string",
                "const": "code"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "code"
            ]
          },
          {
            "title": "Equation",
            "type": "object",
            "properties": {
              "equation": {
                "$ref": "#/components/schemas/contentWithExpressionRequest"
              },
              "type": {
                "type": "string",
                "const": "equation"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "equation"
            ]
          },
          {
            "title": "Divider",
            "type": "object",
            "properties": {
              "divider": {
                "$ref": "#/components/schemas/emptyObject"
              },
              "type": {
                "type": "string",
                "const": "divider"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "divider"
            ]
          },
          {
            "title": "Breadcrumb",
            "type": "object",
            "properties": {
              "breadcrumb": {
                "$ref": "#/components/schemas/emptyObject"
              },
              "type": {
                "type": "string",
                "const": "breadcrumb"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "breadcrumb"
            ]
          },
          {
            "title": "Table Of Contents",
            "type": "object",
            "properties": {
              "table_of_contents": {
                "type": "object",
                "properties": {
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  }
                },
                "additionalProperties": false
              },
              "type": {
                "type": "string",
                "const": "table_of_contents"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "table_of_contents"
            ]
          },
          {
            "title": "Link To Page",
            "type": "object",
            "properties": {
              "link_to_page": {
                "anyOf": [
                  {
                    "title": "Page Id",
                    "type": "object",
                    "properties": {
                      "page_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "page_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "page_id"
                    ]
                  },
                  {
                    "title": "Database Id",
                    "type": "object",
                    "properties": {
                      "database_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "database_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "database_id"
                    ]
                  },
                  {
                    "title": "Comment Id",
                    "type": "object",
                    "properties": {
                      "comment_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "comment_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "comment_id"
                    ]
                  }
                ]
              },
              "type": {
                "type": "string",
                "const": "link_to_page"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "link_to_page"
            ]
          },
          {
            "title": "Table Row",
            "type": "object",
            "properties": {
              "table_row": {
                "$ref": "#/components/schemas/contentWithTableRowRequest"
              },
              "type": {
                "type": "string",
                "const": "table_row"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "table_row"
            ]
          },
          {
            "title": "Table",
            "type": "object",
            "properties": {
              "table": {
                "$ref": "#/components/schemas/tableRequestWithTableRowChildren"
              },
              "type": {
                "type": "string",
                "const": "table"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "table"
            ]
          },
          {
            "title": "Column List",
            "type": "object",
            "properties": {
              "column_list": {
                "$ref": "#/components/schemas/columnListRequest"
              },
              "type": {
                "type": "string",
                "const": "column_list"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "column_list"
            ]
          },
          {
            "title": "Column",
            "type": "object",
            "properties": {
              "column": {
                "$ref": "#/components/schemas/columnWithChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "column"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "column"
            ]
          },
          {
            "title": "Heading 1",
            "type": "object",
            "properties": {
              "heading_1": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "is_toggleable": {
                    "type": "boolean"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "heading_1"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_1"
            ]
          },
          {
            "title": "Heading 2",
            "type": "object",
            "properties": {
              "heading_2": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "is_toggleable": {
                    "type": "boolean"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "heading_2"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_2"
            ]
          },
          {
            "title": "Heading 3",
            "type": "object",
            "properties": {
              "heading_3": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "is_toggleable": {
                    "type": "boolean"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "heading_3"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_3"
            ]
          },
          {
            "title": "Paragraph",
            "type": "object",
            "properties": {
              "paragraph": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "paragraph"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "paragraph"
            ]
          },
          {
            "title": "Bulleted List Item",
            "type": "object",
            "properties": {
              "bulleted_list_item": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "bulleted_list_item"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "bulleted_list_item"
            ]
          },
          {
            "title": "Numbered List Item",
            "type": "object",
            "properties": {
              "numbered_list_item": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "numbered_list_item"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "numbered_list_item"
            ]
          },
          {
            "title": "Quote",
            "type": "object",
            "properties": {
              "quote": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "quote"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "quote"
            ]
          },
          {
            "title": "To Do",
            "type": "object",
            "properties": {
              "to_do": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  },
                  "checked": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "to_do"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "to_do"
            ]
          },
          {
            "title": "Toggle",
            "type": "object",
            "properties": {
              "toggle": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "toggle"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "toggle"
            ]
          },
          {
            "title": "Template",
            "type": "object",
            "properties": {
              "template": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "template"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "template"
            ]
          },
          {
            "title": "Callout",
            "type": "object",
            "properties": {
              "callout": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  },
                  "icon": {
                    "$ref": "#/components/schemas/pageIconRequest"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "callout"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "callout"
            ]
          },
          {
            "title": "Synced Block",
            "type": "object",
            "properties": {
              "synced_block": {
                "type": "object",
                "properties": {
                  "synced_from": {
                    "title": "Block Id",
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "block_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "block_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "block_id"
                    ]
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "synced_from"
                ]
              },
              "type": {
                "type": "string",
                "const": "synced_block"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "synced_block"
            ]
          }
        ]
      },
      "blockObjectRequestWithoutChildren": {
        "anyOf": [
          {
            "title": "Embed",
            "type": "object",
            "properties": {
              "embed": {
                "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "embed"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "embed"
            ]
          },
          {
            "title": "Bookmark",
            "type": "object",
            "properties": {
              "bookmark": {
                "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "bookmark"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "bookmark"
            ]
          },
          {
            "title": "Image",
            "type": "object",
            "properties": {
              "image": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "image"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "image"
            ]
          },
          {
            "title": "Video",
            "type": "object",
            "properties": {
              "video": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "video"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "video"
            ]
          },
          {
            "title": "Pdf",
            "type": "object",
            "properties": {
              "pdf": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "pdf"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "pdf"
            ]
          },
          {
            "title": "File",
            "type": "object",
            "properties": {
              "file": {
                "$ref": "#/components/schemas/mediaContentWithFileNameAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "file"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "file"
            ]
          },
          {
            "title": "Audio",
            "type": "object",
            "properties": {
              "audio": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "audio"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "audio"
            ]
          },
          {
            "title": "Code",
            "type": "object",
            "properties": {
              "code": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "language": {
                    "$ref": "#/components/schemas/languageRequest"
                  },
                  "caption": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text",
                  "language"
                ]
              },
              "type": {
                "type": "string",
                "const": "code"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "code"
            ]
          },
          {
            "title": "Equation",
            "type": "object",
            "properties": {
              "equation": {
                "$ref": "#/components/schemas/contentWithExpressionRequest"
              },
              "type": {
                "type": "string",
                "const": "equation"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "equation"
            ]
          },
          {
            "title": "Divider",
            "type": "object",
            "properties": {
              "divider": {
                "$ref": "#/components/schemas/emptyObject"
              },
              "type": {
                "type": "string",
                "const": "divider"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "divider"
            ]
          },
          {
            "title": "Breadcrumb",
            "type": "object",
            "properties": {
              "breadcrumb": {
                "$ref": "#/components/schemas/emptyObject"
              },
              "type": {
                "type": "string",
                "const": "breadcrumb"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "breadcrumb"
            ]
          },
          {
            "title": "Table Of Contents",
            "type": "object",
            "properties": {
              "table_of_contents": {
                "type": "object",
                "properties": {
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  }
                },
                "additionalProperties": false
              },
              "type": {
                "type": "string",
                "const": "table_of_contents"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "table_of_contents"
            ]
          },
          {
            "title": "Link To Page",
            "type": "object",
            "properties": {
              "link_to_page": {
                "anyOf": [
                  {
                    "title": "Page Id",
                    "type": "object",
                    "properties": {
                      "page_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "page_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "page_id"
                    ]
                  },
                  {
                    "title": "Database Id",
                    "type": "object",
                    "properties": {
                      "database_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "database_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "database_id"
                    ]
                  },
                  {
                    "title": "Comment Id",
                    "type": "object",
                    "properties": {
                      "comment_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "comment_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "comment_id"
                    ]
                  }
                ]
              },
              "type": {
                "type": "string",
                "const": "link_to_page"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "link_to_page"
            ]
          },
          {
            "title": "Table Row",
            "type": "object",
            "properties": {
              "table_row": {
                "$ref": "#/components/schemas/contentWithTableRowRequest"
              },
              "type": {
                "type": "string",
                "const": "table_row"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "table_row"
            ]
          },
          {
            "title": "Heading 1",
            "type": "object",
            "properties": {
              "heading_1": {
                "$ref": "#/components/schemas/headerContentWithRichTextAndColorRequest"
              },
              "type": {
                "type": "string",
                "const": "heading_1"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_1"
            ]
          },
          {
            "title": "Heading 2",
            "type": "object",
            "properties": {
              "heading_2": {
                "$ref": "#/components/schemas/headerContentWithRichTextAndColorRequest"
              },
              "type": {
                "type": "string",
                "const": "heading_2"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_2"
            ]
          },
          {
            "title": "Heading 3",
            "type": "object",
            "properties": {
              "heading_3": {
                "$ref": "#/components/schemas/headerContentWithRichTextAndColorRequest"
              },
              "type": {
                "type": "string",
                "const": "heading_3"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_3"
            ]
          },
          {
            "title": "Paragraph",
            "type": "object",
            "properties": {
              "paragraph": {
                "$ref": "#/components/schemas/contentWithRichTextAndColorRequest"
              },
              "type": {
                "type": "string",
                "const": "paragraph"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "paragraph"
            ]
          },
          {
            "title": "Bulleted List Item",
            "type": "object",
            "properties": {
              "bulleted_list_item": {
                "$ref": "#/components/schemas/contentWithRichTextAndColorRequest"
              },
              "type": {
                "type": "string",
                "const": "bulleted_list_item"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "bulleted_list_item"
            ]
          },
          {
            "title": "Numbered List Item",
            "type": "object",
            "properties": {
              "numbered_list_item": {
                "$ref": "#/components/schemas/contentWithRichTextAndColorRequest"
              },
              "type": {
                "type": "string",
                "const": "numbered_list_item"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "numbered_list_item"
            ]
          },
          {
            "title": "Quote",
            "type": "object",
            "properties": {
              "quote": {
                "$ref": "#/components/schemas/contentWithRichTextAndColorRequest"
              },
              "type": {
                "type": "string",
                "const": "quote"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "quote"
            ]
          },
          {
            "title": "To Do",
            "type": "object",
            "properties": {
              "to_do": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "checked": {
                    "type": "boolean"
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "to_do"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "to_do"
            ]
          },
          {
            "title": "Toggle",
            "type": "object",
            "properties": {
              "toggle": {
                "$ref": "#/components/schemas/contentWithRichTextAndColorRequest"
              },
              "type": {
                "type": "string",
                "const": "toggle"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "toggle"
            ]
          },
          {
            "title": "Template",
            "type": "object",
            "properties": {
              "template": {
                "$ref": "#/components/schemas/contentWithRichTextRequest"
              },
              "type": {
                "type": "string",
                "const": "template"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "template"
            ]
          },
          {
            "title": "Callout",
            "type": "object",
            "properties": {
              "callout": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "icon": {
                    "$ref": "#/components/schemas/pageIconRequest"
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "callout"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "callout"
            ]
          },
          {
            "title": "Synced Block",
            "type": "object",
            "properties": {
              "synced_block": {
                "type": "object",
                "properties": {
                  "synced_from": {
                    "title": "Block Id",
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "block_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "block_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "block_id"
                    ]
                  }
                },
                "additionalProperties": false,
                "required": [
                  "synced_from"
                ]
              },
              "type": {
                "type": "string",
                "const": "synced_block"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "synced_block"
            ]
          }
        ]
      },
      "blockObjectResponse": {
        "anyOf": [
          {
            "$ref": "#/components/schemas/paragraphBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/heading1BlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/heading2BlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/heading3BlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/bulletedListItemBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/numberedListItemBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/quoteBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/toDoBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/toggleBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/templateBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/syncedBlockBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/childPageBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/childDatabaseBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/equationBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/codeBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/calloutBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/dividerBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/breadcrumbBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/tableOfContentsBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/columnListBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/columnBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/linkToPageBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/tableBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/tableRowBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/meetingNotesBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/embedBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/bookmarkBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/imageBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/videoBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/pdfBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/fileBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/audioBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/linkPreviewBlockObjectResponse"
          },
          {
            "$ref": "#/components/schemas/unsupportedBlockObjectResponse"
          }
        ]
      },
      "blockObjectWithSingleLevelOfChildrenRequest": {
        "anyOf": [
          {
            "title": "Embed",
            "type": "object",
            "properties": {
              "embed": {
                "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "embed"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "embed"
            ]
          },
          {
            "title": "Bookmark",
            "type": "object",
            "properties": {
              "bookmark": {
                "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "bookmark"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "bookmark"
            ]
          },
          {
            "title": "Image",
            "type": "object",
            "properties": {
              "image": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "image"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "image"
            ]
          },
          {
            "title": "Video",
            "type": "object",
            "properties": {
              "video": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "video"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "video"
            ]
          },
          {
            "title": "Pdf",
            "type": "object",
            "properties": {
              "pdf": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "pdf"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "pdf"
            ]
          },
          {
            "title": "File",
            "type": "object",
            "properties": {
              "file": {
                "$ref": "#/components/schemas/mediaContentWithFileNameAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "file"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "file"
            ]
          },
          {
            "title": "Audio",
            "type": "object",
            "properties": {
              "audio": {
                "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
              },
              "type": {
                "type": "string",
                "const": "audio"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "audio"
            ]
          },
          {
            "title": "Code",
            "type": "object",
            "properties": {
              "code": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "language": {
                    "$ref": "#/components/schemas/languageRequest"
                  },
                  "caption": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text",
                  "language"
                ]
              },
              "type": {
                "type": "string",
                "const": "code"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "code"
            ]
          },
          {
            "title": "Equation",
            "type": "object",
            "properties": {
              "equation": {
                "$ref": "#/components/schemas/contentWithExpressionRequest"
              },
              "type": {
                "type": "string",
                "const": "equation"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "equation"
            ]
          },
          {
            "title": "Divider",
            "type": "object",
            "properties": {
              "divider": {
                "$ref": "#/components/schemas/emptyObject"
              },
              "type": {
                "type": "string",
                "const": "divider"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "divider"
            ]
          },
          {
            "title": "Breadcrumb",
            "type": "object",
            "properties": {
              "breadcrumb": {
                "$ref": "#/components/schemas/emptyObject"
              },
              "type": {
                "type": "string",
                "const": "breadcrumb"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "breadcrumb"
            ]
          },
          {
            "title": "Table Of Contents",
            "type": "object",
            "properties": {
              "table_of_contents": {
                "type": "object",
                "properties": {
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  }
                },
                "additionalProperties": false
              },
              "type": {
                "type": "string",
                "const": "table_of_contents"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "table_of_contents"
            ]
          },
          {
            "title": "Link To Page",
            "type": "object",
            "properties": {
              "link_to_page": {
                "anyOf": [
                  {
                    "title": "Page Id",
                    "type": "object",
                    "properties": {
                      "page_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "page_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "page_id"
                    ]
                  },
                  {
                    "title": "Database Id",
                    "type": "object",
                    "properties": {
                      "database_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "database_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "database_id"
                    ]
                  },
                  {
                    "title": "Comment Id",
                    "type": "object",
                    "properties": {
                      "comment_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "comment_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "comment_id"
                    ]
                  }
                ]
              },
              "type": {
                "type": "string",
                "const": "link_to_page"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "link_to_page"
            ]
          },
          {
            "title": "Table Row",
            "type": "object",
            "properties": {
              "table_row": {
                "$ref": "#/components/schemas/contentWithTableRowRequest"
              },
              "type": {
                "type": "string",
                "const": "table_row"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "table_row"
            ]
          },
          {
            "title": "Heading 1",
            "type": "object",
            "properties": {
              "heading_1": {
                "$ref": "#/components/schemas/headerContentWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "heading_1"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_1"
            ]
          },
          {
            "title": "Heading 2",
            "type": "object",
            "properties": {
              "heading_2": {
                "$ref": "#/components/schemas/headerContentWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "heading_2"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_2"
            ]
          },
          {
            "title": "Heading 3",
            "type": "object",
            "properties": {
              "heading_3": {
                "$ref": "#/components/schemas/headerContentWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "heading_3"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "heading_3"
            ]
          },
          {
            "title": "Paragraph",
            "type": "object",
            "properties": {
              "paragraph": {
                "$ref": "#/components/schemas/contentWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "paragraph"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "paragraph"
            ]
          },
          {
            "title": "Bulleted List Item",
            "type": "object",
            "properties": {
              "bulleted_list_item": {
                "$ref": "#/components/schemas/contentWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "bulleted_list_item"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "bulleted_list_item"
            ]
          },
          {
            "title": "Numbered List Item",
            "type": "object",
            "properties": {
              "numbered_list_item": {
                "$ref": "#/components/schemas/contentWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "numbered_list_item"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "numbered_list_item"
            ]
          },
          {
            "title": "Quote",
            "type": "object",
            "properties": {
              "quote": {
                "$ref": "#/components/schemas/contentWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "quote"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "quote"
            ]
          },
          {
            "title": "Table",
            "type": "object",
            "properties": {
              "table": {
                "$ref": "#/components/schemas/tableRequestWithTableRowChildren"
              },
              "type": {
                "type": "string",
                "const": "table"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "table"
            ]
          },
          {
            "title": "To Do",
            "type": "object",
            "properties": {
              "to_do": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequestWithoutChildren"
                    },
                    "maxItems": 100
                  },
                  "checked": {
                    "type": "boolean"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "to_do"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "to_do"
            ]
          },
          {
            "title": "Toggle",
            "type": "object",
            "properties": {
              "toggle": {
                "$ref": "#/components/schemas/contentWithSingleLevelOfChildrenRequest"
              },
              "type": {
                "type": "string",
                "const": "toggle"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "toggle"
            ]
          },
          {
            "title": "Template",
            "type": "object",
            "properties": {
              "template": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequestWithoutChildren"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "template"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "template"
            ]
          },
          {
            "title": "Callout",
            "type": "object",
            "properties": {
              "callout": {
                "type": "object",
                "properties": {
                  "rich_text": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/richTextItemRequest"
                    },
                    "maxItems": 100
                  },
                  "color": {
                    "$ref": "#/components/schemas/apiColor"
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequestWithoutChildren"
                    },
                    "maxItems": 100
                  },
                  "icon": {
                    "$ref": "#/components/schemas/pageIconRequest"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "rich_text"
                ]
              },
              "type": {
                "type": "string",
                "const": "callout"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "callout"
            ]
          },
          {
            "title": "Synced Block",
            "type": "object",
            "properties": {
              "synced_block": {
                "type": "object",
                "properties": {
                  "synced_from": {
                    "title": "Block Id",
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "block_id": {
                        "$ref": "#/components/schemas/idRequest"
                      },
                      "type": {
                        "type": "string",
                        "const": "block_id"
                      }
                    },
                    "additionalProperties": false,
                    "required": [
                      "block_id"
                    ]
                  },
                  "children": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/blockObjectRequestWithoutChildren"
                    },
                    "maxItems": 100
                  }
                },
                "additionalProperties": false,
                "required": [
                  "synced_from"
                ]
              },
              "type": {
                "type": "string",
                "const": "synced_block"
              },
              "object": {
                "type": "string",
                "const": "block"
              }
            },
            "additionalProperties": false,
            "required": [
              "synced_block"
            ]
          }
        ]
      },
      "bookmarkBlockObjectResponse": {
        "title": "Bookmark",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "bookmark"
          },
          "bookmark": {
            "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionResponse"
          },
          "parent": {
            "$ref": "#/components/schemas/parentForBlockBasedObjectResponse"
          },
          "object": {
            "type": "string",
            "const": "block"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "bookmark",
          "parent",
          "object",
          "id",
          "created_time",
          "created_by",
          "last_edited_time",
          "last_edited_by",
          "has_children",
          "in_trash"
        ]
      },
      "booleanFormulaPropertyResponse": {
        "title": "Boolean",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "boolean"
          },
          "boolean": {
            "type": [
              "boolean",
              "null"
            ]
          }
        },
        "required": [
          "type",
          "boolean"
        ]
      },
      "booleanFormulaPropertyValueResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "boolean",
            "description": "Always `boolean`"
          },
          "boolean": {
            "oneOf": [
              {
                "type": "boolean"
              },
              {
                "type": "null"
              }
            ]
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "boolean"
        ],
        "title": "Boolean"
      },
      "botInfoResponse": {
        "type": "object",
        "properties": {
          "owner": {
            "oneOf": [
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "user",
                    "description": "Always `user`"
                  },
                  "user": {
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "id": {
                            "$ref": "#/components/schemas/idResponse",
                            "description": "The ID of the user."
                          },
                          "object": {
                            "type": "string",
                            "const": "user",
                            "description": "The user object type name."
                          },
                          "name": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "The name of the user."
                          },
                          "avatar_url": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ],
                            "description": "The avatar URL of the user."
                          },
                          "type": {
                            "type": "string",
                            "const": "person",
                            "description": "The type of the user."
                          },
                          "person": {
                            "type": "object",
                            "properties": {
                              "email": {
                                "type": "string",
                                "description": "The email of the person."
                              }
                            },
                            "additionalProperties": false,
                            "description": "The person info of the user."
                          }
                        },
                        "additionalProperties": false,
                        "required": [
                          "id",
                          "object",
                          "name",
                          "avatar_url",
                          "type",
                          "person"
                        ]
                      },
                      {
                        "$ref": "#/components/schemas/partialUserObjectResponse"
                      }
                    ],
                    "description": "Details about the owner of the bot, when the `type` of the owner is `user`. This means the bot is for a integration."
                  }
                },
                "additionalProperties": false,
                "required": [
                  "type",
                  "user"
                ],
                "title": "User"
              },
              {
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "const": "workspace",
                    "description": "Always `workspace`"
                  },
                  "workspace": {
                    "type": "boolean",
                    "const": true,
                    "description": "Details about the owner of the bot, when the `type` of the owner is `workspace`. This means the bot is for an internal integration."
                  }
                },
                "additionalProperties": false,
                "required": [
                  "type",
                  "workspace"
                ],
                "title": "Workspace"
              }
            ],
            "description": "Details about the owner of the bot."
          },
          "workspace_id": {
            "type": "string",
            "description": "The ID of the bot's workspace."
          },
          "workspace_limits": {
            "type": "object",
            "properties": {
              "max_file_upload_size_in_bytes": {
                "type": "integer",
                "minimum": 0,
                "description": "The maximum allowable size of a file upload, in bytes"
              }
            },
            "additionalProperties": false,
            "required": [
              "max_file_upload_size_in_bytes"
            ],
            "description": "Limits and restrictions that apply to the bot's workspace"
          },
          "workspace_name": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The name of the bot's workspace."
          }
        },
        "additionalProperties": false,
        "required": [
          "owner",
          "workspace_id",
          "workspace_limits",
          "workspace_name"
        ]
      },
      "botUserObjectResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "bot",
            "description": "Indicates this user is a bot."
          },
          "bot": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/emptyObject"
              },
              {
                "$ref": "#/components/schemas/botInfoResponse"
              }
            ],
            "description": "Details about the bot, when the `type` of the user is `bot`."
          }
        },
        "required": [
          "type",
          "bot"
        ],
        "title": "Bot"
      },
      "breadcrumbBlockObjectResponse": {
        "title": "Breadcrumb",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "breadcrumb"
          },
          "breadcrumb": {
            "$ref": "#/components/schemas/emptyObject"
          },
          "parent": {
            "$ref": "#/components/schemas/parentForBlockBasedObjectResponse"
          },
          "object": {
            "type": "string",
            "const": "block"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "breadcrumb",
          "parent",
          "object",
          "id",
          "created_time",
          "created_by",
          "last_edited_time",
          "last_edited_by",
          "has_children",
          "in_trash"
        ]
      },
      "bulletedListItemBlockObjectResponse": {
        "title": "Bulleted List Item",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "bulleted_list_item"
          },
          "bulleted_list_item": {
            "$ref": "#/components/schemas/contentWithRichTextAndColorResponse"
          },
          "parent": {
            "$ref": "#/components/schemas/parentForBlockBasedObjectResponse"
          },
          "object": {
            "type": "string",
            "const": "block"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "bulleted_list_item",
          "parent",
          "object",
          "id",
          "created_time",
          "created_by",
          "last_edited_time",
          "last_edited_by",
          "has_children",
          "in_trash"
        ]
      },
      "buttonPropertyConfigurationRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "button",
            "description": "Always `button`"
          },
          "button": {
            "$ref": "#/components/schemas/emptyObject"
          }
        },
        "required": [
          "button"
        ],
        "title": "Button"
      },
      "buttonPropertyItemObjectResponse": {
        "title": "Button",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "button"
          },
          "button": {
            "$ref": "#/components/schemas/emptyObject"
          },
          "object": {
            "type": "string",
            "const": "property_item"
          },
          "id": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "button",
          "object",
          "id"
        ]
      },
      "buttonSimplePropertyValueResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "const": "button",
            "description": "Always `button`"
          },
          "button": {
            "$ref": "#/components/schemas/emptyObject"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "button"
        ],
        "title": "Button"
      },
      "calloutBlockObjectResponse": {
        "title": "Callout",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
[...]
