openapi: 3.0.3
info:
  title: Notion API
  version: 1.0.0
  termsOfService: https://notion.notion.site/Terms-and-Privacy-28ffdd083dc3473e9c2da6ec011b58ac
servers:
  - url: https://api.notion.com
security:
  - bearerAuth: []
tags:
  - name: Databases
    description: Database endpoints
  - name: Data sources
    description: Data source endpoints
  - name: Pages
    description: Page endpoints
  - name: Blocks
    description: Block endpoints
  - name: Comments
    description: Comment endpoints
  - name: File uploads
    description: File upload endpoints
  - name: OAuth
    description: OAuth endpoints (basic authentication)
  - name: Users
    description: User endpoints
  - name: Search
    description: Search endpoints
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    basicAuth:
      type: http
      scheme: basic
  schemas:
    AnnotationRequest:
      type: object
      properties:
        bold:
          type: boolean
          description: Whether the text is formatted as bold.
        italic:
          type: boolean
          description: Whether the text is formatted as italic.
        strikethrough:
          type: boolean
          description: Whether the text is formatted with a strikethrough.
        underline:
          type: boolean
          description: Whether the text is formatted with an underline.
        code:
          type: boolean
          description: Whether the text is formatted as code.
        color:
          $ref: "#/components/schemas/ApiColor"
          description: The color of the text.
    AnnotationResponse:
      type: object
      properties:
        bold:
          type: boolean
        italic:
          type: boolean
        strikethrough:
          type: boolean
        underline:
          type: boolean
        code:
          type: boolean
        color:
          $ref: "#/components/schemas/ApiColor"
      required:
        - bold
        - italic
        - strikethrough
        - underline
        - code
        - color
    ApiColor:
      type: string
      enum:
        - default
        - gray
        - brown
        - orange
        - yellow
        - green
        - blue
        - purple
        - pink
        - red
        - default_background
        - gray_background
        - brown_background
        - orange_background
        - yellow_background
        - green_background
        - blue_background
        - purple_background
        - pink_background
        - red_background
    ApiTranscriptionStatus:
      type: string
      enum:
        - transcription_not_started
        - transcription_paused
        - transcription_in_progress
        - summary_in_progress
        - notes_ready
    AppendBlockChildrenRequest:
      type: object
      properties:
        children:
          type: array
          items:
            $ref: "#/components/schemas/BlockObjectRequest"
        after:
          type: string
        position:
          $ref: "#/components/schemas/ContentPositionSchema"
      required:
        - children
    AppendBlockChildrenResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - block
        block:
          type: object
        object:
          type: string
          enum:
            - list
        next_cursor:
          type: string
          nullable: true
        has_more:
          type: boolean
        results:
          type: array
          items:
            type: object
            properties:
              object:
                type: string
                enum:
                  - block
              id:
                type: string
              type:
                type: string
                enum:
                  - paragraph
                  - heading_1
                  - heading_2
                  - heading_3
                  - bulleted_list_item
                  - numbered_list_item
                  - quote
                  - to_do
                  - toggle
                  - template
                  - synced_block
                  - child_page
                  - child_database
                  - equation
                  - code
                  - callout
                  - divider
                  - breadcrumb
                  - table_of_contents
                  - column_list
                  - column
                  - link_to_page
                  - table
                  - table_row
                  - transcription
                  - embed
                  - bookmark
                  - image
                  - video
                  - pdf
                  - file
                  - audio
                  - link_preview
                  - unsupported
              paragraph:
                $ref: "#/components/schemas/ContentWithRichTextAndColorResponse"
              parent:
                $ref: "#/components/schemas/ParentForBlockBasedObjectResponse"
              created_time:
                type: string
              created_by:
                $ref: "#/components/schemas/PartialUserObjectResponse"
              last_edited_time:
                type: string
              last_edited_by:
                $ref: "#/components/schemas/PartialUserObjectResponse"
              has_children:
                type: boolean
              archived:
                type: boolean
              in_trash:
                type: boolean
              heading_1:
                $ref: "#/components/schemas/HeaderContentWithRichTextAndColorResponse"
              heading_2:
                $ref: "#/components/schemas/HeaderContentWithRichTextAndColorResponse"
              heading_3:
                $ref: "#/components/schemas/HeaderContentWithRichTextAndColorResponse"
              bulleted_list_item:
                $ref: "#/components/schemas/ContentWithRichTextAndColorResponse"
              numbered_list_item:
                $ref: "#/components/schemas/ContentWithRichTextAndColorAndListResponse"
              quote:
                $ref: "#/components/schemas/ContentWithRichTextAndColorResponse"
              to_do:
                type: object
                properties:
                  rich_text:
                    type: array
                    items:
                      $ref: "#/components/schemas/RichTextItemResponse"
                  color:
                    $ref: "#/components/schemas/ApiColor"
                  checked:
                    type: boolean
                required:
                  - rich_text
                  - color
                  - checked
              toggle:
                $ref: "#/components/schemas/ContentWithRichTextAndColorResponse"
              template:
                type: object
                properties:
                  rich_text:
                    type: array
                    items:
                      $ref: "#/components/schemas/RichTextItemResponse"
                required:
                  - rich_text
              synced_block:
                type: object
                properties:
                  synced_from:
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - block_id
                      block_id:
                        type: string
                    required:
                      - type
                      - block_id
                    nullable: true
                required:
                  - synced_from
              child_page:
                $ref: "#/components/schemas/TitleObjectResponse"
              child_database:
                $ref: "#/components/schemas/TitleObjectResponse"
              equation:
                $ref: "#/components/schemas/ExpressionObjectResponse"
              code:
                type: object
                properties:
                  rich_text:
                    type: array
                    items:
                      $ref: "#/components/schemas/RichTextItemResponse"
                  caption:
                    type: array
                    items:
                      $ref: "#/components/schemas/RichTextItemResponse"
                  language:
                    $ref: "#/components/schemas/LanguageRequest"
                required:
                  - rich_text
                  - caption
                  - language
              callout:
                type: object
                properties:
                  rich_text:
                    type: array
                    items:
                      $ref: "#/components/schemas/RichTextItemResponse"
                  color:
                    $ref: "#/components/schemas/ApiColor"
                  icon:
                    $ref: "#/components/schemas/PageIconResponse"
                    nullable: true
                required:
                  - rich_text
                  - color
                  - icon
              divider:
                type: object
              breadcrumb:
                type: object
              table_of_contents:
                type: object
                properties:
                  color:
                    $ref: "#/components/schemas/ApiColor"
                required:
                  - color
              column_list:
                type: object
              column:
                $ref: "#/components/schemas/ColumnResponse"
              link_to_page:
                type: object
                properties:
                  type:
                    type: string
                    enum:
                      - page_id
                      - database_id
                      - comment_id
                  page_id:
                    type: string
                  database_id:
                    type: string
                  comment_id:
                    type: string
                required:
                  - type
              table:
                $ref: "#/components/schemas/ContentWithTableResponse"
              table_row:
                $ref: "#/components/schemas/ContentWithTableRowResponse"
              transcription:
                $ref: "#/components/schemas/TranscriptionBlockResponse"
              embed:
                $ref: "#/components/schemas/MediaContentWithUrlAndCaptionResponse"
              bookmark:
                $ref: "#/components/schemas/MediaContentWithUrlAndCaptionResponse"
              image:
                $ref: "#/components/schemas/MediaContentWithFileAndCaptionResponse"
              video:
                $ref: "#/components/schemas/MediaContentWithFileAndCaptionResponse"
              pdf:
                $ref: "#/components/schemas/MediaContentWithFileAndCaptionResponse"
              file:
                $ref: "#/components/schemas/MediaContentWithFileNameAndCaptionResponse"
              audio:
                $ref: "#/components/schemas/MediaContentWithFileAndCaptionResponse"
              link_preview:
                $ref: "#/components/schemas/MediaContentWithUrlResponse"
              unsupported:
                type: object
            required:
              - object
              - id
      required:
        - type
        - block
        - object
        - next_cursor
        - has_more
        - results
    ArrayBasedPropertyValueResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - title
            - rich_text
            - people
            - relation
        title:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemResponse"
        rich_text:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemResponse"
        people:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              object:
                type: string
                enum:
                  - user
                  - group
                description: Always `user`
              name:
                type: string
                nullable: true
                description: The name of the user.
              avatar_url:
                type: string
                nullable: true
                description: The avatar URL of the user.
              type:
                type: string
                enum:
                  - person
                  - bot
                description: Indicates this user is a person.
              person:
                type: object
                properties:
                  email:
                    type: string
                    description: The email of the person.
                description: Details about the person, when the `type` of the user is `person`.
              bot:
                description: Details about the bot, when the `type` of the user is `bot`.
                type: object
                properties:
                  owner:
                    description: Details about the owner of the bot.
                    type: object
                    properties:
                      type:
                        type: string
                        enum:
                          - user
                          - workspace
                        description: Always `user`
                      user:
                        description: Details about the owner of the bot, when the `type` of the owner is `user`. This means // the bot is for a
                          integration.
                        type: object
                        properties:
                          id:
                            type: string
                            description: The ID of the user.
                          object:
                            type: string
                            enum:
                              - user
                            description: The user object type name.
                          name:
                            type: string
                            nullable: true
                            description: The name of the user.
                          avatar_url:
                            type: string
                            nullable: true
                            description: The avatar URL of the user.
                          type:
                            type: string
                            enum:
                              - person
                            description: The type of the user.
                          person:
                            type: object
                            properties:
                              email:
                                type: string
                                description: The email of the person.
                            description: The person info of the user.
                        required:
                          - id
                          - object
                      workspace:
                        type: boolean
                        enum:
                          - true
                        description: Details about the owner of the bot, when the `type` of the owner is `workspace`. This // means the bot is
                          for an internal integration.
                    required:
                      - type
                  workspace_id:
                    type: string
                    description: The ID of the bot's workspace.
                  workspace_limits:
                    type: object
                    properties:
                      max_file_upload_size_in_bytes:
                        type: number
                        description: The maximum allowable size of a file upload, in bytes
                    required:
                      - max_file_upload_size_in_bytes
                    description: Limits and restrictions that apply to the bot's workspace
                  workspace_name:
                    type: string
                    nullable: true
                    description: The name of the bot's workspace.
            required:
              - id
              - object
        relation:
          type: array
          items:
            $ref: "#/components/schemas/RelationItemPropertyValueResponse"
      required:
        - type
    ArrayPartialRollupValueResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - array
          description: Always `array`
        array:
          type: array
          items:
            $ref: "#/components/schemas/SimpleOrArrayPropertyValueResponse"
      required:
        - type
        - array
    AudioBlockObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - audio
        audio:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionResponse"
        parent:
          $ref: "#/components/schemas/ParentForBlockBasedObjectResponse"
        object:
          type: string
          enum:
            - block
        id:
          type: string
        created_time:
          type: string
        created_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        last_edited_time:
          type: string
        last_edited_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        has_children:
          type: boolean
        archived:
          type: boolean
        in_trash:
          type: boolean
      required:
        - type
        - audio
        - parent
        - object
        - id
        - created_time
        - created_by
        - last_edited_time
        - last_edited_by
        - has_children
        - archived
        - in_trash
    BlockIdCommentParentResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - block_id
          description: Always `block_id`
        block_id:
          type: string
      required:
        - type
        - block_id
    BlockIdParentForBlockBasedObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - block_id
          description: The parent type.
        block_id:
          type: string
          description: The ID of the parent block.
      required:
        - type
        - block_id
    BlockObjectRequest:
      type: object
      properties:
        embed:
          $ref: "#/components/schemas/MediaContentWithUrlAndCaptionRequest"
        type:
          type: string
          enum:
            - embed
            - bookmark
            - image
            - video
            - pdf
            - file
            - audio
            - code
            - equation
            - divider
            - breadcrumb
            - table_of_contents
            - link_to_page
            - table_row
            - table
            - column_list
            - column
            - heading_1
            - heading_2
            - heading_3
            - paragraph
            - bulleted_list_item
            - numbered_list_item
            - quote
            - to_do
            - toggle
            - template
            - callout
            - synced_block
        object:
          type: string
          enum:
            - block
        bookmark:
          $ref: "#/components/schemas/MediaContentWithUrlAndCaptionRequest"
        image:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionRequest"
        video:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionRequest"
        pdf:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionRequest"
        file:
          $ref: "#/components/schemas/MediaContentWithFileNameAndCaptionRequest"
        audio:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionRequest"
        code:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            language:
              $ref: "#/components/schemas/LanguageRequest"
            caption:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
          required:
            - rich_text
            - language
        equation:
          $ref: "#/components/schemas/ContentWithExpressionRequest"
        divider:
          type: object
        breadcrumb:
          type: object
        table_of_contents:
          type: object
          properties:
            color:
              $ref: "#/components/schemas/ApiColor"
        link_to_page:
          type: object
          properties:
            page_id:
              type: string
            type:
              type: string
              enum:
                - page_id
                - database_id
                - comment_id
            database_id:
              type: string
            comment_id:
              type: string
        table_row:
          $ref: "#/components/schemas/ContentWithTableRowRequest"
        table:
          $ref: "#/components/schemas/TableRequestWithTableRowChildren"
        column_list:
          $ref: "#/components/schemas/ColumnListRequest"
        column:
          $ref: "#/components/schemas/ColumnWithChildrenRequest"
        heading_1:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            color:
              $ref: "#/components/schemas/ApiColor"
            is_toggleable:
              type: boolean
            children:
              type: array
              items:
                $ref: "#/components/schemas/BlockObjectWithSingleLevelOfChildrenRequest"
          required:
            - rich_text
        heading_2:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            color:
              $ref: "#/components/schemas/ApiColor"
            is_toggleable:
              type: boolean
            children:
              type: array
              items:
                $ref: "#/components/schemas/BlockObjectWithSingleLevelOfChildrenRequest"
          required:
            - rich_text
        heading_3:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            color:
              $ref: "#/components/schemas/ApiColor"
            is_toggleable:
              type: boolean
            children:
              type: array
              items:
                $ref: "#/components/schemas/BlockObjectWithSingleLevelOfChildrenRequest"
          required:
            - rich_text
        paragraph:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            color:
              $ref: "#/components/schemas/ApiColor"
            children:
              type: array
              items:
                $ref: "#/components/schemas/BlockObjectWithSingleLevelOfChildrenRequest"
          required:
            - rich_text
        bulleted_list_item:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            color:
              $ref: "#/components/schemas/ApiColor"
            children:
              type: array
              items:
                $ref: "#/components/schemas/BlockObjectWithSingleLevelOfChildrenRequest"
          required:
            - rich_text
        numbered_list_item:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            color:
              $ref: "#/components/schemas/ApiColor"
            children:
              type: array
              items:
                $ref: "#/components/schemas/BlockObjectWithSingleLevelOfChildrenRequest"
          required:
            - rich_text
        quote:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            color:
              $ref: "#/components/schemas/ApiColor"
            children:
              type: array
              items:
                $ref: "#/components/schemas/BlockObjectWithSingleLevelOfChildrenRequest"
          required:
            - rich_text
        to_do:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            color:
              $ref: "#/components/schemas/ApiColor"
            children:
              type: array
              items:
                $ref: "#/components/schemas/BlockObjectWithSingleLevelOfChildrenRequest"
            checked:
              type: boolean
          required:
            - rich_text
        toggle:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            color:
              $ref: "#/components/schemas/ApiColor"
            children:
              type: array
              items:
                $ref: "#/components/schemas/BlockObjectWithSingleLevelOfChildrenRequest"
          required:
            - rich_text
        template:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            children:
              type: array
              items:
                $ref: "#/components/schemas/BlockObjectWithSingleLevelOfChildrenRequest"
          required:
            - rich_text
        callout:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            color:
              $ref: "#/components/schemas/ApiColor"
            children:
              type: array
              items:
                $ref: "#/components/schemas/BlockObjectWithSingleLevelOfChildrenRequest"
            icon:
              $ref: "#/components/schemas/PageIconRequest"
          required:
            - rich_text
        synced_block:
          type: object
          properties:
            synced_from:
              type: object
              properties:
                block_id:
                  type: string
                type:
                  type: string
                  enum:
                    - block_id
              required:
                - block_id
              nullable: true
            children:
              type: array
              items:
                $ref: "#/components/schemas/BlockObjectWithSingleLevelOfChildrenRequest"
          required:
            - synced_from
    BlockObjectRequestWithoutChildren:
      type: object
      properties:
        embed:
          $ref: "#/components/schemas/MediaContentWithUrlAndCaptionRequest"
        type:
          type: string
          enum:
            - embed
            - bookmark
            - image
            - video
            - pdf
            - file
            - audio
            - code
            - equation
            - divider
            - breadcrumb
            - table_of_contents
            - link_to_page
            - table_row
            - heading_1
            - heading_2
            - heading_3
            - paragraph
            - bulleted_list_item
            - numbered_list_item
            - quote
            - to_do
            - toggle
            - template
            - callout
            - synced_block
        object:
          type: string
          enum:
            - block
        bookmark:
          $ref: "#/components/schemas/MediaContentWithUrlAndCaptionRequest"
        image:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionRequest"
        video:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionRequest"
        pdf:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionRequest"
        file:
          $ref: "#/components/schemas/MediaContentWithFileNameAndCaptionRequest"
        audio:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionRequest"
        code:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            language:
              $ref: "#/components/schemas/LanguageRequest"
            caption:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
          required:
            - rich_text
            - language
        equation:
          $ref: "#/components/schemas/ContentWithExpressionRequest"
        divider:
          type: object
        breadcrumb:
          type: object
        table_of_contents:
          type: object
          properties:
            color:
              $ref: "#/components/schemas/ApiColor"
        link_to_page:
          type: object
          properties:
            page_id:
              type: string
            type:
              type: string
              enum:
                - page_id
                - database_id
                - comment_id
            database_id:
              type: string
            comment_id:
              type: string
        table_row:
          $ref: "#/components/schemas/ContentWithTableRowRequest"
        heading_1:
          $ref: "#/components/schemas/HeaderContentWithRichTextAndColorRequest"
        heading_2:
          $ref: "#/components/schemas/HeaderContentWithRichTextAndColorRequest"
        heading_3:
          $ref: "#/components/schemas/HeaderContentWithRichTextAndColorRequest"
        paragraph:
          $ref: "#/components/schemas/ContentWithRichTextAndColorRequest"
        bulleted_list_item:
          $ref: "#/components/schemas/ContentWithRichTextAndColorRequest"
        numbered_list_item:
          $ref: "#/components/schemas/ContentWithRichTextAndColorRequest"
        quote:
          $ref: "#/components/schemas/ContentWithRichTextAndColorRequest"
        to_do:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            checked:
              type: boolean
            color:
              $ref: "#/components/schemas/ApiColor"
          required:
            - rich_text
        toggle:
          $ref: "#/components/schemas/ContentWithRichTextAndColorRequest"
        template:
          $ref: "#/components/schemas/ContentWithRichTextRequest"
        callout:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            icon:
              $ref: "#/components/schemas/PageIconRequest"
            color:
              $ref: "#/components/schemas/ApiColor"
          required:
            - rich_text
        synced_block:
          type: object
          properties:
            synced_from:
              type: object
              properties:
                block_id:
                  type: string
                type:
                  type: string
                  enum:
                    - block_id
              required:
                - block_id
              nullable: true
          required:
            - synced_from
    BlockObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - paragraph
            - heading_1
            - heading_2
            - heading_3
            - bulleted_list_item
            - numbered_list_item
            - quote
            - to_do
            - toggle
            - template
            - synced_block
            - child_page
            - child_database
            - equation
            - code
            - callout
            - divider
            - breadcrumb
            - table_of_contents
            - column_list
            - column
            - link_to_page
            - table
            - table_row
            - transcription
            - embed
            - bookmark
            - image
            - video
            - pdf
            - file
            - audio
            - link_preview
            - unsupported
        paragraph:
          $ref: "#/components/schemas/ContentWithRichTextAndColorResponse"
        parent:
          $ref: "#/components/schemas/ParentForBlockBasedObjectResponse"
        object:
          type: string
          enum:
            - block
        id:
          type: string
        created_time:
          type: string
        created_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        last_edited_time:
          type: string
        last_edited_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        has_children:
          type: boolean
        archived:
          type: boolean
        in_trash:
          type: boolean
        heading_1:
          $ref: "#/components/schemas/HeaderContentWithRichTextAndColorResponse"
        heading_2:
          $ref: "#/components/schemas/HeaderContentWithRichTextAndColorResponse"
        heading_3:
          $ref: "#/components/schemas/HeaderContentWithRichTextAndColorResponse"
        bulleted_list_item:
          $ref: "#/components/schemas/ContentWithRichTextAndColorResponse"
        numbered_list_item:
          $ref: "#/components/schemas/ContentWithRichTextAndColorAndListResponse"
        quote:
          $ref: "#/components/schemas/ContentWithRichTextAndColorResponse"
        to_do:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemResponse"
            color:
              $ref: "#/components/schemas/ApiColor"
            checked:
              type: boolean
          required:
            - rich_text
            - color
            - checked
        toggle:
          $ref: "#/components/schemas/ContentWithRichTextAndColorResponse"
        template:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemResponse"
          required:
            - rich_text
        synced_block:
          type: object
          properties:
            synced_from:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - block_id
                block_id:
                  type: string
              required:
                - type
                - block_id
              nullable: true
          required:
            - synced_from
        child_page:
          $ref: "#/components/schemas/TitleObjectResponse"
        child_database:
          $ref: "#/components/schemas/TitleObjectResponse"
        equation:
          $ref: "#/components/schemas/ExpressionObjectResponse"
        code:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemResponse"
            caption:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemResponse"
            language:
              $ref: "#/components/schemas/LanguageRequest"
          required:
            - rich_text
            - caption
            - language
        callout:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemResponse"
            color:
              $ref: "#/components/schemas/ApiColor"
            icon:
              $ref: "#/components/schemas/PageIconResponse"
              nullable: true
          required:
            - rich_text
            - color
            - icon
        divider:
          type: object
        breadcrumb:
          type: object
        table_of_contents:
          type: object
          properties:
            color:
              $ref: "#/components/schemas/ApiColor"
          required:
            - color
        column_list:
          type: object
        column:
          $ref: "#/components/schemas/ColumnResponse"
        link_to_page:
          type: object
          properties:
            type:
              type: string
              enum:
                - page_id
                - database_id
                - comment_id
            page_id:
              type: string
            database_id:
              type: string
            comment_id:
              type: string
          required:
            - type
        table:
          $ref: "#/components/schemas/ContentWithTableResponse"
        table_row:
          $ref: "#/components/schemas/ContentWithTableRowResponse"
        transcription:
          $ref: "#/components/schemas/TranscriptionBlockResponse"
        embed:
          $ref: "#/components/schemas/MediaContentWithUrlAndCaptionResponse"
        bookmark:
          $ref: "#/components/schemas/MediaContentWithUrlAndCaptionResponse"
        image:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionResponse"
        video:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionResponse"
        pdf:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionResponse"
        file:
          $ref: "#/components/schemas/MediaContentWithFileNameAndCaptionResponse"
        audio:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionResponse"
        link_preview:
          $ref: "#/components/schemas/MediaContentWithUrlResponse"
        unsupported:
          type: object
      required:
        - type
        - parent
        - object
        - id
        - created_time
        - created_by
        - last_edited_time
        - last_edited_by
        - has_children
        - archived
        - in_trash
    BlockObjectWithSingleLevelOfChildrenRequest:
      type: object
      properties:
        embed:
          $ref: "#/components/schemas/MediaContentWithUrlAndCaptionRequest"
        type:
          type: string
          enum:
            - embed
            - bookmark
            - image
            - video
            - pdf
            - file
            - audio
            - code
            - equation
            - divider
            - breadcrumb
            - table_of_contents
            - link_to_page
            - table_row
            - heading_1
            - heading_2
            - heading_3
            - paragraph
            - bulleted_list_item
            - numbered_list_item
            - quote
            - table
            - to_do
            - toggle
            - template
            - callout
            - synced_block
        object:
          type: string
          enum:
            - block
        bookmark:
          $ref: "#/components/schemas/MediaContentWithUrlAndCaptionRequest"
        image:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionRequest"
        video:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionRequest"
        pdf:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionRequest"
        file:
          $ref: "#/components/schemas/MediaContentWithFileNameAndCaptionRequest"
        audio:
          $ref: "#/components/schemas/MediaContentWithFileAndCaptionRequest"
        code:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            language:
              $ref: "#/components/schemas/LanguageRequest"
            caption:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
          required:
            - rich_text
            - language
        equation:
          $ref: "#/components/schemas/ContentWithExpressionRequest"
        divider:
          type: object
        breadcrumb:
          type: object
        table_of_contents:
          type: object
          properties:
            color:
              $ref: "#/components/schemas/ApiColor"
        link_to_page:
          type: object
          properties:
            page_id:
              type: string
            type:
              type: string
              enum:
                - page_id
                - database_id
                - comment_id
            database_id:
              type: string
            comment_id:
              type: string
        table_row:
          $ref: "#/components/schemas/ContentWithTableRowRequest"
        heading_1:
          $ref: "#/components/schemas/HeaderContentWithSingleLevelOfChildrenRequest"
        heading_2:
          $ref: "#/components/schemas/HeaderContentWithSingleLevelOfChildrenRequest"
        heading_3:
          $ref: "#/components/schemas/HeaderContentWithSingleLevelOfChildrenRequest"
        paragraph:
          $ref: "#/components/schemas/ContentWithSingleLevelOfChildrenRequest"
        bulleted_list_item:
          $ref: "#/components/schemas/ContentWithSingleLevelOfChildrenRequest"
        numbered_list_item:
          $ref: "#/components/schemas/ContentWithSingleLevelOfChildrenRequest"
        quote:
          $ref: "#/components/schemas/ContentWithSingleLevelOfChildrenRequest"
        table:
          $ref: "#/components/schemas/TableRequestWithTableRowChildren"
        to_do:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            color:
              $ref: "#/components/schemas/ApiColor"
            children:
              type: array
              items:
                $ref: "#/components/schemas/BlockObjectRequestWithoutChildren"
            checked:
              type: boolean
          required:
            - rich_text
        toggle:
          $ref: "#/components/schemas/ContentWithSingleLevelOfChildrenRequest"
        template:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            children:
              type: array
              items:
                $ref: "#/components/schemas/BlockObjectRequestWithoutChildren"
          required:
            - rich_text
        callout:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemRequest"
            color:
              $ref: "#/components/schemas/ApiColor"
            children:
              type: array
              items:
                $ref: "#/components/schemas/BlockObjectRequestWithoutChildren"
            icon:
              $ref: "#/components/schemas/PageIconRequest"
          required:
            - rich_text
        synced_block:
          type: object
          properties:
            synced_from:
              type: object
              properties:
                block_id:
                  type: string
                type:
                  type: string
                  enum:
                    - block_id
              required:
                - block_id
              nullable: true
            children:
              type: array
              items:
                $ref: "#/components/schemas/BlockObjectRequestWithoutChildren"
          required:
            - synced_from
    BookmarkBlockObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - bookmark
        bookmark:
          $ref: "#/components/schemas/MediaContentWithUrlAndCaptionResponse"
        parent:
          $ref: "#/components/schemas/ParentForBlockBasedObjectResponse"
        object:
          type: string
          enum:
            - block
        id:
          type: string
        created_time:
          type: string
        created_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        last_edited_time:
          type: string
        last_edited_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        has_children:
          type: boolean
        archived:
          type: boolean
        in_trash:
          type: boolean
      required:
        - type
        - bookmark
        - parent
        - object
        - id
        - created_time
        - created_by
        - last_edited_time
        - last_edited_by
        - has_children
        - archived
        - in_trash
    BooleanFormulaPropertyResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - boolean
        boolean:
          type: boolean
          nullable: true
      required:
        - type
        - boolean
    BooleanFormulaPropertyValueResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - boolean
          description: Always `boolean`
        boolean:
          type: boolean
          nullable: true
      required:
        - type
        - boolean
    BotInfoResponse:
      type: object
      properties:
        owner:
          description: Details about the owner of the bot.
          type: object
          properties:
            type:
              type: string
              enum:
                - user
                - workspace
              description: Always `user`
            user:
              description: Details about the owner of the bot, when the `type` of the owner is `user`. This means // the bot is for a
                integration.
              type: object
              properties:
                id:
                  type: string
                  description: The ID of the user.
                object:
                  type: string
                  enum:
                    - user
                  description: The user object type name.
                name:
                  type: string
                  nullable: true
                  description: The name of the user.
                avatar_url:
                  type: string
                  nullable: true
                  description: The avatar URL of the user.
                type:
                  type: string
                  enum:
                    - person
                  description: The type of the user.
                person:
                  type: object
                  properties:
                    email:
                      type: string
                      description: The email of the person.
                  description: The person info of the user.
              required:
                - id
                - object
            workspace:
              type: boolean
              enum:
                - true
              description: Details about the owner of the bot, when the `type` of the owner is `workspace`. This // means the bot is
                for an internal integration.
          required:
            - type
        workspace_id:
          type: string
          description: The ID of the bot's workspace.
        workspace_limits:
          type: object
          properties:
            max_file_upload_size_in_bytes:
              type: number
              description: The maximum allowable size of a file upload, in bytes
          required:
            - max_file_upload_size_in_bytes
          description: Limits and restrictions that apply to the bot's workspace
        workspace_name:
          type: string
          nullable: true
          description: The name of the bot's workspace.
      required:
        - owner
        - workspace_id
        - workspace_limits
        - workspace_name
    BotUserObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - bot
          description: Indicates this user is a bot.
        bot:
          description: Details about the bot, when the `type` of the user is `bot`.
          type: object
          properties:
            owner:
              description: Details about the owner of the bot.
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - user
                    - workspace
                  description: Always `user`
                user:
                  description: Details about the owner of the bot, when the `type` of the owner is `user`. This means // the bot is for a
                    integration.
                  type: object
                  properties:
                    id:
                      type: string
                      description: The ID of the user.
                    object:
                      type: string
                      enum:
                        - user
                      description: The user object type name.
                    name:
                      type: string
                      nullable: true
                      description: The name of the user.
                    avatar_url:
                      type: string
                      nullable: true
                      description: The avatar URL of the user.
                    type:
                      type: string
                      enum:
                        - person
                      description: The type of the user.
                    person:
                      type: object
                      properties:
                        email:
                          type: string
                          description: The email of the person.
                      description: The person info of the user.
                  required:
                    - id
                    - object
                workspace:
                  type: boolean
                  enum:
                    - true
                  description: Details about the owner of the bot, when the `type` of the owner is `workspace`. This // means the bot is
                    for an internal integration.
              required:
                - type
            workspace_id:
              type: string
              description: The ID of the bot's workspace.
            workspace_limits:
              type: object
              properties:
                max_file_upload_size_in_bytes:
                  type: number
                  description: The maximum allowable size of a file upload, in bytes
              required:
                - max_file_upload_size_in_bytes
              description: Limits and restrictions that apply to the bot's workspace
            workspace_name:
              type: string
              nullable: true
              description: The name of the bot's workspace.
      required:
        - type
        - bot
    BreadcrumbBlockObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - breadcrumb
        breadcrumb:
          type: object
        parent:
          $ref: "#/components/schemas/ParentForBlockBasedObjectResponse"
        object:
          type: string
          enum:
            - block
        id:
          type: string
        created_time:
          type: string
        created_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        last_edited_time:
          type: string
        last_edited_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        has_children:
          type: boolean
        archived:
          type: boolean
        in_trash:
          type: boolean
      required:
        - type
        - breadcrumb
        - parent
        - object
        - id
        - created_time
        - created_by
        - last_edited_time
        - last_edited_by
        - has_children
        - archived
        - in_trash
    BulletedListItemBlockObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - bulleted_list_item
        bulleted_list_item:
          $ref: "#/components/schemas/ContentWithRichTextAndColorResponse"
        parent:
          $ref: "#/components/schemas/ParentForBlockBasedObjectResponse"
        object:
          type: string
          enum:
            - block
        id:
          type: string
        created_time:
          type: string
        created_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        last_edited_time:
          type: string
        last_edited_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        has_children:
          type: boolean
        archived:
          type: boolean
        in_trash:
          type: boolean
      required:
        - type
        - bulleted_list_item
        - parent
        - object
        - id
        - created_time
        - created_by
        - last_edited_time
        - last_edited_by
        - has_children
        - archived
        - in_trash
    ButtonPropertyConfigurationRequest:
      type: object
      properties:
        type:
          type: string
          enum:
            - button
          description: Always `button`
        button:
          type: object
      required:
        - button
    ButtonPropertyItemObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - button
        button:
          type: object
        object:
          type: string
          enum:
            - property_item
        id:
          type: string
      required:
        - type
        - button
        - object
        - id
    ButtonSimplePropertyValueResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - button
          description: Always `button`
        button:
          type: object
      required:
        - type
        - button
    CalloutBlockObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - callout
        callout:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemResponse"
            color:
              $ref: "#/components/schemas/ApiColor"
            icon:
              $ref: "#/components/schemas/PageIconResponse"
              nullable: true
          required:
            - rich_text
            - color
            - icon
        parent:
          $ref: "#/components/schemas/ParentForBlockBasedObjectResponse"
        object:
          type: string
          enum:
            - block
        id:
          type: string
        created_time:
          type: string
        created_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        last_edited_time:
          type: string
        last_edited_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        has_children:
          type: boolean
        archived:
          type: boolean
        in_trash:
          type: boolean
      required:
        - type
        - callout
        - parent
        - object
        - id
        - created_time
        - created_by
        - last_edited_time
        - last_edited_by
        - has_children
        - archived
        - in_trash
    CheckboxDatabasePropertyConfigResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - checkbox
          description: Always `checkbox`
        checkbox:
          type: object
      required:
        - type
        - checkbox
    CheckboxPropertyConfigurationRequest:
      type: object
      properties:
        type:
          type: string
          enum:
            - checkbox
          description: Always `checkbox`
        checkbox:
          type: object
      required:
        - checkbox
    CheckboxPropertyFilter:
      type: object
      properties:
        equals:
          type: boolean
        does_not_equal:
          type: boolean
    CheckboxPropertyItemObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - checkbox
        checkbox:
          type: boolean
        object:
          type: string
          enum:
            - property_item
        id:
          type: string
      required:
        - type
        - checkbox
        - object
        - id
    CheckboxSimplePropertyValueResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - checkbox
          description: Always `checkbox`
        checkbox:
          type: boolean
      required:
        - type
        - checkbox
    ChildDatabaseBlockObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - child_database
        child_database:
          $ref: "#/components/schemas/TitleObjectResponse"
        parent:
          $ref: "#/components/schemas/ParentForBlockBasedObjectResponse"
        object:
          type: string
          enum:
            - block
        id:
          type: string
        created_time:
          type: string
        created_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        last_edited_time:
          type: string
        last_edited_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        has_children:
          type: boolean
        archived:
          type: boolean
        in_trash:
          type: boolean
      required:
        - type
        - child_database
        - parent
        - object
        - id
        - created_time
        - created_by
        - last_edited_time
        - last_edited_by
        - has_children
        - archived
        - in_trash
    ChildPageBlockObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - child_page
        child_page:
          $ref: "#/components/schemas/TitleObjectResponse"
        parent:
          $ref: "#/components/schemas/ParentForBlockBasedObjectResponse"
        object:
          type: string
          enum:
            - block
        id:
          type: string
        created_time:
          type: string
        created_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        last_edited_time:
          type: string
        last_edited_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        has_children:
          type: boolean
        archived:
          type: boolean
        in_trash:
          type: boolean
      required:
        - type
        - child_page
        - parent
        - object
        - id
        - created_time
        - created_by
        - last_edited_time
        - last_edited_by
        - has_children
        - archived
        - in_trash
    CodeBlockObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - code
        code:
          type: object
          properties:
            rich_text:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemResponse"
            caption:
              type: array
              items:
                $ref: "#/components/schemas/RichTextItemResponse"
            language:
              $ref: "#/components/schemas/LanguageRequest"
          required:
            - rich_text
            - caption
            - language
        parent:
          $ref: "#/components/schemas/ParentForBlockBasedObjectResponse"
        object:
          type: string
          enum:
            - block
        id:
          type: string
        created_time:
          type: string
        created_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        last_edited_time:
          type: string
        last_edited_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        has_children:
          type: boolean
        archived:
          type: boolean
        in_trash:
          type: boolean
      required:
        - type
        - code
        - parent
        - object
        - id
        - created_time
        - created_by
        - last_edited_time
        - last_edited_by
        - has_children
        - archived
        - in_trash
    ColumnBlockObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - column
        column:
          $ref: "#/components/schemas/ColumnResponse"
        parent:
          $ref: "#/components/schemas/ParentForBlockBasedObjectResponse"
        object:
          type: string
          enum:
            - block
        id:
          type: string
        created_time:
          type: string
        created_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        last_edited_time:
          type: string
        last_edited_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        has_children:
          type: boolean
        archived:
          type: boolean
        in_trash:
          type: boolean
      required:
        - type
        - column
        - parent
        - object
        - id
        - created_time
        - created_by
        - last_edited_time
        - last_edited_by
        - has_children
        - archived
        - in_trash
    ColumnBlockWithChildrenRequest:
      type: object
      properties:
        column:
          $ref: "#/components/schemas/ColumnWithChildrenRequest"
        type:
          type: string
          enum:
            - column
        object:
          type: string
          enum:
            - block
      required:
        - column
    ColumnListBlockObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - column_list
        column_list:
          type: object
        parent:
          $ref: "#/components/schemas/ParentForBlockBasedObjectResponse"
        object:
          type: string
          enum:
            - block
        id:
          type: string
        created_time:
          type: string
        created_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        last_edited_time:
          type: string
        last_edited_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
        has_children:
          type: boolean
        archived:
          type: boolean
        in_trash:
          type: boolean
      required:
        - type
        - column_list
        - parent
        - object
        - id
        - created_time
        - created_by
        - last_edited_time
        - last_edited_by
        - has_children
        - archived
        - in_trash
    ColumnListRequest:
      type: object
      properties:
        children:
          type: array
          items:
            $ref: "#/components/schemas/ColumnBlockWithChildrenRequest"
      required:
        - children
    ColumnResponse:
      type: object
      properties:
        width_ratio:
          type: number
          description: Ratio between 0 and 1 of the width of this column relative to all columns in the list. // If not provided,
            uses an equal width.
    ColumnWithChildrenRequest:
      type: object
      properties:
        children:
          type: array
          items:
            $ref: "#/components/schemas/BlockObjectWithSingleLevelOfChildrenRequest"
        width_ratio:
          type: number
          description: Ratio between 0 and 1 of the width of this column relative to all columns in the list. // If not provided,
            uses an equal width.
      required:
        - children
    CommentObjectResponse:
      type: object
      properties:
        object:
          type: string
          enum:
            - comment
          description: The comment object type name.
        id:
          type: string
          description: The ID of the comment.
        parent:
          $ref: "#/components/schemas/CommentParentResponse"
          description: The parent of the comment.
        discussion_id:
          type: string
          description: The ID of the discussion thread this comment belongs to.
        created_time:
          type: string
          description: The time when the comment was created.
        last_edited_time:
          type: string
          description: The time when the comment was last edited.
        created_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
          description: The user who created the comment.
        rich_text:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemResponse"
          description: The rich text content of the comment.
        display_name:
          type: object
          properties:
            type:
              type: string
              enum:
                - custom
                - user
                - integration
              description: "One of: `custom`, `user`, `integration`"
            resolved_name:
              type: string
              nullable: true
          required:
            - type
            - resolved_name
          description: The display name of the comment.
        attachments:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
                enum:
                  - audio
                  - image
                  - pdf
                  - productivity
                  - video
                description: "One of: `audio`, `image`, `pdf`, `productivity`, `video`"
              file:
                $ref: "#/components/schemas/InternalFileResponse"
            required:
              - category
              - file
          description: Any file attachments associated with the comment.
      required:
        - object
        - id
        - parent
        - discussion_id
        - created_time
        - last_edited_time
        - created_by
        - rich_text
        - display_name
    CommentParentResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - page_id
            - block_id
        page_id:
          type: string
        block_id:
          type: string
      required:
        - type
    CompleteFileUploadResponse:
      $ref: "#/components/schemas/FileUploadObjectResponse"
    ContentPositionSchema:
      type: object
      properties:
        type:
          type: string
          enum:
            - after_block
            - start
            - end
        after_block:
          type: object
          properties:
            id:
              type: string
          required:
            - id
      required:
        - type
    ContentWithExpressionRequest:
      type: object
      properties:
        expression:
          type: string
      required:
        - expression
    ContentWithRichTextAndColorAndListResponse:
      type: object
      properties:
        rich_text:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemResponse"
        color:
          $ref: "#/components/schemas/ApiColor"
        list_start_index:
          type: number
        list_format:
          $ref: "#/components/schemas/NumberedListFormat"
      required:
        - rich_text
        - color
    ContentWithRichTextAndColorRequest:
      type: object
      properties:
        rich_text:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemRequest"
        color:
          $ref: "#/components/schemas/ApiColor"
      required:
        - rich_text
    ContentWithRichTextAndColorResponse:
      type: object
      properties:
        rich_text:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemResponse"
        color:
          $ref: "#/components/schemas/ApiColor"
      required:
        - rich_text
        - color
    ContentWithRichTextRequest:
      type: object
      properties:
        rich_text:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemRequest"
      required:
        - rich_text
    ContentWithSingleLevelOfChildrenRequest:
      type: object
      properties:
        rich_text:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemRequest"
        color:
          $ref: "#/components/schemas/ApiColor"
        children:
          type: array
          items:
            $ref: "#/components/schemas/BlockObjectRequestWithoutChildren"
      required:
        - rich_text
    ContentWithTableResponse:
      type: object
      properties:
        has_column_header:
          type: boolean
        has_row_header:
          type: boolean
        table_width:
          type: number
      required:
        - has_column_header
        - has_row_header
        - table_width
    ContentWithTableRowRequest:
      type: object
      properties:
        cells:
          type: array
          items:
            type: array
            items:
              $ref: "#/components/schemas/RichTextItemRequest"
      required:
        - cells
    ContentWithTableRowResponse:
      type: object
      properties:
        cells:
          type: array
          items:
            type: array
            items:
              $ref: "#/components/schemas/RichTextItemResponse"
      required:
        - cells
    CreateCommentRequest:
      type: object
      properties:
        rich_text:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemRequest"
          description: An array of rich text objects that represent the content of the comment.
        attachments:
          type: array
          items:
            type: object
            properties:
              file_upload_id:
                type: string
                description: ID of a FileUpload object that has the status `uploaded`.
              type:
                type: string
                enum:
                  - file_upload
                description: Always `file_upload`
            required:
              - file_upload_id
          description: An array of files to attach to the comment. Maximum of 3 allowed.
        display_name:
          description: Display name for the comment.
          type: object
          properties:
            type:
              type: string
              enum:
                - integration
                - user
                - custom
              description: Always `integration`
            custom:
              type: object
              properties:
                name:
                  type: string
                  description: The custom display name to use
              required:
                - name
          required:
            - type
        parent:
          description: The parent of the comment. This can be a page or a block.
          type: object
          properties:
            page_id:
              type: string
              description: The ID of the parent page (with or without dashes), for example, // 195de9221179449fab8075a27c979105
            type:
              type: string
              enum:
                - page_id
                - block_id
              description: Always `page_id`
            block_id:
              type: string
              description: The ID of the parent block (with or without dashes), for example, // 195de9221179449fab8075a27c979105
        discussion_id:
          type: string
          description: The ID of the discussion to comment on.
      required:
        - rich_text
    CreateCommentResponse:
      type: object
      properties:
        object:
          type: string
          enum:
            - comment
          description: The comment object type name.
        id:
          type: string
          description: The ID of the comment.
        parent:
          $ref: "#/components/schemas/CommentParentResponse"
          description: The parent of the comment.
        discussion_id:
          type: string
          description: The ID of the discussion thread this comment belongs to.
        created_time:
          type: string
          description: The time when the comment was created.
        last_edited_time:
          type: string
          description: The time when the comment was last edited.
        created_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
          description: The user who created the comment.
        rich_text:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemResponse"
          description: The rich text content of the comment.
        display_name:
          type: object
          properties:
            type:
              type: string
              enum:
                - custom
                - user
                - integration
              description: "One of: `custom`, `user`, `integration`"
            resolved_name:
              type: string
              nullable: true
          required:
            - type
            - resolved_name
          description: The display name of the comment.
        attachments:
          type: array
          items:
            type: object
            properties:
              category:
                type: string
                enum:
                  - audio
                  - image
                  - pdf
                  - productivity
                  - video
                description: "One of: `audio`, `image`, `pdf`, `productivity`, `video`"
              file:
                $ref: "#/components/schemas/InternalFileResponse"
            required:
              - category
              - file
          description: Any file attachments associated with the comment.
      required:
        - object
        - id
    CreateDataSourceRequest:
      type: object
      properties:
        parent:
          $ref: "#/components/schemas/ParentOfDataSourceRequest"
          description: An object specifying the parent of the new data source to be created.
        properties:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PropertyConfigurationRequest"
          description: Property schema of data source.
        title:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemRequest"
          description: Title of data source as it appears in Notion.
        icon:
          $ref: "#/components/schemas/PageIconRequest"
          nullable: true
          description: Page icon.
      required:
        - parent
        - properties
    CreateDataSourceResponse:
      type: object
      properties:
        object:
          type: string
          enum:
            - data_source
          description: The data source object type name.
        id:
          type: string
          description: The ID of the data source.
        properties:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/DatabasePropertyConfigResponse"
          description: The properties schema of the data source.
        title:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemResponse"
          description: The title of the data source.
        description:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemResponse"
          description: The description of the data source.
        parent:
          $ref: "#/components/schemas/ParentOfDataSourceResponse"
          description: The parent of the data source.
        database_parent:
          $ref: "#/components/schemas/ParentOfDatabaseResponse"
          description: The parent of the data source's containing database. This is typically a page, block, // or workspace, but
            can be another database in the case of wikis.
        is_inline:
          type: boolean
          description: Whether the data source is inline.
        archived:
          type: boolean
          description: Whether the data source is archived.
        in_trash:
          type: boolean
          description: Whether the data source is in the trash.
        created_time:
          type: string
          description: The time when the data source was created.
        last_edited_time:
          type: string
          description: The time when the data source was last edited.
        created_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
          description: The user who created the data source.
        last_edited_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
          description: The user who last edited the data source.
        icon:
          $ref: "#/components/schemas/PageIconResponse"
          nullable: true
          description: The icon of the data source.
        cover:
          $ref: "#/components/schemas/PageCoverResponse"
          nullable: true
          description: The cover of the data source.
        url:
          type: string
          description: The URL of the data source.
        public_url:
          type: string
          nullable: true
          description: The public URL of the data source if it is publicly accessible.
      required:
        - object
        - id
        - properties
    CreateDatabaseRequest:
      type: object
      properties:
        parent:
          description: The parent page or workspace where the database will be created.
          type: object
          properties:
            type:
              type: string
              enum:
                - page_id
                - workspace
              description: Always `page_id`
            page_id:
              type: string
            workspace:
              type: boolean
              enum:
                - true
              description: Always `true`
          required:
            - type
        title:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemRequest"
          description: The title of the database.
        description:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemRequest"
          description: The description of the database.
        is_inline:
          type: boolean
          description: Whether the database should be displayed inline in the parent page. Defaults to false.
        initial_data_source:
          $ref: "#/components/schemas/InitialDataSourceRequest"
          description: Initial data source configuration for the database.
        icon:
          $ref: "#/components/schemas/PageIconRequest"
          description: The icon for the database.
        cover:
          $ref: "#/components/schemas/PageCoverRequest"
          description: The cover image for the database.
      required:
        - parent
    CreateDatabaseResponse:
      type: object
      properties:
        object:
          type: string
          enum:
            - database
          description: The database object type name.
        id:
          type: string
          description: The ID of the database.
        title:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemResponse"
          description: The title of the database.
        description:
          type: array
          items:
            $ref: "#/components/schemas/RichTextItemResponse"
          description: The description of the database.
        parent:
          $ref: "#/components/schemas/ParentOfDatabaseResponse"
          description: The parent of the database. This is typically a page, block, or workspace, but can be // another database
            in the case of wikis.
        is_inline:
          type: boolean
          description: Whether the database is inline.
        in_trash:
          type: boolean
          description: Whether the database is in the trash.
        is_locked:
          type: boolean
          description: Whether the database is locked from editing in the Notion app UI.
        created_time:
          type: string
          description: The time when the database was created.
        last_edited_time:
          type: string
          description: The time when the database was last edited.
        data_sources:
          type: array
          items:
            $ref: "#/components/schemas/DataSourceReferenceResponse"
          description: The data sources of the database.
        icon:
          $ref: "#/components/schemas/PageIconResponse"
          nullable: true
          description: The icon of the database.
        cover:
          $ref: "#/components/schemas/PageCoverResponse"
          nullable: true
          description: The cover of the database.
        url:
          type: string
          description: The URL of the database.
        public_url:
          type: string
          nullable: true
          description: The public URL of the database if it is publicly accessible.
      required:
        - object
        - id
    CreateFileUploadRequest:
      type: object
      properties:
        mode:
          type: string
          enum:
            - single_part
            - multi_part
            - external_url
          description: How the file is being sent. Use `multi_part` for files larger than 20MB. Use // `external_url` for files
            that are temporarily hosted publicly elsewhere. Default is // `single_part`.
        filename:
          type: string
          description: Name of the file to be created. Required when `mode` is `multi_part`. Otherwise // optional, and used to
            override the filename. Must include an extension, or have one // inferred from the `content_type` parameter.
        content_type:
          type: string
          description: MIME type of the file to be created. Recommended when sending the file in multiple // parts. Must match the
            content type of the file that's sent, and the extension of the // `filename` parameter if any.
        number_of_parts:
          type: number
          description: When `mode` is `multi_part`, the number of parts you are uploading. This must match // the number of parts
            as well as the final `part_number` you send.
        external_url:
          type: string
          description: When `mode` is `external_url`, provide the HTTPS URL of a publicly accessible file to // import into your
            workspace.
    CreateFileUploadResponse:
      $ref: "#/components/schemas/FileUploadObjectResponse"
    CreatePageRequest:
      type: object
      properties:
        parent:
          type: object
          properties:
            page_id:
              type: string
            type:
              type: string
              enum:
                - page_id
                - database_id
                - data_source_id
                - workspace
            database_id:
              type: string
            data_source_id:
              type: string
            workspace:
              type: boolean
              enum:
                - true
        properties:
          type: object
          additionalProperties:
            type: object
            properties:
              title:
                type: array
                items:
                  $ref: "#/components/schemas/RichTextItemRequest"
              type:
                type: string
                enum:
                  - title
                  - rich_text
                  - number
                  - url
                  - select
                  - multi_select
                  - people
                  - email
                  - phone_number
                  - date
                  - checkbox
                  - relation
                  - files
                  - status
                  - place
              rich_text:
                type: array
                items:
                  $ref: "#/components/schemas/RichTextItemRequest"
              number:
                type: number
                nullable: true
              url:
                type: string
                nullable: true
              select:
                nullable: true
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  color:
                    $ref: "#/components/schemas/SelectColor"
                  description:
                    type: string
                    nullable: true
              multi_select:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                    color:
                      $ref: "#/components/schemas/SelectColor"
                    description:
                      type: string
                      nullable: true
              people:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: The ID of the user.
                    object:
                      type: string
                      enum:
                        - user
                        - group
                      description: The user object type name.
                    name:
                      type: string
                      nullable: true
                  required:
                    - id
              email:
                type: string
                nullable: true
              phone_number:
                type: string
                nullable: true
              date:
                $ref: "#/components/schemas/DateRequest"
                nullable: true
              checkbox:
                type: boolean
              relation:
                type: array
                items:
                  $ref: "#/components/schemas/RelationItemPropertyValueResponse"
              files:
                type: array
                items:
                  type: object
                  properties:
                    file:
                      $ref: "#/components/schemas/InternalFileRequest"
                    name:
                      type: string
                    type:
                      type: string
                      enum:
                        - file
                        - external
                        - file_upload
                    external:
                      $ref: "#/components/schemas/ExternalFileRequest"
                    file_upload:
                      $ref: "#/components/schemas/FileUploadIdRequest"
              status:
                nullable: true
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  color:
                    $ref: "#/components/schemas/SelectColor"
                  description:
                    type: string
                    nullable: true
              place:
                type: object
                properties:
                  lat:
                    type: number
                  lon:
                    type: number
                  name:
                    type: string
                    nullable: true
                  address:
                    type: string
                    nullable: true
                  aws_place_id:
                    type: string
                    nullable: true
                  google_place_id:
                    type: string
                    nullable: true
                required:
                  - lat
                  - lon
                nullable: true
        icon:
          $ref: "#/components/schemas/PageIconRequest"
          nullable: true
        cover:
          $ref: "#/components/schemas/PageCoverRequest"
          nullable: true
        content:
          type: array
          items:
            $ref: "#/components/schemas/BlockObjectRequest"
        children:
          type: array
          items:
            $ref: "#/components/schemas/BlockObjectRequest"
        markdown:
          type: string
          description: Page content as Notion-flavored Markdown. Mutually exclusive with content/children.
        template:
          type: object
          properties:
            type:
              type: string
              enum:
                - none
                - default
                - template_id
            template_id:
              type: string
          required:
            - type
        position:
          $ref: "#/components/schemas/PagePositionSchema"
    CreatePageResponse:
      type: object
      properties:
        object:
          type: string
          enum:
            - page
          description: The page object type name.
        id:
          type: string
          description: The ID of the page.
        created_time:
          type: string
          description: Date and time when this page was created.
        last_edited_time:
          type: string
          description: Date and time when this page was last edited.
        archived:
          type: boolean
          description: Whether the page has been archived.
        in_trash:
          type: boolean
          description: Whether the page is in trash.
        is_locked:
          type: boolean
          description: Whether the page is locked from editing in the Notion app UI.
        url:
          type: string
          description: The URL of the Notion page.
        public_url:
          type: string
          nullable: true
          description: The public URL of the Notion page, if it has been published to the web.
        parent:
          $ref: "#/components/schemas/ParentForBlockBasedObjectResponse"
          description: Information about the page's parent.
        properties:
          type: object
          additionalProperties:
            $ref: "#/components/schemas/PagePropertyValueWithIdResponse"
          description: Property values of this page.
        icon:
          $ref: "#/components/schemas/PageIconResponse"
          nullable: true
          description: Page icon.
        cover:
          $ref: "#/components/schemas/PageCoverResponse"
          nullable: true
          description: Page cover image.
        created_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
          description: User who created the page.
        last_edited_by:
          $ref: "#/components/schemas/PartialUserObjectResponse"
          description: User who last edited the page.
      required:
        - object
        - id
    CreatedByDatabasePropertyConfigResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - created_by
          description: Always `created_by`
        created_by:
          type: object
      required:
        - type
        - created_by
    CreatedByPropertyConfigurationRequest:
      type: object
      properties:
        type:
          type: string
          enum:
            - created_by
          description: Always `created_by`
        created_by:
          type: object
      required:
        - created_by
    CreatedByPropertyItemObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - created_by
        created_by:
          type: object
          properties:
            id:
              type: string
            object:
              type: string
              enum:
                - user
              description: Always `user`
            name:
              type: string
              nullable: true
              description: The name of the user.
            avatar_url:
              type: string
              nullable: true
              description: The avatar URL of the user.
            type:
              type: string
              enum:
                - person
                - bot
              description: Indicates this user is a person.
            person:
              type: object
              properties:
                email:
                  type: string
                  description: The email of the person.
              description: Details about the person, when the `type` of the user is `person`.
            bot:
              description: Details about the bot, when the `type` of the user is `bot`.
              type: object
              properties:
                owner:
                  description: Details about the owner of the bot.
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - user
                        - workspace
                      description: Always `user`
                    user:
                      description: Details about the owner of the bot, when the `type` of the owner is `user`. This means // the bot is for a
                        integration.
                      type: object
                      properties:
                        id:
                          type: string
                          description: The ID of the user.
                        object:
                          type: string
                          enum:
                            - user
                          description: The user object type name.
                        name:
                          type: string
                          nullable: true
                          description: The name of the user.
                        avatar_url:
                          type: string
                          nullable: true
                          description: The avatar URL of the user.
                        type:
                          type: string
                          enum:
                            - person
                          description: The type of the user.
                        person:
                          type: object
                          properties:
                            email:
                              type: string
                              description: The email of the person.
                          description: The person info of the user.
                      required:
                        - id
                        - object
                    workspace:
                      type: boolean
                      enum:
                        - true
                      description: Details about the owner of the bot, when the `type` of the owner is `workspace`. This // means the bot is
                        for an internal integration.
                  required:
                    - type
                workspace_id:
                  type: string
                  description: The ID of the bot's workspace.
                workspace_limits:
                  type: object
                  properties:
                    max_file_upload_size_in_bytes:
                      type: number
                      description: The maximum allowable size of a file upload, in bytes
                  required:
                    - max_file_upload_size_in_bytes
                  description: Limits and restrictions that apply to the bot's workspace
                workspace_name:
                  type: string
                  nullable: true
                  description: The name of the bot's workspace.
          required:
            - id
            - object
        object:
          type: string
          enum:
            - property_item
        id:
          type: string
      required:
        - type
        - created_by
        - object
        - id
    CreatedBySimplePropertyValueResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - created_by
          description: Always `created_by`
        created_by:
          $ref: "#/components/schemas/UserValueResponse"
      required:
        - type
        - created_by
    CreatedTimeDatabasePropertyConfigResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - created_time
          description: Always `created_time`
        created_time:
          type: object
      required:
        - type
        - created_time
    CreatedTimePropertyConfigurationRequest:
      type: object
      properties:
        type:
          type: string
          enum:
            - created_time
          description: Always `created_time`
        created_time:
          type: object
      required:
        - created_time
    CreatedTimePropertyItemObjectResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - created_time
        created_time:
          type: string
        object:
          type: string
          enum:
            - property_item
        id:
          type: string
      required:
        - type
        - created_time
        - object
        - id
    CreatedTimeSimplePropertyValueResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - created_time
          description: Always `created_time`
        created_time:
          type: string
      required:
        - type
        - created_time
    CustomEmojiPageIconRequest:
      type: object
      properties:
        type:
          type: string
          enum:
            - custom_emoji
          description: Always `custom_emoji`
        custom_emoji:
          type: object
          properties:
            id:
              type: string
              description: The ID of the custom emoji.
            name:
              type: string
              description: The name of the custom emoji.
            url:
              type: string
              description: The URL of the custom emoji.
          required:
            - id
      required:
        - custom_emoji
    CustomEmojiPageIconResponse:
      type: object
      properties:
        type:
          type: string
          enum:
            - custom_emoji
          description: Type of icon. In this case, a custom emoji.
        custom_emoji:
[...]
