{
  "openapi": "3.0.3",
  "info": {
    "title": "Notion API",
    "version": "1.0.0",
    "termsOfService": "https://notion.notion.site/Terms-and-Privacy-28ffdd083dc3473e9c2da6ec011b58ac"
  },
  "servers": [
    {
      "url": "https://api.notion.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Databases",
      "description": "Database endpoints"
    },
    {
      "name": "Data sources",
      "description": "Data source endpoints"
    },
    {
      "name": "Pages",
      "description": "Page endpoints"
    },
    {
      "name": "Blocks",
      "description": "Block endpoints"
    },
    {
      "name": "Comments",
      "description": "Comment endpoints"
    },
    {
      "name": "File uploads",
      "description": "File upload endpoints"
    },
    {
      "name": "OAuth",
      "description": "OAuth endpoints (basic authentication)"
    },
    {
      "name": "Users",
      "description": "User endpoints"
    },
    {
      "name": "Search",
      "description": "Search endpoints"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      },
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "annotationRequest": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean",
            "description": "Whether the text is formatted as bold."
          },
          "italic": {
            "type": "boolean",
            "description": "Whether the text is formatted as italic."
          },
          "strikethrough": {
            "type": "boolean",
            "description": "Whether the text is formatted with a strikethrough."
          },
          "underline": {
            "type": "boolean",
            "description": "Whether the text is formatted with an underline."
          },
          "code": {
            "type": "boolean",
            "description": "Whether the text is formatted as code."
          },
          "color": {
            "$ref": "#/components/schemas/apiColor",
            "description": "The color of the text."
          }
        }
      },
      "annotationResponse": {
        "type": "object",
        "properties": {
          "bold": {
            "type": "boolean"
          },
          "italic": {
            "type": "boolean"
          },
          "strikethrough": {
            "type": "boolean"
          },
          "underline": {
            "type": "boolean"
          },
          "code": {
            "type": "boolean"
          },
          "color": {
            "$ref": "#/components/schemas/apiColor"
          }
        },
        "additionalProperties": false,
        "required": [
          "bold",
          "italic",
          "strikethrough",
          "underline",
          "code",
          "color"
        ]
      },
      "apiColor": {
        "type": "string",
        "enum": [
          "default",
          "gray",
          "brown",
          "orange",
          "yellow",
          "green",
          "blue",
          "purple",
          "pink",
          "red",
          "default_background",
          "gray_background",
          "brown_background",
          "orange_background",
          "yellow_background",
          "green_background",
          "blue_background",
          "purple_background",
          "pink_background",
          "red_background"
        ],
        "description": "One of: `default`, `gray`, `brown`, `orange`, `yellow`, `green`, `blue`, `purple`, `pink`, `red`, `default_background`, `gray_background`, `brown_background`, `orange_background`, `yellow_background`, `green_background`, `blue_background`, `purple_background`, `pink_background`, `red_background`"
      },
      "apiTranscriptionStatus": {
        "type": "string",
        "enum": [
          "transcription_not_started",
          "transcription_paused",
          "transcription_in_progress",
          "summary_in_progress",
          "notes_ready"
        ]
      },
      "arrayBasedPropertyValueResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always `title`",
            "enum": [
              "title",
              "rich_text",
              "people",
              "relation"
            ]
          },
          "title": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/richTextItemResponse"
            },
            "maxItems": 100
          },
          "rich_text": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/richTextItemResponse"
            },
            "maxItems": 100
          },
          "people": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "$ref": "#/components/schemas/idResponse"
                },
                "object": {
                  "type": "string",
                  "description": "Always `user`",
                  "enum": [
                    "user",
                    "group"
                  ]
                },
                "name": {
                  "description": "The name of the user.",
                  "type": "string",
                  "nullable": true
                },
                "avatar_url": {
                  "description": "The avatar URL of the user.",
                  "type": "string",
                  "nullable": true
                },
                "type": {
                  "type": "string",
                  "description": "Indicates this user is a person.",
                  "enum": [
                    "person",
                    "bot"
                  ]
                },
                "person": {
                  "type": "object",
                  "properties": {
                    "email": {
                      "type": "string",
                      "description": "The email of the person."
                    }
                  },
                  "additionalProperties": false,
                  "description": "Details about the person, when the `type` of the user is `person`."
                },
                "bot": {
                  "description": "Details about the bot, when the `type` of the user is `bot`.",
                  "type": "object",
                  "properties": {
                    "owner": {
                      "description": "Details about the owner of the bot.",
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Always `user`",
                          "enum": [
                            "user",
                            "workspace"
                          ]
                        },
                        "user": {
                          "description": "Details about the owner of the bot, when the `type` of the owner is `user`. This means the bot is for a integration.",
                          "type": "object",
                          "properties": {
                            "id": {
                              "$ref": "#/components/schemas/idResponse",
                              "description": "The ID of the user."
                            },
                            "object": {
                              "type": "string",
                              "description": "The user object type name.",
                              "enum": [
                                "user"
                              ]
                            },
                            "name": {
                              "description": "The name of the user.",
                              "type": "string",
                              "nullable": true
                            },
                            "avatar_url": {
                              "description": "The avatar URL of the user.",
                              "type": "string",
                              "nullable": true
                            },
                            "type": {
                              "type": "string",
                              "description": "The type of the user.",
                              "enum": [
                                "person"
                              ]
                            },
                            "person": {
                              "type": "object",
                              "properties": {
                                "email": {
                                  "type": "string",
                                  "description": "The email of the person."
                                }
                              },
                              "additionalProperties": false,
                              "description": "The person info of the user."
                            }
                          },
                          "required": [
                            "id",
                            "object"
                          ]
                        },
                        "workspace": {
                          "type": "boolean",
                          "description": "Details about the owner of the bot, when the `type` of the owner is `workspace`. This means the bot is for an internal integration.",
                          "enum": [
                            true
                          ]
                        }
                      },
                      "required": [
                        "type"
                      ]
                    },
                    "workspace_id": {
                      "type": "string",
                      "description": "The ID of the bot's workspace."
                    },
                    "workspace_limits": {
                      "type": "object",
                      "properties": {
                        "max_file_upload_size_in_bytes": {
                          "type": "integer",
                          "minimum": 0,
                          "description": "The maximum allowable size of a file upload, in bytes"
                        }
                      },
                      "additionalProperties": false,
                      "required": [
                        "max_file_upload_size_in_bytes"
                      ],
                      "description": "Limits and restrictions that apply to the bot's workspace"
                    },
                    "workspace_name": {
                      "description": "The name of the bot's workspace.",
                      "type": "string",
                      "nullable": true
                    }
                  }
                }
              },
              "required": [
                "id",
                "object"
              ]
            },
            "maxItems": 100
          },
          "relation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/relationItemPropertyValueResponse"
            },
            "maxItems": 100
          }
        },
        "required": [
          "type"
        ]
      },
      "arrayPartialRollupValueResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always `array`",
            "enum": [
              "array"
            ]
          },
          "array": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/simpleOrArrayPropertyValueResponse"
            },
            "maxItems": 100
          }
        },
        "required": [
          "type",
          "array"
        ],
        "title": "Array"
      },
      "audioBlockObjectResponse": {
        "title": "Audio",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "audio"
            ]
          },
          "audio": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionResponse"
          },
          "parent": {
            "$ref": "#/components/schemas/parentForBlockBasedObjectResponse"
          },
          "object": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "audio",
          "parent",
          "object",
          "id",
          "created_time",
          "created_by",
          "last_edited_time",
          "last_edited_by",
          "has_children",
          "in_trash"
        ]
      },
      "baseWebhookPayload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "workspace_id": {
            "$ref": "#/components/schemas/idResponse"
          },
          "workspace_name": {
            "type": "string"
          },
          "subscription_id": {
            "$ref": "#/components/schemas/idResponse"
          },
          "integration_id": {
            "$ref": "#/components/schemas/idResponse"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "$ref": "#/components/schemas/idResponse"
                },
                "type": {
                  "type": "string",
                  "description": "Always `person`",
                  "enum": [
                    "person",
                    "bot"
                  ]
                }
              },
              "required": [
                "id",
                "type"
              ]
            },
            "maxItems": 100
          },
          "attempt_number": {
            "type": "integer"
          },
          "api_version": {
            "type": "string",
            "enum": [
              "2022-06-28",
              "2025-09-03"
            ],
            "description": "The Notion API version that was used to render this webhook event's shape."
          },
          "accessible_by": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "$ref": "#/components/schemas/idResponse"
                },
                "type": {
                  "type": "string",
                  "description": "Always `person`",
                  "enum": [
                    "person",
                    "bot"
                  ]
                }
              },
              "required": [
                "id",
                "type"
              ]
            },
            "maxItems": 100
          }
        },
        "required": [
          "id",
          "timestamp",
          "workspace_id",
          "workspace_name",
          "subscription_id",
          "integration_id",
          "authors",
          "attempt_number",
          "api_version"
        ]
      },
      "blockIdCommentParentResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always `block_id`",
            "enum": [
              "block_id"
            ]
          },
          "block_id": {
            "$ref": "#/components/schemas/idResponse"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "block_id"
        ],
        "title": "Block Id"
      },
      "blockIdParentForBlockBasedObjectResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The parent type.",
            "enum": [
              "block_id"
            ]
          },
          "block_id": {
            "$ref": "#/components/schemas/idResponse",
            "description": "The ID of the parent block."
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "block_id"
        ]
      },
      "blockObjectRequest": {
        "type": "object",
        "properties": {
          "embed": {
            "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
          },
          "type": {
            "type": "string",
            "enum": [
              "embed",
              "bookmark",
              "image",
              "video",
              "pdf",
              "file",
              "audio",
              "code",
              "equation",
              "divider",
              "breadcrumb",
              "table_of_contents",
              "link_to_page",
              "table_row",
              "table",
              "column_list",
              "column",
              "heading_1",
              "heading_2",
              "heading_3",
              "paragraph",
              "bulleted_list_item",
              "numbered_list_item",
              "quote",
              "to_do",
              "toggle",
              "template",
              "callout",
              "synced_block"
            ]
          },
          "object": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "bookmark": {
            "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
          },
          "image": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
          },
          "video": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
          },
          "pdf": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
          },
          "file": {
            "$ref": "#/components/schemas/mediaContentWithFileNameAndCaptionRequest"
          },
          "audio": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
          },
          "code": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "language": {
                "$ref": "#/components/schemas/languageRequest"
              },
              "caption": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text",
              "language"
            ]
          },
          "equation": {
            "$ref": "#/components/schemas/contentWithExpressionRequest"
          },
          "divider": {
            "$ref": "#/components/schemas/emptyObject"
          },
          "breadcrumb": {
            "$ref": "#/components/schemas/emptyObject"
          },
          "table_of_contents": {
            "type": "object",
            "properties": {
              "color": {
                "$ref": "#/components/schemas/apiColor"
              }
            },
            "additionalProperties": false
          },
          "link_to_page": {
            "type": "object",
            "properties": {
              "page_id": {
                "$ref": "#/components/schemas/idRequest"
              },
              "type": {
                "type": "string",
                "enum": [
                  "page_id",
                  "database_id",
                  "comment_id"
                ]
              },
              "database_id": {
                "$ref": "#/components/schemas/idRequest"
              },
              "comment_id": {
                "$ref": "#/components/schemas/idRequest"
              }
            }
          },
          "table_row": {
            "$ref": "#/components/schemas/contentWithTableRowRequest"
          },
          "table": {
            "$ref": "#/components/schemas/tableRequestWithTableRowChildren"
          },
          "column_list": {
            "$ref": "#/components/schemas/columnListRequest"
          },
          "column": {
            "$ref": "#/components/schemas/columnWithChildrenRequest"
          },
          "heading_1": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              },
              "is_toggleable": {
                "type": "boolean"
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "heading_2": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              },
              "is_toggleable": {
                "type": "boolean"
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "heading_3": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              },
              "is_toggleable": {
                "type": "boolean"
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "paragraph": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "bulleted_list_item": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "numbered_list_item": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "quote": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "to_do": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                },
                "maxItems": 100
              },
              "checked": {
                "type": "boolean"
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "toggle": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "template": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "callout": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                },
                "maxItems": 100
              },
              "icon": {
                "$ref": "#/components/schemas/pageIconRequest"
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "synced_block": {
            "type": "object",
            "properties": {
              "synced_from": {
                "title": "Block Id",
                "type": "object",
                "properties": {
                  "block_id": {
                    "$ref": "#/components/schemas/idRequest"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "block_id"
                    ]
                  }
                },
                "additionalProperties": false,
                "required": [
                  "block_id"
                ],
                "nullable": true
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "synced_from"
            ]
          }
        }
      },
      "blockObjectRequestWithoutChildren": {
        "type": "object",
        "properties": {
          "embed": {
            "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
          },
          "type": {
            "type": "string",
            "enum": [
              "embed",
              "bookmark",
              "image",
              "video",
              "pdf",
              "file",
              "audio",
              "code",
              "equation",
              "divider",
              "breadcrumb",
              "table_of_contents",
              "link_to_page",
              "table_row",
              "heading_1",
              "heading_2",
              "heading_3",
              "paragraph",
              "bulleted_list_item",
              "numbered_list_item",
              "quote",
              "to_do",
              "toggle",
              "template",
              "callout",
              "synced_block"
            ]
          },
          "object": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "bookmark": {
            "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
          },
          "image": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
          },
          "video": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
          },
          "pdf": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
          },
          "file": {
            "$ref": "#/components/schemas/mediaContentWithFileNameAndCaptionRequest"
          },
          "audio": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
          },
          "code": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "language": {
                "$ref": "#/components/schemas/languageRequest"
              },
              "caption": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text",
              "language"
            ]
          },
          "equation": {
            "$ref": "#/components/schemas/contentWithExpressionRequest"
          },
          "divider": {
            "$ref": "#/components/schemas/emptyObject"
          },
          "breadcrumb": {
            "$ref": "#/components/schemas/emptyObject"
          },
          "table_of_contents": {
            "type": "object",
            "properties": {
              "color": {
                "$ref": "#/components/schemas/apiColor"
              }
            },
            "additionalProperties": false
          },
          "link_to_page": {
            "type": "object",
            "properties": {
              "page_id": {
                "$ref": "#/components/schemas/idRequest"
              },
              "type": {
                "type": "string",
                "enum": [
                  "page_id",
                  "database_id",
                  "comment_id"
                ]
              },
              "database_id": {
                "$ref": "#/components/schemas/idRequest"
              },
              "comment_id": {
                "$ref": "#/components/schemas/idRequest"
              }
            }
          },
          "table_row": {
            "$ref": "#/components/schemas/contentWithTableRowRequest"
          },
          "heading_1": {
            "$ref": "#/components/schemas/headerContentWithRichTextAndColorRequest"
          },
          "heading_2": {
            "$ref": "#/components/schemas/headerContentWithRichTextAndColorRequest"
          },
          "heading_3": {
            "$ref": "#/components/schemas/headerContentWithRichTextAndColorRequest"
          },
          "paragraph": {
            "$ref": "#/components/schemas/contentWithRichTextAndColorRequest"
          },
          "bulleted_list_item": {
            "$ref": "#/components/schemas/contentWithRichTextAndColorRequest"
          },
          "numbered_list_item": {
            "$ref": "#/components/schemas/contentWithRichTextAndColorRequest"
          },
          "quote": {
            "$ref": "#/components/schemas/contentWithRichTextAndColorRequest"
          },
          "to_do": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "checked": {
                "type": "boolean"
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "toggle": {
            "$ref": "#/components/schemas/contentWithRichTextAndColorRequest"
          },
          "template": {
            "$ref": "#/components/schemas/contentWithRichTextRequest"
          },
          "callout": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "icon": {
                "$ref": "#/components/schemas/pageIconRequest"
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "synced_block": {
            "type": "object",
            "properties": {
              "synced_from": {
                "title": "Block Id",
                "type": "object",
                "properties": {
                  "block_id": {
                    "$ref": "#/components/schemas/idRequest"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "block_id"
                    ]
                  }
                },
                "additionalProperties": false,
                "required": [
                  "block_id"
                ],
                "nullable": true
              }
            },
            "additionalProperties": false,
            "required": [
              "synced_from"
            ]
          }
        }
      },
      "blockObjectResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "paragraph",
              "heading_1",
              "heading_2",
              "heading_3",
              "bulleted_list_item",
              "numbered_list_item",
              "quote",
              "to_do",
              "toggle",
              "template",
              "synced_block",
              "child_page",
              "child_database",
              "equation",
              "code",
              "callout",
              "divider",
              "breadcrumb",
              "table_of_contents",
              "column_list",
              "column",
              "link_to_page",
              "table",
              "table_row",
              "meeting_notes",
              "embed",
              "bookmark",
              "image",
              "video",
              "pdf",
              "file",
              "audio",
              "link_preview",
              "unsupported"
            ]
          },
          "paragraph": {
            "$ref": "#/components/schemas/contentWithRichTextAndColorResponse"
          },
          "parent": {
            "$ref": "#/components/schemas/parentForBlockBasedObjectResponse"
          },
          "object": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          },
          "heading_1": {
            "$ref": "#/components/schemas/headerContentWithRichTextAndColorResponse"
          },
          "heading_2": {
            "$ref": "#/components/schemas/headerContentWithRichTextAndColorResponse"
          },
          "heading_3": {
            "$ref": "#/components/schemas/headerContentWithRichTextAndColorResponse"
          },
          "bulleted_list_item": {
            "$ref": "#/components/schemas/contentWithRichTextAndColorResponse"
          },
          "numbered_list_item": {
            "$ref": "#/components/schemas/contentWithRichTextAndColorAndListResponse"
          },
          "quote": {
            "$ref": "#/components/schemas/contentWithRichTextAndColorResponse"
          },
          "to_do": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemResponse"
                },
                "maxItems": 100
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              },
              "checked": {
                "type": "boolean"
              }
            },
            "required": [
              "rich_text",
              "color",
              "checked"
            ]
          },
          "toggle": {
            "$ref": "#/components/schemas/contentWithRichTextAndColorResponse"
          },
          "template": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemResponse"
                },
                "maxItems": 100
              }
            },
            "required": [
              "rich_text"
            ]
          },
          "synced_block": {
            "type": "object",
            "properties": {
              "synced_from": {
                "title": "Block Id",
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "block_id"
                    ]
                  },
                  "block_id": {
                    "$ref": "#/components/schemas/idRequest"
                  }
                },
                "required": [
                  "type",
                  "block_id"
                ],
                "nullable": true
              }
            },
            "required": [
              "synced_from"
            ]
          },
          "child_page": {
            "$ref": "#/components/schemas/titleObjectResponse"
          },
          "child_database": {
            "$ref": "#/components/schemas/titleObjectResponse"
          },
          "equation": {
            "$ref": "#/components/schemas/expressionObjectResponse"
          },
          "code": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemResponse"
                },
                "maxItems": 100
              },
              "caption": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemResponse"
                },
                "maxItems": 100
              },
              "language": {
                "$ref": "#/components/schemas/languageRequest"
              }
            },
            "required": [
              "rich_text",
              "caption",
              "language"
            ]
          },
          "callout": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemResponse"
                },
                "maxItems": 100
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              },
              "icon": {
                "$ref": "#/components/schemas/pageIconResponse",
                "nullable": true
              }
            },
            "required": [
              "rich_text",
              "color",
              "icon"
            ]
          },
          "divider": {
            "$ref": "#/components/schemas/emptyObject"
          },
          "breadcrumb": {
            "$ref": "#/components/schemas/emptyObject"
          },
          "table_of_contents": {
            "type": "object",
            "properties": {
              "color": {
                "$ref": "#/components/schemas/apiColor"
              }
            },
            "required": [
              "color"
            ]
          },
          "column_list": {
            "$ref": "#/components/schemas/emptyObject"
          },
          "column": {
            "$ref": "#/components/schemas/columnResponse"
          },
          "link_to_page": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "page_id",
                  "database_id",
                  "comment_id"
                ]
              },
              "page_id": {
                "$ref": "#/components/schemas/idRequest"
              },
              "database_id": {
                "$ref": "#/components/schemas/idRequest"
              },
              "comment_id": {
                "$ref": "#/components/schemas/idRequest"
              }
            },
            "required": [
              "type"
            ]
          },
          "table": {
            "$ref": "#/components/schemas/contentWithTableResponse"
          },
          "table_row": {
            "$ref": "#/components/schemas/contentWithTableRowResponse"
          },
          "meeting_notes": {
            "$ref": "#/components/schemas/transcriptionBlockResponse"
          },
          "embed": {
            "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionResponse"
          },
          "bookmark": {
            "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionResponse"
          },
          "image": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionResponse"
          },
          "video": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionResponse"
          },
          "pdf": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionResponse"
          },
          "file": {
            "$ref": "#/components/schemas/mediaContentWithFileNameAndCaptionResponse"
          },
          "audio": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionResponse"
          },
          "link_preview": {
            "$ref": "#/components/schemas/mediaContentWithUrlResponse"
          },
          "unsupported": {
            "type": "object",
            "properties": {
              "block_type": {
                "description": "The underlying block type that is not currently supported by the Public API. Example values include: tab, form, button, drive.",
                "type": "string"
              }
            },
            "required": [
              "block_type"
            ]
          }
        },
        "required": [
          "type",
          "parent",
          "object",
          "id",
          "created_time",
          "created_by",
          "last_edited_time",
          "last_edited_by",
          "has_children",
          "in_trash"
        ]
      },
      "blockObjectWithSingleLevelOfChildrenRequest": {
        "type": "object",
        "properties": {
          "embed": {
            "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
          },
          "type": {
            "type": "string",
            "enum": [
              "embed",
              "bookmark",
              "image",
              "video",
              "pdf",
              "file",
              "audio",
              "code",
              "equation",
              "divider",
              "breadcrumb",
              "table_of_contents",
              "link_to_page",
              "table_row",
              "heading_1",
              "heading_2",
              "heading_3",
              "paragraph",
              "bulleted_list_item",
              "numbered_list_item",
              "quote",
              "table",
              "to_do",
              "toggle",
              "template",
              "callout",
              "synced_block"
            ]
          },
          "object": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "bookmark": {
            "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionRequest"
          },
          "image": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
          },
          "video": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
          },
          "pdf": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
          },
          "file": {
            "$ref": "#/components/schemas/mediaContentWithFileNameAndCaptionRequest"
          },
          "audio": {
            "$ref": "#/components/schemas/mediaContentWithFileAndCaptionRequest"
          },
          "code": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "language": {
                "$ref": "#/components/schemas/languageRequest"
              },
              "caption": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text",
              "language"
            ]
          },
          "equation": {
            "$ref": "#/components/schemas/contentWithExpressionRequest"
          },
          "divider": {
            "$ref": "#/components/schemas/emptyObject"
          },
          "breadcrumb": {
            "$ref": "#/components/schemas/emptyObject"
          },
          "table_of_contents": {
            "type": "object",
            "properties": {
              "color": {
                "$ref": "#/components/schemas/apiColor"
              }
            },
            "additionalProperties": false
          },
          "link_to_page": {
            "type": "object",
            "properties": {
              "page_id": {
                "$ref": "#/components/schemas/idRequest"
              },
              "type": {
                "type": "string",
                "enum": [
                  "page_id",
                  "database_id",
                  "comment_id"
                ]
              },
              "database_id": {
                "$ref": "#/components/schemas/idRequest"
              },
              "comment_id": {
                "$ref": "#/components/schemas/idRequest"
              }
            }
          },
          "table_row": {
            "$ref": "#/components/schemas/contentWithTableRowRequest"
          },
          "heading_1": {
            "$ref": "#/components/schemas/headerContentWithSingleLevelOfChildrenRequest"
          },
          "heading_2": {
            "$ref": "#/components/schemas/headerContentWithSingleLevelOfChildrenRequest"
          },
          "heading_3": {
            "$ref": "#/components/schemas/headerContentWithSingleLevelOfChildrenRequest"
          },
          "paragraph": {
            "$ref": "#/components/schemas/contentWithSingleLevelOfChildrenRequest"
          },
          "bulleted_list_item": {
            "$ref": "#/components/schemas/contentWithSingleLevelOfChildrenRequest"
          },
          "numbered_list_item": {
            "$ref": "#/components/schemas/contentWithSingleLevelOfChildrenRequest"
          },
          "quote": {
            "$ref": "#/components/schemas/contentWithSingleLevelOfChildrenRequest"
          },
          "table": {
            "$ref": "#/components/schemas/tableRequestWithTableRowChildren"
          },
          "to_do": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/blockObjectRequestWithoutChildren"
                },
                "maxItems": 100
              },
              "checked": {
                "type": "boolean"
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "toggle": {
            "$ref": "#/components/schemas/contentWithSingleLevelOfChildrenRequest"
          },
          "template": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/blockObjectRequestWithoutChildren"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "callout": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemRequest"
                },
                "maxItems": 100
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/blockObjectRequestWithoutChildren"
                },
                "maxItems": 100
              },
              "icon": {
                "$ref": "#/components/schemas/pageIconRequest"
              }
            },
            "additionalProperties": false,
            "required": [
              "rich_text"
            ]
          },
          "synced_block": {
            "type": "object",
            "properties": {
              "synced_from": {
                "title": "Block Id",
                "type": "object",
                "properties": {
                  "block_id": {
                    "$ref": "#/components/schemas/idRequest"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "block_id"
                    ]
                  }
                },
                "additionalProperties": false,
                "required": [
                  "block_id"
                ],
                "nullable": true
              },
              "children": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/blockObjectRequestWithoutChildren"
                },
                "maxItems": 100
              }
            },
            "additionalProperties": false,
            "required": [
              "synced_from"
            ]
          }
        }
      },
      "bookmarkBlockObjectResponse": {
        "title": "Bookmark",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "bookmark"
            ]
          },
          "bookmark": {
            "$ref": "#/components/schemas/mediaContentWithUrlAndCaptionResponse"
          },
          "parent": {
            "$ref": "#/components/schemas/parentForBlockBasedObjectResponse"
          },
          "object": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "bookmark",
          "parent",
          "object",
          "id",
          "created_time",
          "created_by",
          "last_edited_time",
          "last_edited_by",
          "has_children",
          "in_trash"
        ]
      },
      "booleanFormulaPropertyResponse": {
        "title": "Boolean",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "boolean"
            ]
          },
          "boolean": {
            "type": "boolean",
            "nullable": true
          }
        },
        "required": [
          "type",
          "boolean"
        ]
      },
      "booleanFormulaPropertyValueResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always `boolean`",
            "enum": [
              "boolean"
            ]
          },
          "boolean": {
            "type": "boolean",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "boolean"
        ],
        "title": "Boolean"
      },
      "botInfoResponse": {
        "type": "object",
        "properties": {
          "owner": {
            "description": "Details about the owner of the bot.",
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Always `user`",
                "enum": [
                  "user",
                  "workspace"
                ]
              },
              "user": {
                "description": "Details about the owner of the bot, when the `type` of the owner is `user`. This means the bot is for a integration.",
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/idResponse",
                    "description": "The ID of the user."
                  },
                  "object": {
                    "type": "string",
                    "description": "The user object type name.",
                    "enum": [
                      "user"
                    ]
                  },
                  "name": {
                    "description": "The name of the user.",
                    "type": "string",
                    "nullable": true
                  },
                  "avatar_url": {
                    "description": "The avatar URL of the user.",
                    "type": "string",
                    "nullable": true
                  },
                  "type": {
                    "type": "string",
                    "description": "The type of the user.",
                    "enum": [
                      "person"
                    ]
                  },
                  "person": {
                    "type": "object",
                    "properties": {
                      "email": {
                        "type": "string",
                        "description": "The email of the person."
                      }
                    },
                    "additionalProperties": false,
                    "description": "The person info of the user."
                  }
                },
                "required": [
                  "id",
                  "object"
                ]
              },
              "workspace": {
                "type": "boolean",
                "description": "Details about the owner of the bot, when the `type` of the owner is `workspace`. This means the bot is for an internal integration.",
                "enum": [
                  true
                ]
              }
            },
            "required": [
              "type"
            ]
          },
          "workspace_id": {
            "type": "string",
            "description": "The ID of the bot's workspace."
          },
          "workspace_limits": {
            "type": "object",
            "properties": {
              "max_file_upload_size_in_bytes": {
                "type": "integer",
                "minimum": 0,
                "description": "The maximum allowable size of a file upload, in bytes"
              }
            },
            "additionalProperties": false,
            "required": [
              "max_file_upload_size_in_bytes"
            ],
            "description": "Limits and restrictions that apply to the bot's workspace"
          },
          "workspace_name": {
            "description": "The name of the bot's workspace.",
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false,
        "required": [
          "owner",
          "workspace_id",
          "workspace_limits",
          "workspace_name"
        ]
      },
      "botUserObjectResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Indicates this user is a bot.",
            "enum": [
              "bot"
            ]
          },
          "bot": {
            "description": "Details about the bot, when the `type` of the user is `bot`.",
            "type": "object",
            "properties": {
              "owner": {
                "description": "Details about the owner of the bot.",
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "Always `user`",
                    "enum": [
                      "user",
                      "workspace"
                    ]
                  },
                  "user": {
                    "description": "Details about the owner of the bot, when the `type` of the owner is `user`. This means the bot is for a integration.",
                    "type": "object",
                    "properties": {
                      "id": {
                        "$ref": "#/components/schemas/idResponse",
                        "description": "The ID of the user."
                      },
                      "object": {
                        "type": "string",
                        "description": "The user object type name.",
                        "enum": [
                          "user"
                        ]
                      },
                      "name": {
                        "description": "The name of the user.",
                        "type": "string",
                        "nullable": true
                      },
                      "avatar_url": {
                        "description": "The avatar URL of the user.",
                        "type": "string",
                        "nullable": true
                      },
                      "type": {
                        "type": "string",
                        "description": "The type of the user.",
                        "enum": [
                          "person"
                        ]
                      },
                      "person": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "type": "string",
                            "description": "The email of the person."
                          }
                        },
                        "additionalProperties": false,
                        "description": "The person info of the user."
                      }
                    },
                    "required": [
                      "id",
                      "object"
                    ]
                  },
                  "workspace": {
                    "type": "boolean",
                    "description": "Details about the owner of the bot, when the `type` of the owner is `workspace`. This means the bot is for an internal integration.",
                    "enum": [
                      true
                    ]
                  }
                },
                "required": [
                  "type"
                ]
              },
              "workspace_id": {
                "type": "string",
                "description": "The ID of the bot's workspace."
              },
              "workspace_limits": {
                "type": "object",
                "properties": {
                  "max_file_upload_size_in_bytes": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "The maximum allowable size of a file upload, in bytes"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "max_file_upload_size_in_bytes"
                ],
                "description": "Limits and restrictions that apply to the bot's workspace"
              },
              "workspace_name": {
                "description": "The name of the bot's workspace.",
                "type": "string",
                "nullable": true
              }
            }
          }
        },
        "required": [
          "type",
          "bot"
        ],
        "title": "Bot"
      },
      "breadcrumbBlockObjectResponse": {
        "title": "Breadcrumb",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "breadcrumb"
            ]
          },
          "breadcrumb": {
            "$ref": "#/components/schemas/emptyObject"
          },
          "parent": {
            "$ref": "#/components/schemas/parentForBlockBasedObjectResponse"
          },
          "object": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "breadcrumb",
          "parent",
          "object",
          "id",
          "created_time",
          "created_by",
          "last_edited_time",
          "last_edited_by",
          "has_children",
          "in_trash"
        ]
      },
      "bulletedListItemBlockObjectResponse": {
        "title": "Bulleted List Item",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "bulleted_list_item"
            ]
          },
          "bulleted_list_item": {
            "$ref": "#/components/schemas/contentWithRichTextAndColorResponse"
          },
          "parent": {
            "$ref": "#/components/schemas/parentForBlockBasedObjectResponse"
          },
          "object": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "bulleted_list_item",
          "parent",
          "object",
          "id",
          "created_time",
          "created_by",
          "last_edited_time",
          "last_edited_by",
          "has_children",
          "in_trash"
        ]
      },
      "buttonPropertyConfigurationRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always `button`",
            "enum": [
              "button"
            ]
          },
          "button": {
            "$ref": "#/components/schemas/emptyObject"
          }
        },
        "required": [
          "button"
        ],
        "title": "Button"
      },
      "buttonPropertyItemObjectResponse": {
        "title": "Button",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "button"
            ]
          },
          "button": {
            "$ref": "#/components/schemas/emptyObject"
          },
          "object": {
            "type": "string",
            "enum": [
              "property_item"
            ]
          },
          "id": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "button",
          "object",
          "id"
        ]
      },
      "buttonSimplePropertyValueResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always `button`",
            "enum": [
              "button"
            ]
          },
          "button": {
            "$ref": "#/components/schemas/emptyObject"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "button"
        ],
        "title": "Button"
      },
      "calloutBlockObjectResponse": {
        "title": "Callout",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "callout"
            ]
          },
          "callout": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemResponse"
                },
                "maxItems": 100
              },
              "color": {
                "$ref": "#/components/schemas/apiColor"
              },
              "icon": {
                "$ref": "#/components/schemas/pageIconResponse",
                "nullable": true
              }
            },
            "required": [
              "rich_text",
              "color",
              "icon"
            ]
          },
          "parent": {
            "$ref": "#/components/schemas/parentForBlockBasedObjectResponse"
          },
          "object": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "callout",
          "parent",
          "object",
          "id",
          "created_time",
          "created_by",
          "last_edited_time",
          "last_edited_by",
          "has_children",
          "in_trash"
        ]
      },
      "checkboxDatabasePropertyConfigResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always `checkbox`",
            "enum": [
              "checkbox"
            ]
          },
          "checkbox": {
            "$ref": "#/components/schemas/emptyObject"
          }
        },
        "required": [
          "type",
          "checkbox"
        ],
        "title": "Checkbox"
      },
      "checkboxPropertyConfigurationRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always `checkbox`",
            "enum": [
              "checkbox"
            ]
          },
          "checkbox": {
            "$ref": "#/components/schemas/emptyObject"
          }
        },
        "required": [
          "checkbox"
        ],
        "title": "Checkbox"
      },
      "checkboxPropertyFilter": {
        "type": "object",
        "properties": {
          "equals": {
            "type": "boolean"
          },
          "does_not_equal": {
            "type": "boolean"
          }
        }
      },
      "checkboxPropertyItemObjectResponse": {
        "title": "Checkbox",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "checkbox"
            ]
          },
          "checkbox": {
            "type": "boolean"
          },
          "object": {
            "type": "string",
            "enum": [
              "property_item"
            ]
          },
          "id": {
            "type": "string"
          }
        },
        "required": [
          "type",
          "checkbox",
          "object",
          "id"
        ]
      },
      "checkboxSimplePropertyValueResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always `checkbox`",
            "enum": [
              "checkbox"
            ]
          },
          "checkbox": {
            "type": "boolean"
          }
        },
        "additionalProperties": false,
        "required": [
          "type",
          "checkbox"
        ],
        "title": "Checkbox"
      },
      "childDatabaseBlockObjectResponse": {
        "title": "Child Database",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "child_database"
            ]
          },
          "child_database": {
            "$ref": "#/components/schemas/titleObjectResponse"
          },
          "parent": {
            "$ref": "#/components/schemas/parentForBlockBasedObjectResponse"
          },
          "object": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "child_database",
          "parent",
          "object",
          "id",
          "created_time",
          "created_by",
          "last_edited_time",
          "last_edited_by",
          "has_children",
          "in_trash"
        ]
      },
      "childPageBlockObjectResponse": {
        "title": "Child Page",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "child_page"
            ]
          },
          "child_page": {
            "$ref": "#/components/schemas/titleObjectResponse"
          },
          "parent": {
            "$ref": "#/components/schemas/parentForBlockBasedObjectResponse"
          },
          "object": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "child_page",
          "parent",
          "object",
          "id",
          "created_time",
          "created_by",
          "last_edited_time",
          "last_edited_by",
          "has_children",
          "in_trash"
        ]
      },
      "codeBlockObjectResponse": {
        "title": "Code",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "code"
            ]
          },
          "code": {
            "type": "object",
            "properties": {
              "rich_text": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemResponse"
                },
                "maxItems": 100
              },
              "caption": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/richTextItemResponse"
                },
                "maxItems": 100
              },
              "language": {
                "$ref": "#/components/schemas/languageRequest"
              }
            },
            "required": [
              "rich_text",
              "caption",
              "language"
            ]
          },
          "parent": {
            "$ref": "#/components/schemas/parentForBlockBasedObjectResponse"
          },
          "object": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "code",
          "parent",
          "object",
          "id",
          "created_time",
          "created_by",
          "last_edited_time",
          "last_edited_by",
          "has_children",
          "in_trash"
        ]
      },
      "columnBlockObjectResponse": {
        "title": "Column",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "column"
            ]
          },
          "column": {
            "$ref": "#/components/schemas/columnResponse"
          },
          "parent": {
            "$ref": "#/components/schemas/parentForBlockBasedObjectResponse"
          },
          "object": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "column",
          "parent",
          "object",
          "id",
          "created_time",
          "created_by",
          "last_edited_time",
          "last_edited_by",
          "has_children",
          "in_trash"
        ]
      },
      "columnBlockWithChildrenRequest": {
        "title": "Column",
        "type": "object",
        "properties": {
          "column": {
            "$ref": "#/components/schemas/columnWithChildrenRequest"
          },
          "type": {
            "type": "string",
            "enum": [
              "column"
            ]
          },
          "object": {
            "type": "string",
            "enum": [
              "block"
            ]
          }
        },
        "additionalProperties": false,
        "required": [
          "column"
        ]
      },
      "columnListBlockObjectResponse": {
        "title": "Column List",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "column_list"
            ]
          },
          "column_list": {
            "$ref": "#/components/schemas/emptyObject"
          },
          "parent": {
            "$ref": "#/components/schemas/parentForBlockBasedObjectResponse"
          },
          "object": {
            "type": "string",
            "enum": [
              "block"
            ]
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "created_time": {
            "type": "string",
            "format": "date-time"
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time"
          },
          "last_edited_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse"
          },
          "has_children": {
            "type": "boolean"
          },
          "in_trash": {
            "type": "boolean"
          }
        },
        "required": [
          "type",
          "column_list",
          "parent",
          "object",
          "id",
          "created_time",
          "created_by",
          "last_edited_time",
          "last_edited_by",
          "has_children",
          "in_trash"
        ]
      },
      "columnListRequest": {
        "type": "object",
        "properties": {
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/columnBlockWithChildrenRequest"
            },
            "maxItems": 100,
            "minItems": 2
          }
        },
        "additionalProperties": false,
        "required": [
          "children"
        ]
      },
      "columnResponse": {
        "type": "object",
        "properties": {
          "width_ratio": {
            "description": "Ratio between 0 and 1 of the width of this column relative to all columns in the list. If not provided, uses an equal width.",
            "examples": [
              0.5
            ],
            "type": "number"
          }
        }
      },
      "columnWithChildrenRequest": {
        "type": "object",
        "properties": {
          "children": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/blockObjectWithSingleLevelOfChildrenRequest"
            },
            "maxItems": 100
          },
          "width_ratio": {
            "description": "Ratio between 0 and 1 of the width of this column relative to all columns in the list. If not provided, uses an equal width.",
            "examples": [
              0.5
            ],
            "type": "number",
            "exclusiveMinimum": true,
            "exclusiveMaximum": true,
            "minimum": 0,
            "maximum": 1
          }
        },
        "additionalProperties": false,
        "required": [
          "children"
        ]
      },
      "commentCreatedWebhookPayload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "workspace_id": {
            "$ref": "#/components/schemas/idResponse"
          },
          "workspace_name": {
            "type": "string"
          },
          "subscription_id": {
            "$ref": "#/components/schemas/idResponse"
          },
          "integration_id": {
            "$ref": "#/components/schemas/idResponse"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "$ref": "#/components/schemas/idResponse"
                },
                "type": {
                  "type": "string",
                  "description": "Always `person`",
                  "enum": [
                    "person",
                    "bot"
                  ]
                }
              },
              "required": [
                "id",
                "type"
              ]
            },
            "maxItems": 100
          },
          "attempt_number": {
            "type": "integer"
          },
          "api_version": {
            "type": "string",
            "enum": [
              "2022-06-28",
              "2025-09-03"
            ],
            "description": "The Notion API version that was used to render this webhook event's shape."
          },
          "accessible_by": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "$ref": "#/components/schemas/idResponse"
                },
                "type": {
                  "type": "string",
                  "description": "Always `person`",
                  "enum": [
                    "person",
                    "bot"
                  ]
                }
              },
              "required": [
                "id",
                "type"
              ]
            },
            "maxItems": 100
          },
          "type": {
            "type": "string",
            "description": "Always `comment.created`",
            "enum": [
              "comment.created"
            ]
          },
          "entity": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Always `comment`",
                "enum": [
                  "comment"
                ]
              },
              "id": {
                "$ref": "#/components/schemas/idResponse"
              }
            },
            "additionalProperties": false,
            "required": [
              "type",
              "id"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "parent": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/idResponse"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "page",
                      "database",
                      "block"
                    ],
                    "description": "One of: `page`, `database`, `block`"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "id",
                  "type"
                ]
              },
              "page_id": {
                "$ref": "#/components/schemas/idResponse"
              }
            },
            "additionalProperties": false,
            "required": [
              "parent",
              "page_id"
            ]
          }
        },
        "required": [
          "id",
          "timestamp",
          "workspace_id",
          "workspace_name",
          "subscription_id",
          "integration_id",
          "authors",
          "attempt_number",
          "api_version",
          "type",
          "entity",
          "data"
        ]
      },
      "commentDeletedWebhookPayload": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "timestamp": {
            "type": "string"
          },
          "workspace_id": {
            "$ref": "#/components/schemas/idResponse"
          },
          "workspace_name": {
            "type": "string"
          },
          "subscription_id": {
            "$ref": "#/components/schemas/idResponse"
          },
          "integration_id": {
            "$ref": "#/components/schemas/idResponse"
          },
          "authors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "$ref": "#/components/schemas/idResponse"
                },
                "type": {
                  "type": "string",
                  "description": "Always `person`",
                  "enum": [
                    "person",
                    "bot"
                  ]
                }
              },
              "required": [
                "id",
                "type"
              ]
            },
            "maxItems": 100
          },
          "attempt_number": {
            "type": "integer"
          },
          "api_version": {
            "type": "string",
            "enum": [
              "2022-06-28",
              "2025-09-03"
            ],
            "description": "The Notion API version that was used to render this webhook event's shape."
          },
          "accessible_by": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "$ref": "#/components/schemas/idResponse"
                },
                "type": {
                  "type": "string",
                  "description": "Always `person`",
                  "enum": [
                    "person",
                    "bot"
                  ]
                }
              },
              "required": [
                "id",
                "type"
              ]
            },
            "maxItems": 100
          },
          "type": {
            "type": "string",
            "description": "Always `comment.deleted`",
            "enum": [
              "comment.deleted"
            ]
          },
          "entity": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Always `comment`",
                "enum": [
                  "comment"
                ]
              },
              "id": {
                "$ref": "#/components/schemas/idResponse"
              }
            },
            "additionalProperties": false,
            "required": [
              "type",
              "id"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "parent": {
                "type": "object",
                "properties": {
                  "id": {
                    "$ref": "#/components/schemas/idResponse"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "page",
                      "database",
                      "block"
                    ],
                    "description": "One of: `page`, `database`, `block`"
                  }
                },
                "additionalProperties": false,
                "required": [
                  "id",
                  "type"
                ]
              },
              "page_id": {
                "$ref": "#/components/schemas/idResponse"
              }
            },
            "additionalProperties": false,
            "required": [
              "parent",
              "page_id"
            ]
          }
        },
        "required": [
          "id",
          "timestamp",
          "workspace_id",
          "workspace_name",
          "subscription_id",
          "integration_id",
          "authors",
          "attempt_number",
          "api_version",
          "type",
          "entity",
          "data"
        ]
      },
      "commentObjectResponse": {
        "type": "object",
        "properties": {
          "object": {
            "type": "string",
            "description": "The comment object type name.",
            "enum": [
              "comment"
            ]
          },
          "id": {
            "$ref": "#/components/schemas/idResponse",
            "description": "The ID of the comment."
          },
          "parent": {
            "$ref": "#/components/schemas/commentParentResponse",
            "description": "The parent of the comment."
          },
          "discussion_id": {
            "$ref": "#/components/schemas/idResponse",
            "description": "The ID of the discussion thread this comment belongs to."
          },
          "created_time": {
            "type": "string",
            "format": "date-time",
            "description": "The time when the comment was created."
          },
          "last_edited_time": {
            "type": "string",
            "format": "date-time",
            "description": "The time when the comment was last edited."
          },
          "created_by": {
            "$ref": "#/components/schemas/partialUserObjectResponse",
            "description": "The user who created the comment."
          },
          "rich_text": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/richTextItemResponse"
            },
            "maxItems": 100,
            "description": "The rich text content of the comment."
          },
          "display_name": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": [
                  "custom",
                  "user",
                  "integration"
                ],
                "description": "One of: `custom`, `user`, `integration`"
              },
              "resolved_name": {
                "type": "string",
                "nullable": true
              }
            },
            "additionalProperties": false,
            "required": [
              "type",
              "resolved_name"
            ],
            "description": "The display name of the comment."
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "category": {
                  "type": "string",
                  "enum": [
                    "audio",
                    "image",
                    "pdf",
                    "productivity",
                    "video"
                  ],
                  "description": "One of: `audio`, `image`, `pdf`, `productivity`, `video`"
                },
                "file": {
                  "$ref": "#/components/schemas/internalFileResponse"
                }
              },
              "additionalProperties": false,
              "required": [
                "category",
                "file"
              ]
            },
            "maxItems": 100,
            "description": "Any file attachments associated with the comment."
          }
        },
        "additionalProperties": false,
        "required": [
          "object",
          "id",
          "parent",
          "discussion_id",
          "created_time",
          "last_edited_time",
          "created_by",
          "rich_text",
          "display_name"
        ]
      },
      "commentParentResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Always `page_id`",
            "enum": [
              "page_id",
              "block_id"
            ]
          },
          "page_id": {
            "$ref": "#/components/schemas/idResponse"
          },
          "block_id": {
            "$ref": "#/components/schemas/idResponse"
          }
        },
        "required": [
          "type"
        ]
      },
      "commentUpdatedWebhookPayload": {
        "type": "object",
[...]
