openapi: 3.0.0
info:
  title: Notion API
  description: "Hello and welcome!\n\nTo make use of this API collection collection as it's written, please duplicate [this database template](https://www.notion.so/8e2c2b769e1d47d287b9ed3035d607ae?v=dc1b92875fb94f10834ba8d36549bd2a).\n\n\uFEFFUnder the `Variables` tab, add your environment variables to start making requests. You will need to [create an integration](https://www.notion.so/my-integrations) to retrieve an API token. You will also need additional values, such as a database ID and page ID, which can be found in your Notion workspace or from the database template mentioned above.\n\nFor our full documentation, including sample integrations and guides, visit [developers.notion.com](https://developers.notion.com/)\uFEFF.\n\nPlease note: Pages that are parented by a database _must_ have the same properties as the parent database. If you are not using the database template provided, the request `body` for the page endpoints included in this collection should be updated to match the properties in the parent database being used. See documentation for [Creating a page](https://developers.notion.com/reference/post-page) for more information.\n\nTo learn more about creating an access token, see our [official documentation](https://developers.notion.com/reference/create-a-token) and read our [Authorization](https://developers.notion.com/docs/authorization#step-3-send-the-code-in-a-post-request-to-the-notion-api) guide.\n\nNeed more help? Join our [developer community on Slack](https://join.slack.com/t/notiondevs/shared_invite/zt-20b5996xv-DzJdLiympy6jP0GGzu3AMg)\uFEFF."
  version: 1.0.0
servers:
  - url: https://api.notion.com
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
tags:
  - name: Users
    description: >-
      All actions in a Notion workspace are associated to a
      [user](https://developers.notion.com/reference/user), whether it be a bot
      via a [Notion
      integration](https://developers.notion.com/docs/getting-started) or a
      person interacting with Notion’s UI.


      These endpoints allow developers to interact with users programmatically
      by [listing all users](https://developers.notion.com/reference/get-user),
      [retrieving information about your integration’s
      bot](https://developers.notion.com/reference/get-self), or [retrieving a
      specific user](https://developers.notion.com/reference/get-user) in your
      Notion workspace.


      To learn more, read [Notion’s official
      documentation](https://developers.notion.com/reference/user) for endpoints
      related to users.
  - name: Databases
    description: >-
      Databases represent collections of Notion pages that can be
      [sorted](https://developers.notion.com/reference/post-database-query-sort)
      and
      [queried](https://developers.notion.com/reference/post-database-query).
      Each database will have a schema (or properties) that represent the
      columns in the database table. Notion offers several types of properties,
      as described in the [official
      documentation](https://developers.notion.com/reference/property-object).


      These database-related endpoints allow developers to work with databases
      programmatically by
      [creating](https://developers.notion.com/reference/create-a-database),
      [retrieving](https://developers.notion.com/reference/retrieve-a-database),
      and [updating](https://developers.notion.com/reference/update-a-database)
      them.


      To learn more, read [Notion’s official
      documentation](https://developers.notion.com/reference/database) for
      endpoints related to databases. We also recommend reading the official
      Notion guide for [working with
      databases](https://developers.notion.com/docs/working-with-page-content).
  - name: Pages
    description: >-
      Pages represent documents in Notion workspaces that can be created in a
      workspace directly or organized within in a Notion database.


      These page-related endpoints allow developers to work with pages
      programmatically by
      [creating](https://developers.notion.com/reference/post-page),
      [retrieving](https://developers.notion.com/reference/retrieve-a-page),
      [updating](https://developers.notion.com/reference/patch-page), and
      [archiving](https://developers.notion.com/reference/archive-a-page) them.


      To learn more, read [Notion’s official
      documentation](https://developers.notion.com/reference/page) for endpoints
      related to pages. We also recommend reading the official Notion guide for
      [working with page
      content](https://developers.notion.com/docs/working-with-page-content).
  - name: Blocks
    description: >-
      A block represents a piece of content in a Notion workspace. All Notion
      pages are composed of a series of blocks. Blocks can vary in type,
      including (but not limited to) headers, styled text, images, tables, and
      more. To see a complete list of block types, refer to Notion’s [official
      documentation](https://developers.notion.com/reference/page-property-values#type-objects).


      These block-related endpoints allow developers to work with blocks
      programmatically by
      [creating](https://developers.notion.com/reference/patch-block-children),
      [retrieving](https://developers.notion.com/reference/retrieve-a-block),
      [updating](https://developers.notion.com/reference/update-a-block), and
      [deleting](https://developers.notion.com/reference/delete-a-block) them
      from Notion pages.


      To learn more, read [Notion’s official
      documentation](https://developers.notion.com/reference/block) for
      endpoints related to blocks. We also recommend reading the official Notion
      guides for [working with page
      content](https://developers.notion.com/docs/working-with-page-content)
      (a.k.a. blocks) and [working with files and
      media](https://developers.notion.com/docs/working-with-files-and-media).
  - name: Search
    description: >-
      Search all pages and databases shared with your Notion integration. To
      learn more, read Notion’s [official
      documentation](https://developers.notion.com/reference/post-search) for
      the Public API endpoints.
  - name: Comments
    description: >-
      [Comments](https://developers.notion.com/reference/comment-object) can be
      added to a page or inline (i.e., to blocks).  

      These comment-related endpoints allow developers to work with comments
      programmatically by
      [creating](https://developers.notion.com/reference/create-a-comment) and
      [retrieving](https://developers.notion.com/reference/retrieve-a-block)
      them.  
        
      To learn more, read [Notion’s official
      documentation](https://developers.notion.com/reference/comment-object) for
      endpoints related to comments. We also recommend reading the official
      Notion guide for [working with
      comments](https://developers.notion.com/docs/working-with-comments).
paths:
  /v1/users/{id}:
    get:
      tags:
        - Users
      summary: Retrieve a user
      description: Retrieve a user object using the ID specified in the request path.
      parameters:
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: '{{USER_ID}}'
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Thu, 24 Feb 2022 21:47:15 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Set-Cookie:
              schema:
                type: string
                example: >-
                  notion_check_cookie_consent=false; Domain=www.notion.so;
                  Path=/; Expires=Fri, 25 Feb 2022 21:47:15 GMT; Secure
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=5184000; includeSubDomains
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            Referrer-Policy:
              schema:
                type: string
                example: same-origin
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  script-src 'self' 'unsafe-inline' 'unsafe-eval'
                  https://gist.github.com https://apis.google.com
                  https://cdn.amplitude.com https://api.amplitude.com
                  https://hkfxbbdzib.notion.so https://widget.intercom.io
                  https://js.intercomcdn.com https://logs-01.loggly.com
                  https://cdn.segment.com https://analytics.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://embed.typeform.com
                  https://admin.typeform.com https://public.profitwell.com
                  js.sentry-cdn.com https://js.chilipiper.com
                  https://platform.twitter.com
                  https://cdn.syndication.twimg.com; connect-src 'self'
                  https://msgstore.www.notion.so wss://msgstore.www.notion.so
                  ws://localhost:* ws://127.0.0.1:*
                  https://notion-emojis.s3-us-west-2.amazonaws.com
                  https://s3-us-west-2.amazonaws.com
                  https://s3.us-west-2.amazonaws.com
                  https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
                  https: http: https://cdn.amplitude.com
                  https://api.amplitude.com https://hkfxbbdzib.notion.so
                  https://api.embed.ly https://js.intercomcdn.com
                  https://api-iam.intercom.io
                  wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
                  https://cdn.segment.com https://api.segment.io
                  https://analytics.pgncs.notion.so https://api.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://cdn.contentful.com
                  https://preview.contentful.com https://images.ctfassets.net
                  https://www2.profitwell.com https://tracking.chilipiper.com
                  https://api.chilipiper.com https://api.unsplash.com
                  https://boards-api.greenhouse.io https://api.statuspage.io
                  https://pgncd.notion.so https://api.statsig.com; font-src
                  'self' data: https://cdnjs.cloudflare.com
                  https://js.intercomcdn.com; img-src 'self' data: blob: https:
                  https://platform.twitter.com https://syndication.twitter.com
                  https://pbs.twimg.com https://ton.twimg.com; style-src 'self'
                  'unsafe-inline' https://cdnjs.cloudflare.com
                  https://github.githubassets.com https://js.chilipiper.com
                  https://platform.twitter.com https://ton.twimg.com; frame-src
                  https: http:; media-src https: http:
            X-Content-Security-Policy:
              schema:
                type: string
                example: >-
                  script-src 'self' 'unsafe-inline' 'unsafe-eval'
                  https://gist.github.com https://apis.google.com
                  https://cdn.amplitude.com https://api.amplitude.com
                  https://hkfxbbdzib.notion.so https://widget.intercom.io
                  https://js.intercomcdn.com https://logs-01.loggly.com
                  https://cdn.segment.com https://analytics.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://embed.typeform.com
                  https://admin.typeform.com https://public.profitwell.com
                  js.sentry-cdn.com https://js.chilipiper.com
                  https://platform.twitter.com
                  https://cdn.syndication.twimg.com; connect-src 'self'
                  https://msgstore.www.notion.so wss://msgstore.www.notion.so
                  ws://localhost:* ws://127.0.0.1:*
                  https://notion-emojis.s3-us-west-2.amazonaws.com
                  https://s3-us-west-2.amazonaws.com
                  https://s3.us-west-2.amazonaws.com
                  https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
                  https: http: https://cdn.amplitude.com
                  https://api.amplitude.com https://hkfxbbdzib.notion.so
                  https://api.embed.ly https://js.intercomcdn.com
                  https://api-iam.intercom.io
                  wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
                  https://cdn.segment.com https://api.segment.io
                  https://analytics.pgncs.notion.so https://api.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://cdn.contentful.com
                  https://preview.contentful.com https://images.ctfassets.net
                  https://www2.profitwell.com https://tracking.chilipiper.com
                  https://api.chilipiper.com https://api.unsplash.com
                  https://boards-api.greenhouse.io https://api.statuspage.io
                  https://pgncd.notion.so https://api.statsig.com; font-src
                  'self' data: https://cdnjs.cloudflare.com
                  https://js.intercomcdn.com; img-src 'self' data: blob: https:
                  https://platform.twitter.com https://syndication.twitter.com
                  https://pbs.twimg.com https://ton.twimg.com; style-src 'self'
                  'unsafe-inline' https://cdnjs.cloudflare.com
                  https://github.githubassets.com https://js.chilipiper.com
                  https://platform.twitter.com https://ton.twimg.com; frame-src
                  https: http:; media-src https: http:
            X-WebKit-CSP:
              schema:
                type: string
                example: >-
                  script-src 'self' 'unsafe-inline' 'unsafe-eval'
                  https://gist.github.com https://apis.google.com
                  https://cdn.amplitude.com https://api.amplitude.com
                  https://hkfxbbdzib.notion.so https://widget.intercom.io
                  https://js.intercomcdn.com https://logs-01.loggly.com
                  https://cdn.segment.com https://analytics.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://embed.typeform.com
                  https://admin.typeform.com https://public.profitwell.com
                  js.sentry-cdn.com https://js.chilipiper.com
                  https://platform.twitter.com
                  https://cdn.syndication.twimg.com; connect-src 'self'
                  https://msgstore.www.notion.so wss://msgstore.www.notion.so
                  ws://localhost:* ws://127.0.0.1:*
                  https://notion-emojis.s3-us-west-2.amazonaws.com
                  https://s3-us-west-2.amazonaws.com
                  https://s3.us-west-2.amazonaws.com
                  https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
                  https: http: https://cdn.amplitude.com
                  https://api.amplitude.com https://hkfxbbdzib.notion.so
                  https://api.embed.ly https://js.intercomcdn.com
                  https://api-iam.intercom.io
                  wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
                  https://cdn.segment.com https://api.segment.io
                  https://analytics.pgncs.notion.so https://api.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://cdn.contentful.com
                  https://preview.contentful.com https://images.ctfassets.net
                  https://www2.profitwell.com https://tracking.chilipiper.com
                  https://api.chilipiper.com https://api.unsplash.com
                  https://boards-api.greenhouse.io https://api.statuspage.io
                  https://pgncd.notion.so https://api.statsig.com; font-src
                  'self' data: https://cdnjs.cloudflare.com
                  https://js.intercomcdn.com; img-src 'self' data: blob: https:
                  https://platform.twitter.com https://syndication.twitter.com
                  https://pbs.twimg.com https://ton.twimg.com; style-src 'self'
                  'unsafe-inline' https://cdnjs.cloudflare.com
                  https://github.githubassets.com https://js.chilipiper.com
                  https://platform.twitter.com https://ton.twimg.com; frame-src
                  https: http:; media-src https: http:
            ETag:
              schema:
                type: string
                example: W/"9b-qoibMBKquYk09T0oogqvLGu9qu4"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 6e2be42d784c97c3-SJC
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                object: user
                id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                name: Aman Gupta
                avatar_url: null
                type: person
                person:
                  email: XXXXXXXXXXX
  /v1/users:
    get:
      tags:
        - Users
      summary: List all users
      description: Returns a paginated list of user objects for a workspace
      parameters:
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Thu, 24 Feb 2022 21:48:25 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Set-Cookie:
              schema:
                type: string
                example: >-
                  notion_check_cookie_consent=false; Domain=www.notion.so;
                  Path=/; Expires=Fri, 25 Feb 2022 21:48:25 GMT; Secure
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=5184000; includeSubDomains
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            Referrer-Policy:
              schema:
                type: string
                example: same-origin
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  script-src 'self' 'unsafe-inline' 'unsafe-eval'
                  https://gist.github.com https://apis.google.com
                  https://cdn.amplitude.com https://api.amplitude.com
                  https://hkfxbbdzib.notion.so https://widget.intercom.io
                  https://js.intercomcdn.com https://logs-01.loggly.com
                  https://cdn.segment.com https://analytics.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://embed.typeform.com
                  https://admin.typeform.com https://public.profitwell.com
                  js.sentry-cdn.com https://js.chilipiper.com
                  https://platform.twitter.com
                  https://cdn.syndication.twimg.com; connect-src 'self'
                  https://msgstore.www.notion.so wss://msgstore.www.notion.so
                  ws://localhost:* ws://127.0.0.1:*
                  https://notion-emojis.s3-us-west-2.amazonaws.com
                  https://s3-us-west-2.amazonaws.com
                  https://s3.us-west-2.amazonaws.com
                  https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
                  https: http: https://cdn.amplitude.com
                  https://api.amplitude.com https://hkfxbbdzib.notion.so
                  https://api.embed.ly https://js.intercomcdn.com
                  https://api-iam.intercom.io
                  wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
                  https://cdn.segment.com https://api.segment.io
                  https://analytics.pgncs.notion.so https://api.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://cdn.contentful.com
                  https://preview.contentful.com https://images.ctfassets.net
                  https://www2.profitwell.com https://tracking.chilipiper.com
                  https://api.chilipiper.com https://api.unsplash.com
                  https://boards-api.greenhouse.io https://api.statuspage.io
                  https://pgncd.notion.so https://api.statsig.com; font-src
                  'self' data: https://cdnjs.cloudflare.com
                  https://js.intercomcdn.com; img-src 'self' data: blob: https:
                  https://platform.twitter.com https://syndication.twitter.com
                  https://pbs.twimg.com https://ton.twimg.com; style-src 'self'
                  'unsafe-inline' https://cdnjs.cloudflare.com
                  https://github.githubassets.com https://js.chilipiper.com
                  https://platform.twitter.com https://ton.twimg.com; frame-src
                  https: http:; media-src https: http:
            X-Content-Security-Policy:
              schema:
                type: string
                example: >-
                  script-src 'self' 'unsafe-inline' 'unsafe-eval'
                  https://gist.github.com https://apis.google.com
                  https://cdn.amplitude.com https://api.amplitude.com
                  https://hkfxbbdzib.notion.so https://widget.intercom.io
                  https://js.intercomcdn.com https://logs-01.loggly.com
                  https://cdn.segment.com https://analytics.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://embed.typeform.com
                  https://admin.typeform.com https://public.profitwell.com
                  js.sentry-cdn.com https://js.chilipiper.com
                  https://platform.twitter.com
                  https://cdn.syndication.twimg.com; connect-src 'self'
                  https://msgstore.www.notion.so wss://msgstore.www.notion.so
                  ws://localhost:* ws://127.0.0.1:*
                  https://notion-emojis.s3-us-west-2.amazonaws.com
                  https://s3-us-west-2.amazonaws.com
                  https://s3.us-west-2.amazonaws.com
                  https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
                  https: http: https://cdn.amplitude.com
                  https://api.amplitude.com https://hkfxbbdzib.notion.so
                  https://api.embed.ly https://js.intercomcdn.com
                  https://api-iam.intercom.io
                  wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
                  https://cdn.segment.com https://api.segment.io
                  https://analytics.pgncs.notion.so https://api.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://cdn.contentful.com
                  https://preview.contentful.com https://images.ctfassets.net
                  https://www2.profitwell.com https://tracking.chilipiper.com
                  https://api.chilipiper.com https://api.unsplash.com
                  https://boards-api.greenhouse.io https://api.statuspage.io
                  https://pgncd.notion.so https://api.statsig.com; font-src
                  'self' data: https://cdnjs.cloudflare.com
                  https://js.intercomcdn.com; img-src 'self' data: blob: https:
                  https://platform.twitter.com https://syndication.twitter.com
                  https://pbs.twimg.com https://ton.twimg.com; style-src 'self'
                  'unsafe-inline' https://cdnjs.cloudflare.com
                  https://github.githubassets.com https://js.chilipiper.com
                  https://platform.twitter.com https://ton.twimg.com; frame-src
                  https: http:; media-src https: http:
            X-WebKit-CSP:
              schema:
                type: string
                example: >-
                  script-src 'self' 'unsafe-inline' 'unsafe-eval'
                  https://gist.github.com https://apis.google.com
                  https://cdn.amplitude.com https://api.amplitude.com
                  https://hkfxbbdzib.notion.so https://widget.intercom.io
                  https://js.intercomcdn.com https://logs-01.loggly.com
                  https://cdn.segment.com https://analytics.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://embed.typeform.com
                  https://admin.typeform.com https://public.profitwell.com
                  js.sentry-cdn.com https://js.chilipiper.com
                  https://platform.twitter.com
                  https://cdn.syndication.twimg.com; connect-src 'self'
                  https://msgstore.www.notion.so wss://msgstore.www.notion.so
                  ws://localhost:* ws://127.0.0.1:*
                  https://notion-emojis.s3-us-west-2.amazonaws.com
                  https://s3-us-west-2.amazonaws.com
                  https://s3.us-west-2.amazonaws.com
                  https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
                  https: http: https://cdn.amplitude.com
                  https://api.amplitude.com https://hkfxbbdzib.notion.so
                  https://api.embed.ly https://js.intercomcdn.com
                  https://api-iam.intercom.io
                  wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
                  https://cdn.segment.com https://api.segment.io
                  https://analytics.pgncs.notion.so https://api.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://cdn.contentful.com
                  https://preview.contentful.com https://images.ctfassets.net
                  https://www2.profitwell.com https://tracking.chilipiper.com
                  https://api.chilipiper.com https://api.unsplash.com
                  https://boards-api.greenhouse.io https://api.statuspage.io
                  https://pgncd.notion.so https://api.statsig.com; font-src
                  'self' data: https://cdnjs.cloudflare.com
                  https://js.intercomcdn.com; img-src 'self' data: blob: https:
                  https://platform.twitter.com https://syndication.twitter.com
                  https://pbs.twimg.com https://ton.twimg.com; style-src 'self'
                  'unsafe-inline' https://cdnjs.cloudflare.com
                  https://github.githubassets.com https://js.chilipiper.com
                  https://platform.twitter.com https://ton.twimg.com; frame-src
                  https: http:; media-src https: http:
            ETag:
              schema:
                type: string
                example: W/"6e4-sni6uhyjO+1Rwt4GEaScNm+SLr4"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Content-Encoding:
              schema:
                type: string
                example: gzip
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 6e2be5e27e9797c3-SJC
          content:
            application/json:
              schema:
                type: object
              example:
                object: list
                results:
                  - object: user
                    id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                    name: Aman Gupta
                    avatar_url: null
                    type: person
                    person:
                      email: XXXXXXXXXX
                  - object: user
                    id: 92a680bb-6970-4726-952b-4f4c03bff617
                    name: Leotastic
                    avatar_url: null
                    type: bot
                    bot:
                      owner:
                        type: workspace
                        workspace: true
                next_cursor: null
                has_more: false
  /v1/users/me:
    get:
      tags:
        - Users
      summary: Retrieve your token’s bot user
      parameters:
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Thu, 24 Feb 2022 22:56:24 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Set-Cookie:
              schema:
                type: string
                example: >-
                  notion_check_cookie_consent=false; Domain=www.notion.so;
                  Path=/; Expires=Fri, 25 Feb 2022 22:56:24 GMT; Secure
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=5184000; includeSubDomains
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            Referrer-Policy:
              schema:
                type: string
                example: same-origin
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  script-src 'self' 'unsafe-inline' 'unsafe-eval'
                  https://gist.github.com https://apis.google.com
                  https://cdn.amplitude.com https://api.amplitude.com
                  https://hkfxbbdzib.notion.so https://widget.intercom.io
                  https://js.intercomcdn.com https://logs-01.loggly.com
                  https://cdn.segment.com https://analytics.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://embed.typeform.com
                  https://admin.typeform.com https://public.profitwell.com
                  js.sentry-cdn.com https://js.chilipiper.com
                  https://platform.twitter.com
                  https://cdn.syndication.twimg.com; connect-src 'self'
                  https://msgstore.www.notion.so wss://msgstore.www.notion.so
                  ws://localhost:* ws://127.0.0.1:*
                  https://notion-emojis.s3-us-west-2.amazonaws.com
                  https://s3-us-west-2.amazonaws.com
                  https://s3.us-west-2.amazonaws.com
                  https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
                  https: http: https://cdn.amplitude.com
                  https://api.amplitude.com https://hkfxbbdzib.notion.so
                  https://api.embed.ly https://js.intercomcdn.com
                  https://api-iam.intercom.io
                  wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
                  https://cdn.segment.com https://api.segment.io
                  https://analytics.pgncs.notion.so https://api.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://cdn.contentful.com
                  https://preview.contentful.com https://images.ctfassets.net
                  https://www2.profitwell.com https://tracking.chilipiper.com
                  https://api.chilipiper.com https://api.unsplash.com
                  https://boards-api.greenhouse.io https://api.statuspage.io
                  https://pgncd.notion.so https://api.statsig.com; font-src
                  'self' data: https://cdnjs.cloudflare.com
                  https://js.intercomcdn.com; img-src 'self' data: blob: https:
                  https://platform.twitter.com https://syndication.twitter.com
                  https://pbs.twimg.com https://ton.twimg.com; style-src 'self'
                  'unsafe-inline' https://cdnjs.cloudflare.com
                  https://github.githubassets.com https://js.chilipiper.com
                  https://platform.twitter.com https://ton.twimg.com; frame-src
                  https: http:; media-src https: http:
            X-Content-Security-Policy:
              schema:
                type: string
                example: >-
                  script-src 'self' 'unsafe-inline' 'unsafe-eval'
                  https://gist.github.com https://apis.google.com
                  https://cdn.amplitude.com https://api.amplitude.com
                  https://hkfxbbdzib.notion.so https://widget.intercom.io
                  https://js.intercomcdn.com https://logs-01.loggly.com
                  https://cdn.segment.com https://analytics.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://embed.typeform.com
                  https://admin.typeform.com https://public.profitwell.com
                  js.sentry-cdn.com https://js.chilipiper.com
                  https://platform.twitter.com
                  https://cdn.syndication.twimg.com; connect-src 'self'
                  https://msgstore.www.notion.so wss://msgstore.www.notion.so
                  ws://localhost:* ws://127.0.0.1:*
                  https://notion-emojis.s3-us-west-2.amazonaws.com
                  https://s3-us-west-2.amazonaws.com
                  https://s3.us-west-2.amazonaws.com
                  https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
                  https: http: https://cdn.amplitude.com
                  https://api.amplitude.com https://hkfxbbdzib.notion.so
                  https://api.embed.ly https://js.intercomcdn.com
                  https://api-iam.intercom.io
                  wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
                  https://cdn.segment.com https://api.segment.io
                  https://analytics.pgncs.notion.so https://api.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://cdn.contentful.com
                  https://preview.contentful.com https://images.ctfassets.net
                  https://www2.profitwell.com https://tracking.chilipiper.com
                  https://api.chilipiper.com https://api.unsplash.com
                  https://boards-api.greenhouse.io https://api.statuspage.io
                  https://pgncd.notion.so https://api.statsig.com; font-src
                  'self' data: https://cdnjs.cloudflare.com
                  https://js.intercomcdn.com; img-src 'self' data: blob: https:
                  https://platform.twitter.com https://syndication.twitter.com
                  https://pbs.twimg.com https://ton.twimg.com; style-src 'self'
                  'unsafe-inline' https://cdnjs.cloudflare.com
                  https://github.githubassets.com https://js.chilipiper.com
                  https://platform.twitter.com https://ton.twimg.com; frame-src
                  https: http:; media-src https: http:
            X-WebKit-CSP:
              schema:
                type: string
                example: >-
                  script-src 'self' 'unsafe-inline' 'unsafe-eval'
                  https://gist.github.com https://apis.google.com
                  https://cdn.amplitude.com https://api.amplitude.com
                  https://hkfxbbdzib.notion.so https://widget.intercom.io
                  https://js.intercomcdn.com https://logs-01.loggly.com
                  https://cdn.segment.com https://analytics.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://embed.typeform.com
                  https://admin.typeform.com https://public.profitwell.com
                  js.sentry-cdn.com https://js.chilipiper.com
                  https://platform.twitter.com
                  https://cdn.syndication.twimg.com; connect-src 'self'
                  https://msgstore.www.notion.so wss://msgstore.www.notion.so
                  ws://localhost:* ws://127.0.0.1:*
                  https://notion-emojis.s3-us-west-2.amazonaws.com
                  https://s3-us-west-2.amazonaws.com
                  https://s3.us-west-2.amazonaws.com
                  https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
                  https: http: https://cdn.amplitude.com
                  https://api.amplitude.com https://hkfxbbdzib.notion.so
                  https://api.embed.ly https://js.intercomcdn.com
                  https://api-iam.intercom.io
                  wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
                  https://cdn.segment.com https://api.segment.io
                  https://analytics.pgncs.notion.so https://api.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://cdn.contentful.com
                  https://preview.contentful.com https://images.ctfassets.net
                  https://www2.profitwell.com https://tracking.chilipiper.com
                  https://api.chilipiper.com https://api.unsplash.com
                  https://boards-api.greenhouse.io https://api.statuspage.io
                  https://pgncd.notion.so https://api.statsig.com; font-src
                  'self' data: https://cdnjs.cloudflare.com
                  https://js.intercomcdn.com; img-src 'self' data: blob: https:
                  https://platform.twitter.com https://syndication.twitter.com
                  https://pbs.twimg.com https://ton.twimg.com; style-src 'self'
                  'unsafe-inline' https://cdnjs.cloudflare.com
                  https://github.githubassets.com https://js.chilipiper.com
                  https://platform.twitter.com https://ton.twimg.com; frame-src
                  https: http:; media-src https: http:
            ETag:
              schema:
                type: string
                example: W/"a5-8nKyiCE+m0Dwog4u0m9EY+DyENY"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 6e2c497a6f659452-SJC
            Content-Encoding:
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                type: object
              example:
                object: user
                id: 92a680bb-6970-4726-952b-4f4c03bff617
                name: Leotastic
                avatar_url: null
                type: bot
                bot:
                  owner:
                    type: workspace
                    workspace: true
  /v1/databases/{id}:
    get:
      tags:
        - Databases
      summary: Retrieve a database
      description: 'Retrieves a database object using the ID specified in the request path. '
      parameters:
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: '{{DATABASE_ID}}'
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Wed, 02 Mar 2022 05:19:28 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Set-Cookie:
              schema:
                type: string
                example: >-
                  notion_check_cookie_consent=false; Domain=www.notion.so;
                  Path=/; Expires=Thu, 03 Mar 2022 05:19:28 GMT; Secure
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=5184000; includeSubDomains
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            Referrer-Policy:
              schema:
                type: string
                example: same-origin
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  script-src 'self' 'unsafe-inline' 'unsafe-eval'
                  https://gist.github.com https://apis.google.com
                  https://cdn.amplitude.com https://api.amplitude.com
                  https://hkfxbbdzib.notion.so https://widget.intercom.io
                  https://js.intercomcdn.com https://logs-01.loggly.com
                  https://cdn.segment.com https://analytics.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://embed.typeform.com
                  https://admin.typeform.com https://public.profitwell.com
                  js.sentry-cdn.com https://js.chilipiper.com
                  https://platform.twitter.com
                  https://cdn.syndication.twimg.com; connect-src 'self'
                  https://msgstore.www.notion.so wss://msgstore.www.notion.so
                  ws://localhost:* ws://127.0.0.1:*
                  https://notion-emojis.s3-us-west-2.amazonaws.com
                  https://s3-us-west-2.amazonaws.com
                  https://s3.us-west-2.amazonaws.com
                  https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
                  https: http: https://cdn.amplitude.com
                  https://api.amplitude.com https://hkfxbbdzib.notion.so
                  https://api.embed.ly https://js.intercomcdn.com
                  https://api-iam.intercom.io
                  wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
                  https://cdn.segment.com https://api.segment.io
                  https://analytics.pgncs.notion.so https://api.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://cdn.contentful.com
                  https://preview.contentful.com https://images.ctfassets.net
                  https://www2.profitwell.com https://tracking.chilipiper.com
                  https://api.chilipiper.com https://api.unsplash.com
                  https://boards-api.greenhouse.io https://api.statuspage.io
                  https://pgncd.notion.so https://api.statsig.com; font-src
                  'self' data: https://cdnjs.cloudflare.com
                  https://js.intercomcdn.com; img-src 'self' data: blob: https:
                  https://platform.twitter.com https://syndication.twitter.com
                  https://pbs.twimg.com https://ton.twimg.com; style-src 'self'
                  'unsafe-inline' https://cdnjs.cloudflare.com
                  https://github.githubassets.com https://js.chilipiper.com
                  https://platform.twitter.com https://ton.twimg.com; frame-src
                  https: http:; media-src https: http:
            X-Content-Security-Policy:
              schema:
                type: string
                example: >-
                  script-src 'self' 'unsafe-inline' 'unsafe-eval'
                  https://gist.github.com https://apis.google.com
                  https://cdn.amplitude.com https://api.amplitude.com
                  https://hkfxbbdzib.notion.so https://widget.intercom.io
                  https://js.intercomcdn.com https://logs-01.loggly.com
                  https://cdn.segment.com https://analytics.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://embed.typeform.com
                  https://admin.typeform.com https://public.profitwell.com
                  js.sentry-cdn.com https://js.chilipiper.com
                  https://platform.twitter.com
                  https://cdn.syndication.twimg.com; connect-src 'self'
                  https://msgstore.www.notion.so wss://msgstore.www.notion.so
                  ws://localhost:* ws://127.0.0.1:*
                  https://notion-emojis.s3-us-west-2.amazonaws.com
                  https://s3-us-west-2.amazonaws.com
                  https://s3.us-west-2.amazonaws.com
                  https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
                  https: http: https://cdn.amplitude.com
                  https://api.amplitude.com https://hkfxbbdzib.notion.so
                  https://api.embed.ly https://js.intercomcdn.com
                  https://api-iam.intercom.io
                  wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
                  https://cdn.segment.com https://api.segment.io
                  https://analytics.pgncs.notion.so https://api.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://cdn.contentful.com
                  https://preview.contentful.com https://images.ctfassets.net
                  https://www2.profitwell.com https://tracking.chilipiper.com
                  https://api.chilipiper.com https://api.unsplash.com
                  https://boards-api.greenhouse.io https://api.statuspage.io
                  https://pgncd.notion.so https://api.statsig.com; font-src
                  'self' data: https://cdnjs.cloudflare.com
                  https://js.intercomcdn.com; img-src 'self' data: blob: https:
                  https://platform.twitter.com https://syndication.twitter.com
                  https://pbs.twimg.com https://ton.twimg.com; style-src 'self'
                  'unsafe-inline' https://cdnjs.cloudflare.com
                  https://github.githubassets.com https://js.chilipiper.com
                  https://platform.twitter.com https://ton.twimg.com; frame-src
                  https: http:; media-src https: http:
            X-WebKit-CSP:
              schema:
                type: string
                example: >-
                  script-src 'self' 'unsafe-inline' 'unsafe-eval'
                  https://gist.github.com https://apis.google.com
                  https://cdn.amplitude.com https://api.amplitude.com
                  https://hkfxbbdzib.notion.so https://widget.intercom.io
                  https://js.intercomcdn.com https://logs-01.loggly.com
                  https://cdn.segment.com https://analytics.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://embed.typeform.com
                  https://admin.typeform.com https://public.profitwell.com
                  js.sentry-cdn.com https://js.chilipiper.com
                  https://platform.twitter.com
                  https://cdn.syndication.twimg.com; connect-src 'self'
                  https://msgstore.www.notion.so wss://msgstore.www.notion.so
                  ws://localhost:* ws://127.0.0.1:*
                  https://notion-emojis.s3-us-west-2.amazonaws.com
                  https://s3-us-west-2.amazonaws.com
                  https://s3.us-west-2.amazonaws.com
                  https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
                  https: http: https://cdn.amplitude.com
                  https://api.amplitude.com https://hkfxbbdzib.notion.so
                  https://api.embed.ly https://js.intercomcdn.com
                  https://api-iam.intercom.io
                  wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
                  https://cdn.segment.com https://api.segment.io
                  https://analytics.pgncs.notion.so https://api.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://cdn.contentful.com
                  https://preview.contentful.com https://images.ctfassets.net
                  https://www2.profitwell.com https://tracking.chilipiper.com
                  https://api.chilipiper.com https://api.unsplash.com
                  https://boards-api.greenhouse.io https://api.statuspage.io
                  https://pgncd.notion.so https://api.statsig.com; font-src
                  'self' data: https://cdnjs.cloudflare.com
                  https://js.intercomcdn.com; img-src 'self' data: blob: https:
                  https://platform.twitter.com https://syndication.twitter.com
                  https://pbs.twimg.com https://ton.twimg.com; style-src 'self'
                  'unsafe-inline' https://cdnjs.cloudflare.com
                  https://github.githubassets.com https://js.chilipiper.com
                  https://platform.twitter.com https://ton.twimg.com; frame-src
                  https: http:; media-src https: http:
            ETag:
              schema:
                type: string
                example: W/"110f-R5+JLAgaiYySC0RHfDR5I4HPYWU"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Content-Encoding:
              schema:
                type: string
                example: gzip
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 6e57ad7a19c482ab-IAD
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: 200 Success - Retrieve a Database
                  value:
                    object: database
                    id: 8e2c2b76-9e1d-47d2-87b9-ed3035d607ae
                    cover: null
                    icon: null
                    created_time: '2021-04-27T20:38:00.000Z'
                    created_by:
                      object: user
                      id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                    last_edited_by:
                      object: user
                      id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                    last_edited_time: '2022-02-24T22:14:00.000Z'
                    title:
                      - type: text
                        text:
                          content: Ever Better Reading List Title
                          link: null
                        annotations:
                          bold: false
                          italic: false
                          strikethrough: false
                          underline: false
                          code: false
                          color: default
                        plain_text: Ever Better Reading List Title
                        href: null
                    properties:
                      Score /5:
                        id: )Y7%22
                        name: Score /5
                        type: select
                        select:
                          options:
                            - id: 5c944de7-3f4b-4567-b3a1-fa2c71c540b6
                              name: ⭐️⭐️⭐️⭐️⭐️
                              color: default
                            - id: b7307e35-c80a-4cb5-bb6b-6054523b394a
                              name: ⭐️⭐️⭐️⭐️
                              color: default
                            - id: 9b1e1349-8e24-40ba-bbca-84a61296bc81
                              name: ⭐️⭐️⭐️
                              color: default
                            - id: 66d3d050-086c-4a91-8c56-d55dc67e7789
                              name: ⭐️⭐️
                              color: default
                            - id: d3782c76-0396-467f-928e-46bf0c9d5fba
                              name: ⭐️
                              color: default
                      Type:
                        id: '%2F7eo'
                        name: Type
                        type: select
                        select:
                          options:
                            - id: f96d0d0a-5564-4a20-ab15-5f040d49759e
                              name: Article
                              color: default
                            - id: 4ac85597-5db1-4e0a-9c02-445575c38f76
                              name: TV Series
                              color: default
                            - id: 2991748a-5745-4c3b-9c9b-2d6846a6fa1f
                              name: Film
                              color: default
                            - id: 82f3bace-be25-410d-87fe-561c9c22492f
                              name: Podcast
                              color: default
                            - id: 861f1076-1cc4-429a-a781-54947d727a4a
                              name: Academic Journal
                              color: default
                            - id: 9cc30548-59d6-4cd3-94bc-d234081525c4
                              name: Essay Resource
                              color: default
                      Publisher:
                        id: '%3E%24Pb'
                        name: Publisher
                        type: select
                        select:
                          options:
                            - id: c5ee409a-f307-4176-99ee-6e424fa89afa
                              name: NYT
                              color: default
                            - id: 1b9b0c0c-17b0-4292-ad12-1364a51849de
                              name: Netflix
                              color: blue
                            - id: f3533637-278f-4501-b394-d9753bf3c101
                              name: Indie
                              color: brown
                            - id: e70d713c-4be4-4b40-a44d-fb413c8b9d7e
                              name: Bon Appetit
                              color: yellow
                            - id: 9c2bd667-0a10-4be4-a044-35a537a14ab9
                              name: Franklin Institute
                              color: pink
                            - id: 6849b5f0-e641-4ec5-83cb-1ffe23011060
                              name: Springer
                              color: orange
                            - id: 6a5bff63-a72d-4464-a5d0-1a601af2adf6
                              name: Emerald Group
                              color: gray
                            - id: 01f82d08-aa1f-4884-a4e0-3bc32f909ec4
                              name: The Atlantic
                              color: red
                      Summary:
                        id: '%3F%5C25'
                        name: Summary
                        type: rich_text
                        rich_text: {}
                      Publishing/Release Date:
                        id: '%3Fex%2B'
                        name: Publishing/Release Date
                        type: date
                        date: {}
                      Link:
                        id: VVMi
                        name: Link
                        type: url
                        url: {}
                      Read:
                        id: _MWJ
                        name: Read
                        type: checkbox
                        checkbox: {}
                      Status:
                        id: '%60zz5'
                        name: Status
                        type: select
                        select:
                          options:
                            - id: 8c4a056e-6709-4dd1-ba58-d34d9480855a
                              name: Ready to Start
                              color: yellow
                            - id: 5925ba22-0126-4b58-90c7-b8bbb2c3c895
                              name: Reading
                              color: red
                            - id: 59aa9043-07b4-4bf4-8734-3164b13af44a
                              name: Finished
                              color: blue
                            - id: f961978d-02eb-4998-933a-33c2ec378564
                              name: Listening
                              color: red
                            - id: 1d450853-b27a-45e2-979f-448aa1bd35de
                              name: Watching
                              color: red
                      Author:
                        id: qNw_
                        name: Author
                        type: multi_select
                        multi_select:
                          options:
                            - id: 15592971-7b30-43d5-9406-2eb69b13fcae
                              name: Spencer Greenberg
                              color: default
                            - id: b80a988e-dccf-4f74-b764-6ca0e49ed1b8
                              name: Seth Stephens-Davidowitz
                              color: default
                            - id: 0e71ee06-199d-46a4-834c-01084c8f76cb
                              name: Andrew Russell
                              color: default
                            - id: 5807ec38-4879-4455-9f30-5352e90e8b79
                              name: Lee Vinsel
                              color: default
                            - id: 4cf10a64-f3da-449c-8e04-ce6e338bbdbd
                              name: Megan Greenwell
                              color: default
                            - id: 833e2c78-35ed-4601-badc-50c323341d76
                              name: Kara Swisher
                              color: default
                            - id: 82e594e2-b1c5-4271-ac19-1a723a94a533
                              name: Paul Romer
                              color: default
                            - id: ae3a2cbe-1fc9-4376-be35-331628b34623
                              name: Karen Swallow Prior
                              color: default
                            - id: da068e78-dfe2-4434-9fd7-b7450b3e5830
                              name: Judith Shulevitz
                              color: default
                      Name:
                        id: title
                        name: Name
                        type: title
                        title: {}
                    parent:
                      type: page_id
                      page_id: c4d39556-6364-46a1-8a61-ebbb668f7445
                    url: https://www.notion.so/8e2c2b769e1d47d287b9ed3035d607ae
                    archived: false
                example-1:
                  summary: 200 Success - Retrieve a Database
                  value:
                    object: database
                    id: 8e2c2b76-9e1d-47d2-87b9-ed3035d607ae
                    cover: null
                    icon: null
                    created_time: '2021-04-27T20:38:00.000Z'
                    created_by:
                      object: user
                      id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                    last_edited_by:
                      object: user
                      id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                    last_edited_time: '2022-02-24T22:14:00.000Z'
                    title:
                      - type: text
                        text:
                          content: Ever Better Reading List Title
                          link: null
                        annotations:
                          bold: false
                          italic: false
                          strikethrough: false
                          underline: false
                          code: false
                          color: default
                        plain_text: Ever Better Reading List Title
                        href: null
                    properties:
                      Score /5:
                        id: )Y7%22
                        name: Score /5
                        type: select
                        select:
                          options:
                            - id: 5c944de7-3f4b-4567-b3a1-fa2c71c540b6
                              name: ⭐️⭐️⭐️⭐️⭐️
                              color: default
                            - id: b7307e35-c80a-4cb5-bb6b-6054523b394a
                              name: ⭐️⭐️⭐️⭐️
                              color: default
                            - id: 9b1e1349-8e24-40ba-bbca-84a61296bc81
                              name: ⭐️⭐️⭐️
                              color: default
                            - id: 66d3d050-086c-4a91-8c56-d55dc67e7789
                              name: ⭐️⭐️
                              color: default
                            - id: d3782c76-0396-467f-928e-46bf0c9d5fba
                              name: ⭐️
                              color: default
                      Type:
                        id: '%2F7eo'
                        name: Type
                        type: select
                        select:
                          options:
                            - id: f96d0d0a-5564-4a20-ab15-5f040d49759e
                              name: Article
                              color: default
                            - id: 4ac85597-5db1-4e0a-9c02-445575c38f76
                              name: TV Series
                              color: default
                            - id: 2991748a-5745-4c3b-9c9b-2d6846a6fa1f
                              name: Film
                              color: default
                            - id: 82f3bace-be25-410d-87fe-561c9c22492f
                              name: Podcast
                              color: default
                            - id: 861f1076-1cc4-429a-a781-54947d727a4a
                              name: Academic Journal
                              color: default
                            - id: 9cc30548-59d6-4cd3-94bc-d234081525c4
                              name: Essay Resource
                              color: default
                      Publisher:
                        id: '%3E%24Pb'
                        name: Publisher
                        type: select
                        select:
                          options:
                            - id: c5ee409a-f307-4176-99ee-6e424fa89afa
                              name: NYT
                              color: default
                            - id: 1b9b0c0c-17b0-4292-ad12-1364a51849de
                              name: Netflix
                              color: blue
                            - id: f3533637-278f-4501-b394-d9753bf3c101
                              name: Indie
                              color: brown
                            - id: e70d713c-4be4-4b40-a44d-fb413c8b9d7e
                              name: Bon Appetit
                              color: yellow
                            - id: 9c2bd667-0a10-4be4-a044-35a537a14ab9
                              name: Franklin Institute
                              color: pink
                            - id: 6849b5f0-e641-4ec5-83cb-1ffe23011060
                              name: Springer
                              color: orange
                            - id: 6a5bff63-a72d-4464-a5d0-1a601af2adf6
                              name: Emerald Group
                              color: gray
                            - id: 01f82d08-aa1f-4884-a4e0-3bc32f909ec4
                              name: The Atlantic
                              color: red
                      Summary:
                        id: '%3F%5C25'
                        name: Summary
                        type: rich_text
                        rich_text: {}
                      Publishing/Release Date:
                        id: '%3Fex%2B'
                        name: Publishing/Release Date
                        type: date
                        date: {}
                      Link:
                        id: VVMi
                        name: Link
                        type: url
                        url: {}
                      Read:
                        id: _MWJ
                        name: Read
                        type: checkbox
                        checkbox: {}
                      Status:
                        id: '%60zz5'
                        name: Status
                        type: select
                        select:
                          options:
                            - id: 8c4a056e-6709-4dd1-ba58-d34d9480855a
                              name: Ready to Start
                              color: yellow
                            - id: 5925ba22-0126-4b58-90c7-b8bbb2c3c895
                              name: Reading
                              color: red
                            - id: 59aa9043-07b4-4bf4-8734-3164b13af44a
                              name: Finished
                              color: blue
                            - id: f961978d-02eb-4998-933a-33c2ec378564
                              name: Listening
                              color: red
                            - id: 1d450853-b27a-45e2-979f-448aa1bd35de
                              name: Watching
                              color: red
                      Author:
                        id: qNw_
                        name: Author
                        type: multi_select
                        multi_select:
                          options:
                            - id: 15592971-7b30-43d5-9406-2eb69b13fcae
                              name: Spencer Greenberg
                              color: default
                            - id: b80a988e-dccf-4f74-b764-6ca0e49ed1b8
                              name: Seth Stephens-Davidowitz
                              color: default
                            - id: 0e71ee06-199d-46a4-834c-01084c8f76cb
                              name: Andrew Russell
                              color: default
                            - id: 5807ec38-4879-4455-9f30-5352e90e8b79
                              name: Lee Vinsel
                              color: default
                            - id: 4cf10a64-f3da-449c-8e04-ce6e338bbdbd
                              name: Megan Greenwell
                              color: default
                            - id: 833e2c78-35ed-4601-badc-50c323341d76
                              name: Kara Swisher
                              color: default
                            - id: 82e594e2-b1c5-4271-ac19-1a723a94a533
                              name: Paul Romer
                              color: default
                            - id: ae3a2cbe-1fc9-4376-be35-331628b34623
                              name: Karen Swallow Prior
                              color: default
                            - id: da068e78-dfe2-4434-9fd7-b7450b3e5830
                              name: Judith Shulevitz
                              color: default
                      Name:
                        id: title
                        name: Name
                        type: title
                        title: {}
                    parent:
                      type: page_id
                      page_id: c4d39556-6364-46a1-8a61-ebbb668f7445
                    url: https://www.notion.so/8e2c2b769e1d47d287b9ed3035d607ae
                    archived: false
    patch:
      tags:
        - Databases
      summary: Update database properties
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                properties:
                  Wine Pairing:
                    name: New Property Name
      parameters:
        - name: Notion-Version
          in: header
          schema:
            type: string
          example: '{{NOTION_VERSION}}'
        - name: id
          in: path
          schema:
            type: string
          required: true
          example: '{{DATABASE_ID}}'
      responses:
        '200':
          description: OK
          headers:
            Date:
              schema:
                type: string
                example: Thu, 24 Feb 2022 22:08:21 GMT
            Content-Type:
              schema:
                type: string
                example: application/json; charset=utf-8
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            Connection:
              schema:
                type: string
                example: keep-alive
            Set-Cookie:
              schema:
                type: string
                example: >-
                  notion_check_cookie_consent=false; Domain=www.notion.so;
                  Path=/; Expires=Fri, 25 Feb 2022 22:08:21 GMT; Secure
            X-DNS-Prefetch-Control:
              schema:
                type: string
                example: 'off'
            X-Frame-Options:
              schema:
                type: string
                example: SAMEORIGIN
            Strict-Transport-Security:
              schema:
                type: string
                example: max-age=5184000; includeSubDomains
            X-Download-Options:
              schema:
                type: string
                example: noopen
            X-Content-Type-Options:
              schema:
                type: string
                example: nosniff
            X-XSS-Protection:
              schema:
                type: string
                example: 1; mode=block
            Referrer-Policy:
              schema:
                type: string
                example: same-origin
            Content-Security-Policy:
              schema:
                type: string
                example: >-
                  script-src 'self' 'unsafe-inline' 'unsafe-eval'
                  https://gist.github.com https://apis.google.com
                  https://cdn.amplitude.com https://api.amplitude.com
                  https://hkfxbbdzib.notion.so https://widget.intercom.io
                  https://js.intercomcdn.com https://logs-01.loggly.com
                  https://cdn.segment.com https://analytics.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://embed.typeform.com
                  https://admin.typeform.com https://public.profitwell.com
                  js.sentry-cdn.com https://js.chilipiper.com
                  https://platform.twitter.com
                  https://cdn.syndication.twimg.com; connect-src 'self'
                  https://msgstore.www.notion.so wss://msgstore.www.notion.so
                  ws://localhost:* ws://127.0.0.1:*
                  https://notion-emojis.s3-us-west-2.amazonaws.com
                  https://s3-us-west-2.amazonaws.com
                  https://s3.us-west-2.amazonaws.com
                  https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
                  https: http: https://cdn.amplitude.com
                  https://api.amplitude.com https://hkfxbbdzib.notion.so
                  https://api.embed.ly https://js.intercomcdn.com
                  https://api-iam.intercom.io
                  wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
                  https://cdn.segment.com https://api.segment.io
                  https://analytics.pgncs.notion.so https://api.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://cdn.contentful.com
                  https://preview.contentful.com https://images.ctfassets.net
                  https://www2.profitwell.com https://tracking.chilipiper.com
                  https://api.chilipiper.com https://api.unsplash.com
                  https://boards-api.greenhouse.io https://api.statuspage.io
                  https://pgncd.notion.so https://api.statsig.com; font-src
                  'self' data: https://cdnjs.cloudflare.com
                  https://js.intercomcdn.com; img-src 'self' data: blob: https:
                  https://platform.twitter.com https://syndication.twitter.com
                  https://pbs.twimg.com https://ton.twimg.com; style-src 'self'
                  'unsafe-inline' https://cdnjs.cloudflare.com
                  https://github.githubassets.com https://js.chilipiper.com
                  https://platform.twitter.com https://ton.twimg.com; frame-src
                  https: http:; media-src https: http:
            X-Content-Security-Policy:
              schema:
                type: string
                example: >-
                  script-src 'self' 'unsafe-inline' 'unsafe-eval'
                  https://gist.github.com https://apis.google.com
                  https://cdn.amplitude.com https://api.amplitude.com
                  https://hkfxbbdzib.notion.so https://widget.intercom.io
                  https://js.intercomcdn.com https://logs-01.loggly.com
                  https://cdn.segment.com https://analytics.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://embed.typeform.com
                  https://admin.typeform.com https://public.profitwell.com
                  js.sentry-cdn.com https://js.chilipiper.com
                  https://platform.twitter.com
                  https://cdn.syndication.twimg.com; connect-src 'self'
                  https://msgstore.www.notion.so wss://msgstore.www.notion.so
                  ws://localhost:* ws://127.0.0.1:*
                  https://notion-emojis.s3-us-west-2.amazonaws.com
                  https://s3-us-west-2.amazonaws.com
                  https://s3.us-west-2.amazonaws.com
                  https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
                  https: http: https://cdn.amplitude.com
                  https://api.amplitude.com https://hkfxbbdzib.notion.so
                  https://api.embed.ly https://js.intercomcdn.com
                  https://api-iam.intercom.io
                  wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
                  https://cdn.segment.com https://api.segment.io
                  https://analytics.pgncs.notion.so https://api.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://cdn.contentful.com
                  https://preview.contentful.com https://images.ctfassets.net
                  https://www2.profitwell.com https://tracking.chilipiper.com
                  https://api.chilipiper.com https://api.unsplash.com
                  https://boards-api.greenhouse.io https://api.statuspage.io
                  https://pgncd.notion.so https://api.statsig.com; font-src
                  'self' data: https://cdnjs.cloudflare.com
                  https://js.intercomcdn.com; img-src 'self' data: blob: https:
                  https://platform.twitter.com https://syndication.twitter.com
                  https://pbs.twimg.com https://ton.twimg.com; style-src 'self'
                  'unsafe-inline' https://cdnjs.cloudflare.com
                  https://github.githubassets.com https://js.chilipiper.com
                  https://platform.twitter.com https://ton.twimg.com; frame-src
                  https: http:; media-src https: http:
            X-WebKit-CSP:
              schema:
                type: string
                example: >-
                  script-src 'self' 'unsafe-inline' 'unsafe-eval'
                  https://gist.github.com https://apis.google.com
                  https://cdn.amplitude.com https://api.amplitude.com
                  https://hkfxbbdzib.notion.so https://widget.intercom.io
                  https://js.intercomcdn.com https://logs-01.loggly.com
                  https://cdn.segment.com https://analytics.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://embed.typeform.com
                  https://admin.typeform.com https://public.profitwell.com
                  js.sentry-cdn.com https://js.chilipiper.com
                  https://platform.twitter.com
                  https://cdn.syndication.twimg.com; connect-src 'self'
                  https://msgstore.www.notion.so wss://msgstore.www.notion.so
                  ws://localhost:* ws://127.0.0.1:*
                  https://notion-emojis.s3-us-west-2.amazonaws.com
                  https://s3-us-west-2.amazonaws.com
                  https://s3.us-west-2.amazonaws.com
                  https://notion-production-snapshots-2.s3.us-west-2.amazonaws.com
                  https: http: https://cdn.amplitude.com
                  https://api.amplitude.com https://hkfxbbdzib.notion.so
                  https://api.embed.ly https://js.intercomcdn.com
                  https://api-iam.intercom.io
                  wss://nexus-websocket-a.intercom.io https://logs-01.loggly.com
                  https://cdn.segment.com https://api.segment.io
                  https://analytics.pgncs.notion.so https://api.pgncs.notion.so
                  https://o324374.ingest.sentry.io https://checkout.stripe.com
                  https://js.stripe.com https://cdn.contentful.com
                  https://preview.contentful.com https://images.ctfassets.net
                  https://www2.profitwell.com https://tracking.chilipiper.com
                  https://api.chilipiper.com https://api.unsplash.com
                  https://boards-api.greenhouse.io https://api.statuspage.io
                  https://pgncd.notion.so https://api.statsig.com; font-src
                  'self' data: https://cdnjs.cloudflare.com
                  https://js.intercomcdn.com; img-src 'self' data: blob: https:
                  https://platform.twitter.com https://syndication.twitter.com
                  https://pbs.twimg.com https://ton.twimg.com; style-src 'self'
                  'unsafe-inline' https://cdnjs.cloudflare.com
                  https://github.githubassets.com https://js.chilipiper.com
                  https://platform.twitter.com https://ton.twimg.com; frame-src
                  https: http:; media-src https: http:
            ETag:
              schema:
                type: string
                example: W/"1154-yKzD7frwaV985/9YIfi9OFRzhEo"
            Vary:
              schema:
                type: string
                example: Accept-Encoding
            Content-Encoding:
              schema:
                type: string
                example: gzip
            CF-Cache-Status:
              schema:
                type: string
                example: DYNAMIC
            Expect-CT:
              schema:
                type: string
                example: >-
                  max-age=604800,
                  report-uri="https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct"
            Server:
              schema:
                type: string
                example: cloudflare
            CF-RAY:
              schema:
                type: string
                example: 6e2c03133bd697c3-SJC
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: 200 Success - Update a Database
                  value:
                    object: database
                    id: 8e2c2b76-9e1d-47d2-87b9-ed3035d607ae
                    cover: null
                    icon: null
                    created_time: '2021-04-27T20:38:00.000Z'
                    created_by:
                      object: user
                      id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                    last_edited_by:
                      object: user
                      id: 92a680bb-6970-4726-952b-4f4c03bff617
                    last_edited_time: '2022-02-24T22:08:00.000Z'
                    title:
                      - type: text
                        text:
                          content: Ever Better Reading List Title
                          link: null
                        annotations:
                          bold: false
                          italic: false
                          strikethrough: false
                          underline: false
                          code: false
                          color: default
                        plain_text: Ever Better Reading List Title
                        href: null
                    properties:
                      Score /5:
                        id: )Y7"
                        name: Score /5
                        type: select
                        select:
                          options:
                            - id: 5c944de7-3f4b-4567-b3a1-fa2c71c540b6
                              name: ⭐️⭐️⭐️⭐️⭐️
                              color: default
                            - id: b7307e35-c80a-4cb5-bb6b-6054523b394a
                              name: ⭐️⭐️⭐️⭐️
                              color: default
                            - id: 9b1e1349-8e24-40ba-bbca-84a61296bc81
                              name: ⭐️⭐️⭐️
                              color: default
                            - id: 66d3d050-086c-4a91-8c56-d55dc67e7789
                              name: ⭐️⭐️
                              color: default
                            - id: d3782c76-0396-467f-928e-46bf0c9d5fba
                              name: ⭐️
                              color: default
                      Type:
                        id: /7eo
                        name: Type
                        type: select
                        select:
                          options:
                            - id: f96d0d0a-5564-4a20-ab15-5f040d49759e
                              name: Article
                              color: default
                            - id: 4ac85597-5db1-4e0a-9c02-445575c38f76
                              name: TV Series
                              color: default
                            - id: 2991748a-5745-4c3b-9c9b-2d6846a6fa1f
                              name: Film
                              color: default
                            - id: 82f3bace-be25-410d-87fe-561c9c22492f
                              name: Podcast
                              color: default
                            - id: 861f1076-1cc4-429a-a781-54947d727a4a
                              name: Academic Journal
                              color: default
                            - id: 9cc30548-59d6-4cd3-94bc-d234081525c4
                              name: Essay Resource
                              color: default
                      Publisher:
                        id: '>$Pb'
                        name: Publisher
                        type: select
                        select:
                          options:
                            - id: c5ee409a-f307-4176-99ee-6e424fa89afa
                              name: NYT
                              color: default
                            - id: 1b9b0c0c-17b0-4292-ad12-1364a51849de
                              name: Netflix
                              color: blue
                            - id: f3533637-278f-4501-b394-d9753bf3c101
                              name: Indie
                              color: brown
                            - id: e70d713c-4be4-4b40-a44d-fb413c8b9d7e
                              name: Bon Appetit
                              color: yellow
                            - id: 9c2bd667-0a10-4be4-a044-35a537a14ab9
                              name: Franklin Institute
                              color: pink
                            - id: 6849b5f0-e641-4ec5-83cb-1ffe23011060
                              name: Springer
                              color: orange
                            - id: 6a5bff63-a72d-4464-a5d0-1a601af2adf6
                              name: Emerald Group
                              color: gray
                            - id: 01f82d08-aa1f-4884-a4e0-3bc32f909ec4
                              name: The Atlantic
                              color: red
                      Summary:
                        id: '?\25'
                        name: Summary
                        type: rich_text
                        rich_text: {}
                      Publishing/Release Date:
                        id: '?ex+'
                        name: Publishing/Release Date
                        type: date
                        date: {}
                      Link:
                        id: VVMi
                        name: Link
                        type: url
                        url: {}
                      Wine Pairing:
                        id: Y=H]
                        name: Wine Pairing
                        type: rich_text
                        rich_text: {}
                      Read:
                        id: _MWJ
                        name: Read
                        type: checkbox
                        checkbox: {}
                      Status:
                        id: '`zz5'
                        name: Status
                        type: select
                        select:
                          options:
                            - id: 8c4a056e-6709-4dd1-ba58-d34d9480855a
                              name: Ready to Start
                              color: yellow
                            - id: 5925ba22-0126-4b58-90c7-b8bbb2c3c895
                              name: Reading
                              color: red
                            - id: 59aa9043-07b4-4bf4-8734-3164b13af44a
                              name: Finished
                              color: blue
                            - id: f961978d-02eb-4998-933a-33c2ec378564
                              name: Listening
                              color: red
                            - id: 1d450853-b27a-45e2-979f-448aa1bd35de
                              name: Watching
                              color: red
                      Author:
                        id: qNw_
                        name: Author
                        type: multi_select
                        multi_select:
                          options:
                            - id: 15592971-7b30-43d5-9406-2eb69b13fcae
                              name: Spencer Greenberg
                              color: default
                            - id: b80a988e-dccf-4f74-b764-6ca0e49ed1b8
                              name: Seth Stephens-Davidowitz
                              color: default
                            - id: 0e71ee06-199d-46a4-834c-01084c8f76cb
                              name: Andrew Russell
                              color: default
                            - id: 5807ec38-4879-4455-9f30-5352e90e8b79
                              name: Lee Vinsel
                              color: default
                            - id: 4cf10a64-f3da-449c-8e04-ce6e338bbdbd
                              name: Megan Greenwell
                              color: default
                            - id: 833e2c78-35ed-4601-badc-50c323341d76
                              name: Kara Swisher
                              color: default
                            - id: 82e594e2-b1c5-4271-ac19-1a723a94a533
                              name: Paul Romer
                              color: default
                            - id: ae3a2cbe-1fc9-4376-be35-331628b34623
                              name: Karen Swallow Prior
                              color: default
                            - id: da068e78-dfe2-4434-9fd7-b7450b3e5830
                              name: Judith Shulevitz
                              color: default
                      Name:
                        id: title
                        name: Name
                        type: title
                        title: {}
                    parent:
                      type: page_id
                      page_id: c4d39556-6364-46a1-8a61-ebbb668f7445
                    url: https://www.notion.so/8e2c2b769e1d47d287b9ed3035d607ae
                    archived: false
                example-1:
                  summary: 200 Success - Update a Database
                  value:
                    object: database
                    id: 8e2c2b76-9e1d-47d2-87b9-ed3035d607ae
                    cover: null
                    icon: null
                    created_time: '2021-04-27T20:38:00.000Z'
                    created_by:
                      object: user
                      id: 6794760a-1f15-45cd-9c65-0dfe42f5135a
                    last_edited_by:
                      object: user
                      id: 92a680bb-6970-4726-952b-4f4c03bff617
                    last_edited_time: '2022-02-24T22:08:00.000Z'
                    title:
                      - type: text
                        text:
                          content: Ever Better Reading List Title
                          link: null
                        annotations:
                          bold: false
                          italic: false
                          strikethrough: false
                          underline: false
                          code: false
                          color: default
                        plain_text: Ever Better Reading List Title
                        href: null
                    properties:
                      Score /5:
                        id: )Y7"
                        name: Score /5
                        type: select
                        select:
                          options:
                            - id: 5c944de7-3f4b-4567-b3a1-fa2c71c540b6
                              name: ⭐️⭐️⭐️⭐️⭐️
                              color: default
                            - id: b7307e35-c80a-4cb5-bb6b-6054523b394a
                              name: ⭐️⭐️⭐️⭐️
                              color: default
                            - id: 9b1e1349-8e24-40ba-bbca-84a61296bc81
                              name: ⭐️⭐️⭐️
                              color: default
                            - id: 66d3d050-086c-4a91-8c56-d55dc67e7789
                              name: ⭐️⭐️
                              color: default
                            - id: d3782c76-0396-467f-928e-46bf0c9d5fba
                              name: ⭐️
                              color: default
                      Type:
                        id: /7eo
                        name: Type
                        type: select
                        select:
                          options:
                            - id: f96d0d0a-5564-4a20-ab15-5f040d49759e
                              name: Article
                              color: default
                            - id: 4ac85597-5db1-4e0a-9c02-445575c38f76
                              name: TV Series
                              color: default
                            - id: 2991748a-5745-4c3b-9c9b-2d6846a6fa1f
                              name: Film
                              color: default
                            - id: 82f3bace-be25-410d-87fe-561c9c22492f
                              name: Podcast
                              color: default
                            - id: 861f1076-1cc4-429a-a781-54947d727a4a
                              name: Academic Journal
                              color: default
                            - id: 9cc30548-59d6-4cd3-94bc-d234081525c4
                              name: Essay Resource
                              color: default
                      Publisher:
                        id: '>$Pb'
                        name: Publisher
                        type: select
                        select:
                          options:
                            - id: c5ee409a-f307-4176-99ee-6e424fa89afa
                              name: NYT
                              color: default
                            - id: 1b9b0c0c-17b0-4292-ad12-1364a51849de
                              name: Netflix
                              color: blue
                            - id: f3533637-278f-4501-b394-d9753bf3c101
                              name: Indie
                              color: brown
                            - id: e70d713c-4be4-4b40-a44d-fb413c8b9d7e
                              name: Bon Appetit
                              color: yellow
                            - id: 9c2bd667-0a10-4be4-a044-35a537a14ab9
                              name: Franklin Institute
                              color: pink
                            - id: 6849b5f0-e641-4ec5-83cb-1ffe23011060
                              name: Springer
                              color: orange
                            - id: 6a5bff63-a72d-4464-a5d0-1a601af2adf6
                              name: Emerald Group
                              color: gray
                            - id: 01f82d08-aa1f-4884-a4e0-3bc32f909ec4
                              name: The Atlantic
                              color: red
                      Summary:
                        id: '?\25'
                        name: Summary
                        type: rich_text
                        rich_text: {}
                      Publishing/Release Date:
                        id: '?ex+'
                        name: Publishing/Release Date
                        type: date
                        date: {}
                      Link:
                        id: VVMi
                        name: Link
                        type: url
                        url: {}
                      Wine Pairing:
                        id: Y=H]
                        name: Wine Pairing
                        type: rich_text
                        rich_text: {}
                      Read:
                        id: _MWJ
                        name: Read
                        type: checkbox
                        checkbox: {}
[...]
