# These environment variables are assuming the local docker compose setup is running
REDPANDA_BROKERS="localhost:19092"
REDPANDA_USER=""
REDPANDA_PASS=""
SASL_MECHANISM=""
INDEXING_CONSUMER="rp.ai.rag.indexing.v1"
POSTGRES_DSN="postgresql://myuser:mypassword@localhost:5432/mydatabase?sslmode=disable"
POSTGRES_TABLE="rp_ai_rag"
OPENAI_API_KEY=''
COHERE_API_KEY=''
GCP_PROJECT=''
