name: Cross Build

on:
  workflow_dispatch: {}
  schedule:
    - cron: '0 0 * * *' # Once per day

jobs:
  cross-build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest-32, macos-latest]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: write
    env:
      CGO_ENABLED: 0
    steps:

    - name: Checkout code
      uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Install Go
      uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'

    - name: GoReleaser
      uses: goreleaser/goreleaser-action@v6
      with:
        args: release --snapshot --timeout 120m --config ./.goreleaser/connect.yaml
