name: Integration Tests

on:
  schedule:
    # Run every day at 1AM UTC
    - cron: '0 1 * * *'
  pull_request:
  workflow_dispatch:

jobs:
  integration-test:
    # if: ${{ github.event_name != 'pull_request' || startsWith(github.event.pull_request.title, 'build(deps)') }}
    if: ${{ github.event_name == 'pull_request' || startsWith(github.event.pull_request.title, 'build(deps)') }}
    runs-on: ubuntu-latest-32
    env:
      CGO_ENABLED: 0
    strategy:
      fail-fast: false
      matrix:
        package:
          # - ./internal/impl/amqp09
          # - ./internal/impl/amqp1
          # - ./internal/impl/aws
          # # - ./internal/impl/azure
          # # - ./internal/impl/beanstalkd
          # - ./internal/impl/cassandra
          # - ./internal/impl/cockroachdb
          # # - ./internal/impl/couchbase
          # - ./internal/impl/elasticsearch/v8
          # - ./internal/impl/elasticsearch/v9
          # # - ./internal/impl/gcp
          # - ./internal/impl/gcp/enterprise
          # # - ./internal/impl/gcp/enterprise/changestreams
          # # - ./internal/impl/gcp/enterprise/changestreams/metadata
          # - ./internal/impl/hdfs
          # - ./internal/impl/influxdb
          # # - ./internal/impl/kafka
          # - ./internal/impl/kafka/enterprise
          # - ./internal/impl/memcached
          # - ./internal/impl/mssqlserver
          # - ./internal/impl/mongodb
          # - ./internal/impl/mongodb/cdc
          # # - ./internal/impl/mqtt
          # - ./internal/impl/mysql
          # # - ./internal/impl/nanomsg
          # # - ./internal/impl/nats
          # - ./internal/impl/nsq
          # - ./internal/impl/opensearch
          - ./internal/impl/postgresql
          # - ./internal/impl/pulsar
          # - ./internal/impl/qdrant
          # # - ./internal/impl/questdb
          # - ./internal/impl/redis
          # - ./internal/impl/redpanda/migrator
          # - ./internal/impl/sftp
          # # - ./internal/impl/snowflake
          # - ./internal/impl/snowflake/streaming
          # # - ./internal/impl/splunk
          # - ./internal/impl/sql

          # Requires CGO_ENABLED=1
          # - ./internal/impl/tigerbeetle
          # - ./internal/impl/zeromq

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Install Task
        uses: ./.github/actions/setup-task

      - name: Pull Latest Redpanda Image 
        run: task docker:pull-redpanda

      - name: Run Integration Tests for ${{ matrix.package }}
        run: task test:integration-package PKG=${{ matrix.package }}
        timeout-minutes: 30
