name: Integration Tests

on:
  schedule:
    # Run every day at 2AM UTC
    - cron: '0 2 * * *'
  workflow_dispatch:
    # Allow manual triggering

jobs:
  integration-test:
    if: ${{ github.repository == 'redpanda-data/connect' }}
    runs-on: ubuntu-latest
    env:
      CGO_ENABLED: 0
    strategy:
      fail-fast: false
      matrix:
        package:
          - ./internal/impl/amqp09
          - ./internal/impl/amqp1
          - ./internal/impl/aws
          - ./internal/impl/azure
          - ./internal/impl/beanstalkd
          - ./internal/impl/cassandra
          - ./internal/impl/cockroachdb
          - ./internal/impl/couchbase
          - ./internal/impl/elasticsearch/v8
          - ./internal/impl/gcp
          - ./internal/impl/gcp/enterprise
          - ./internal/impl/gcp/enterprise/changestreams
          - ./internal/impl/gcp/enterprise/changestreams/metadata
          - ./internal/impl/hdfs
          - ./internal/impl/influxdb
          - ./internal/impl/kafka
          - ./internal/impl/kafka/enterprise
          - ./internal/impl/memcached
          - ./internal/impl/mongodb
          - ./internal/impl/mongodb/cdc
          - ./internal/impl/mqtt
          - ./internal/impl/mysql
          - ./internal/impl/nanomsg
          - ./internal/impl/nats
          - ./internal/impl/nsq
          - ./internal/impl/opensearch
          - ./internal/impl/postgresql
          - ./internal/impl/pulsar
          - ./internal/impl/qdrant
          - ./internal/impl/questdb
          - ./internal/impl/redis
          - ./internal/impl/sftp
          - ./internal/impl/snowflake
          - ./internal/impl/snowflake/streaming
          - ./internal/impl/splunk
          - ./internal/impl/sql
          - ./internal/impl/zeromq

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Install Task
        uses: ./.github/actions/setup-task

      - name: Run Integration Tests for ${{ matrix.package }}
        run: task test:integration-package PKG=${{ matrix.package }}
        timeout-minutes: 30
